<ul class="nav nav-tabs" id="dashboard">
    <li class="nav-item">
        <a class="nav-link" asp-controller="Book" asp-action="Index">Книги</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"asp-controller="Users" asp-action="Index">Пользователи</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Подписки</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Subscriptions" asp-action="Index">Абонементы</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"  asp-controller="Texts" asp-action="Index">Тексты</a>
    </li>
</ul>