<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link href="https://fonts.googleapis.com/css?family=Kurale&display=swap&subset=cyrillic" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <link href="~/lib/select2-4.0.8/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/lib/select2-bootstrap4-theme-master/dist/select2-bootstrap4.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
   
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li><a asp-controller="Home" asp-action="Index">
                            <img src="~/skin/logo_header.png" style="width: 130px; "/></a></li>
                        <li class="nav-item">
                            <a class="nav-link text-dark"  asp-controller="Book" asp-action="Index" style="font-size: 20px; padding-left: 40px">Книги</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark"  asp-controller="Home" asp-action="Help" style="font-size: 20px; padding-left: 20px">Помощь</a>
                        </li>
                        <li class="nav-item">
                            @if (User.Identity.IsAuthenticated)
                            {
                                @if (User.IsInRole("Admin"))
                                {
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="IndexAdmin" style="font-size: 20px; padding-left: 20px">Администрация</a>
                                }
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <partial name="_CookieConsentPartial" />
        <main id="content" style="padding-top:0;">
            @RenderBody()
        </main>
    </div>
    <footer>
        <div id="footer">
            <div class="container">
                <a asp-controller="Home" asp-action="Index"></a>
                <div class="row">
                    <div class="col-md-3">
                        <h5>Книговище</h5>
                        <a asp-controller="Home" asp-action="Team">О нас</a><div style="height:15px;"></div>
                        <a asp-controller="Subscriptions" asp-action="Index">Типы абонементов</a><div style="height:15px;"></div>
                        <a asp-controller="Texts" asp-action="Index">Блог</a><div style="height:15px;"></div>
                        <a asp-controller="Home" asp-action="Partners">Партнеры</a><div style="height:15px;"></div>
                        <a asp-controller="Home" asp-action="TermsOfUse">Условия пользования</a><div style="height:15px;"></div>
                        <a asp-controller="Home" asp-action="Policy">Политика конфиденциальности</a><div style="height:15px;"></div>
                    </div>
                    <div class="col-md-3">
                        <h5>Помощь</h5>
                        <a asp-controller="Home" asp-action="Help">Как это работает?</a><div style="height:15px;"></div>
                        <a asp-controller="Home" asp-action="CreateClass">Как создать группу КЛАСС</a><div style="height:15px;"></div>
                        <a asp-controller="Home" asp-action="UseClass">Как использовать группу КЛАСС</a><div style="height:15px;"></div>
                        <a asp-controller="Home" asp-action="CreateFamily">Как создать группу СЕМЬЯ</a><div style="height:15px;"></div>
                        <a asp-controller="Home" asp-action="UseFamily">Как использовать группу СЕМЬЯ</a><div style="height:15px;"></div>
                        <a asp-controller="Home" asp-action="Activate">Активировать подписку с помощью ключа</a><div style="height:15px;"></div>
                        <a asp-controller="Home" asp-action="Faq">Часто задаваемые вопросы</a><div style="height:15px;"></div>
                    </div>
                    <div class="col-md-3">
                        <h5>Викторины</h5>
                        <a asp-controller="Book" asp-action="Index" asp-route-category="1">Художественная литература</a><div style="height:15px;"></div>
                        <a asp-controller="Book" asp-action="Index" asp-route-category="2">Научнопопулярная литература</a><div style="height:15px;"></div>
                        <a asp-controller="Home" asp-action="CreateQuiz">Создать викторину</a><div style="height:15px;"></div>
                    </div>
                    <div class="col-md-3">
                        <h5>Связаться с нами</h5>
                        <div class="contact"><span class="icon"><i class="fa fa-envelope"></i></span> <a href="mailto:info@knigovishe.ru">info@knigovishe.ru</a></div><div style="height:5px;"></div>
                        <div class="contact" style="white-space:nowrap;"><span class="icon"><i class="fa fa-facebook-f"></i></span> <a href="https://www.facebook.com/Knigovishte/" target="_blank">www.facebook.com/Knigovishte</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div style="height: 50px; background: #232323; color: white">
            <div style="line-height: 50px;" class="container" >&copy; 2019 - Knigovishe.ru</div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js" ></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
<environment exclude="Development">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
    </script>
</environment>

@RenderSection("Scripts", required: false)
</body>
</html>

