@using Knigosha.Core.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" href="#">@User.Identity.Name</a>
        </li>
    }
    else
    {
        <li class="nav-item" id="parent">
            <div id="dropdown">
                <a href="" class="nav-link text-dark" id="OffSet" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Войти</a>
                <div class="dropdown-menu" aria-labelledby="OffSet" id="dropdownDiv">
                    <form method="post" id="loginForm">
                        @Html.AntiForgeryToken()
                        <div class="form-group" id="loginEmailDiv">
                            <label>Адрес почты</label>
                            <input type="email" class="form-control" id="loginEmail" />
                        </div>
                        <div class="form-group" id="loginPasswordDiv">
                            <label>Пароль</label>
                            <input type="password" class="form-control" id="loginPassword" />
                        </div>
                        <div class="form-group" id="remembermeDiv">
                            <input type="checkbox" id="rememberme" />
                            <label>Запомнить меня</label>
                        </div>
                        <div class="form-group">
                            <button id="loginButton" type="button" class="green-flat-button">Войти</button>
                        </div>
                        <div class="form-group">
                            <a asp-controller="Account" asp-action="ForgotPassword" id="forgotPass">Забыли пароль?</a>
                            <a asp-controller="Account" asp-action="Register" id="registerLink">Зарегестрироваться</a>
                        </div>
                    </form>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Регистрация</a>
        </li>

    }
</ul>

