@model Knigosha.Core.ViewModels.AccountViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Забыл пароль?";
}
<div style="text-align: center; min-height: calc(100vh - 360px); ">
    <div class="col-md-5" id="forgot" style="margin-top: 90px;">
        <form asp-action="ForgotPassword" method="post">
            <h5><strong>Забыл пароль или имя пользователя?</strong></h5>
            <div class="form-group">

                <div style="text-align: center; padding-bottom: 10px;">Введи адрес электронной почты и мы вышлем 
                    тебе имя пользователя с инструкциями по смене пароля:</div>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="button centerButton">Отправить</button>
        </form>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
