@model Knigosha.Core.ViewModels.AccountViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Забыли пароль?";
}
<div style="text-align: center">
    <div class="col-md-5" id="forgot">
        <form asp-action="ForgotPassword" method="post">
            <h5><strong>Забыли пароль или имя пользователя?</strong></h5>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" id="forgotButton" class="green-flat-button">Отправить</button>
        </form>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
