@using System.Collections.Generic
@using System.Linq
@using Knigosha.Core.Models
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.AspNetCore.Identity
@model Knigosha.Core.ViewModels.AccountViewModels.LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Log in";
}
<div style="text-align: center; min-height: calc(100vh - 360px); ">
    <div class="col-md-5" id="login">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" id="loginForm">
                <h5><strong>Вход в профиль</strong></h5>
                <p>Пожалуйста, введи свои данные.</p>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group" id="loginEmailDiv">
                    <label>Адрес почты/имя пользователя</label>
                    <input asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group" id="loginPasswordDiv">
                    <label asp-for="Password">Пароль</label>
                    <input asp-for="Password" class="form-control"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group" id="remembermeDiv">
                    <div class="checkbox">
                        <label >
                            <input asp-for="RememberMe"/>
                            Запомнить меня
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="button centerButton" id="loginButton">Войти</button>
                </div>
                <div class="form-group" id="forgotPasswordDiv">
                    <p id="forgotPassword">
                        <a asp-action="ForgotPassword">Забыл пароль?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
