@using Knigosha.Core.Models.Enums
@model Knigosha.Core.ViewModels.AccountViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Регистрация";
}

<div style="text-align: center">
    <div id="registration" class="col-md-5">

        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h4><strong>Регистрация профиля</strong></h4>
            <p>Чтобы получить доступ к вопросникам, пожалуйста, введите Ваши данные.</p>
            <hr />
            <div class="form-group">
                <label asp-for="UserType"></label>
                <select asp-for="UserType" asp-items="Html.GetEnumSelectList<UserTypes>()" class="form-control" id="userType"></select>
            </div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <p id="text"><strong>*Пожалуйста, введите адрес Вашей электронной почты или адрес электронной почты одного из родителей:</strong></p>
            <div class="form-group" id="emailDiv">
                <label>Адрес электронной почты:</label>
                <input asp-for="Email" class="form-control" id="email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group" id="requiredEmailDiv">
                <label>*Адрес электронной почты:</label>
                <input asp-for="RequiredEmail" class="form-control" id="requiredEmail" />
                <span asp-validation-for="RequiredEmail" class="text-danger"></span>
            </div>
            <div class="form-group" id="parentEmailDiv">
                <label asp-for="ParentEmail"></label>
                <input asp-for="ParentEmail" class="form-control" id="parentEmail" />
                <span asp-validation-for="ParentEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group" id="countriesDiv">
                <label asp-for="Country"></label>
                <select asp-for="Country"
                        class="form-control"
                        id="countries">
                </select>
            </div>

            <div class="form-group" id="mainCitiesRussiaDiv">
                <label asp-for="MainCityRussia"></label>
                <select asp-for="MainCityRussia"
                        class="form-control"
                        id="mainCitiesRussia">
                </select>
            </div>

            <div class="form-group" id="cityInputDiv">
                <label asp-for="CityInput"></label>
                <input asp-for="CityInput" class="form-control" id="cityInput" />
            </div>


            <div class="form-group" id="schoolsSelectDiv">
                <label asp-for="SchoolSelect"></label>
                <select asp-for="SchoolSelect" class="form-control" id="schoolsSelect"></select>
            </div>

            <div class="form-group" id="schoolInputDiv">
                <label asp-for="SchoolInput"></label>
                <input asp-for="SchoolInput" class="form-control" id="schoolInput" />
            </div>

            <div class="form-group" id="gradeDiv">
                <label asp-for="Grade"></label>
                <select asp-for="Grade" asp-items="Html.GetEnumSelectList<Grades>()" class="form-control"></select>

            </div>
            <div class="form-group" id="parallelDiv">
                <label asp-for="Parallel"></label>
                <input asp-for="Parallel" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ActivationCode"></label>
                <input asp-for="ActivationCode" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" data-toggle="password" />
            </div>

            <div class="form-group">
                <input asp-for="IsSubscribedToNewsletter" />
                <label asp-for="IsSubscribedToNewsletter"></label>
            </div>
            <div class="form-group">
                <input asp-for="TermsOfUse" />
                <label>Я подтверждаю согласие с <a asp-controller="Home" asp-action="Help">Условиями пользования</a></label>
            </div>
            <button type="submit" class="pumpkin-flat-button">Регистрация</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script src="https://unpkg.com/bootstrap-show-password@1.2.1/dist/bootstrap-show-password.min.js"></script>

    <script>

        $(document).ready(function () {

            var serviceToken = "9a2cc7629a2cc7629a2cc7628e9a4084c199a2c9a2cc762c77e6033cd66439600a91745";
            var currentApiVersion = "5.101";
            var russian = "0";
            var russiaId = "1";
            var student = "1";
            var teacher = "2";
            var parent = "3";
            var russia = "1";

            function studentRussia() {
                $('#text').show();
                $('#emailDiv').show();
                $('#parentEmailDiv').show();
                $('#requiredEmailDiv').hide();
                $('#requiredEmail').removeAttr('required');
                $('#requiredEmail').removeAttr('data-error');
                $('#mainCitiesRussia').val("");
                $('#mainCitiesRussiaDiv').show();
                $('#cityInputDiv').hide();
                $('#schoolInputDiv').hide();
                $('#schoolsSelect').empty().append('<option>Выберите город</option>');
                $('.addedSchoolSelect').remove();
                $('#schoolsSelectDiv').show();
                $('#gradeDiv').show();
                $('#parallelDiv').show();
            }
            function studentNotRussia() {
                $('#text').show();
                $('#emailDiv').show();
                $('#parentEmailDiv').show();
                $('#requiredEmailDiv').hide();
                $('#requiredEmail').removeAttr('required');
                $('#requiredEmail').removeAttr('data-error');
                $('#mainCitiesRussiaDiv').hide();
                $('#cityInputDiv').show();
                $('#schoolInputDiv').show();
                $('#schoolsSelectDiv').hide();
                $('#gradeDiv').show();
                $('#parallelDiv').show();
            }
            function teacherRussia() {
                $('#text').hide();
                $('#emailDiv').hide();
                $('#parentEmailDiv').hide();
                $('#requiredEmailDiv').show();
                $('#requiredEmail').attr('required', '');
                $('#requiredEmail').attr('data-error',
                    'Пожалуйста, введите действующий адрес электронной почты.');
                $('#mainCitiesRussia').val("");
                $('#mainCitiesRussiaDiv').show();
                $('#schoolsSelect').empty().append('<option>Выберите город</option>');
                $('.addedSchoolSelect').remove();
                $('#schoolsSelectDiv').show();
                $('#cityInputDiv').hide();
                $('#schoolInputDiv').hide();
                $('#gradeDiv').show();
                $('#parallelDiv').show();
            }
            function teacherNotRussia() {
                $('#text').hide();
                $('#emailDiv').hide();
                $('#parentEmailDiv').hide();
                $('#requiredEmailDiv').show();
                $('#requiredEmail').attr('required', '');
                $('#requiredEmail').attr('data-error',
                    'Пожалуйста, введите действующий адрес электронной почты.');
                $('#mainCitiesRussiaDiv').hide();
                $('#cityInputDiv').show();
                $('#schoolInputDiv').show();
                $('#schoolsSelectDiv').hide();
                $('#gradeDiv').show();
                $('#parallelDiv').show();
            }
            function parentRussia() {
                $('#text').hide();
                $('#emailDiv').hide();
                $('#parentEmailDiv').hide();
                $('#requiredEmailDiv').show();
                $('#requiredEmail').attr('required', '');
                $('#requiredEmail').attr('data-error',
                    'Пожалуйста, введите действующий адрес электронной почты.');
                $('#mainCitiesRussia').val("");
                $('#mainCitiesRussiaDiv').show();
                $('#cityInputDiv').hide();
                $('#schoolInputDiv').hide();
                $('#schoolsSelectDiv').hide();
                $('#gradeDiv').hide();
                $('#parallelDiv').hide();
            }
            function parentNotRussia() {
                $('#text').hide();
                $('#emailDiv').hide();
                $('#parentEmailDiv').hide();
                $('#requiredEmailDiv').show();
                $('#requiredEmail').attr('required', '');
                $('#requiredEmail').attr('data-error',
                    'Пожалуйста, введите действующий адрес электронной почты.');
                $('#mainCitiesRussiaDiv').hide();
                $('#cityInputDiv').show();
                $('#schoolInputDiv').hide();
                $('#schoolsSelectDiv').hide();
                $('#gradeDiv').hide();
                $('#parallelDiv').hide();
            }
            function blankCityNotParent() {
                $('#schoolInputDiv').hide();
                $('#cityInputDiv').hide();
                $('#schoolsSelect').empty().append('<option>Выберите город</option>');
                $('.addedSchoolSelect').remove();
                $('#schoolsSelectDiv').show();
            };
            function blankCityParent() {
                $('#schoolInputDiv').hide();
                $('#cityInputDiv').hide();
                $('#schoolsSelectDiv').hide();
            };
            function otherCityNotParent() {
                $('#schoolInputDiv').show();
                $('#cityInputDiv').show();
                $('#schoolsSelectDiv').hide();
            };
            function otherCityParent() {
                $('#schoolInputDiv').hide();
                $('#cityInputDiv').show();
                $('#schoolsSelectDiv').hide();
            };
            function mainCityParent() {
                $('#schoolInputDiv').hide();
                $('#cityInputDiv').hide();
                $('#schoolsSelectDiv').hide();
            };
            function mainCityNotParent() {
                $('#schoolInputDiv').hide();
                $('#cityInputDiv').hide();
                $('.addedSchoolSelect').remove();
                $('#schoolsSelectDiv').show();
            };

            var userVal = $("#userType").val();
            var countryVal = $("#countries").val();
            var mainCityRussiaVal = $("#mainCitiesRussia").val();

            getMainCities();
            getCountries();

            function getCountries() {
                $.ajax({
                    url: 'https://api.vk.com/method/database.getCountries',
                    dataType: 'jsonp',
                    data: { need_all: '1', access_token: serviceToken, v: currentApiVersion, count: '234', lang: russian },
                    success: function (data) {
                        $.each(data.response.items,
                            function () {
                                $('#countries').append($("<option />").val(this.id).text(this.title));
                                $('#countries option[value="1"]').prop('selected', true);
                            });
                        countriesListener();
                        userTypeListener();
                    }
                });
            }
            function getMainCities() {
                $.ajax({
                    url: 'https://api.vk.com/method/database.getCities',
                    dataType: 'jsonp',
                    data: {
                        country_id: russiaId,
                        need_all: 0,
                        access_token: serviceToken,
                        v: currentApiVersion,
                        lang: russian
                    },
                    success: function (data) {
                        $('#mainCitiesRussia').append('<option></option>')
                            .append('<option> - Другой город - </option>');
                        $.each(data.response.items,
                            function () {
                                $('#mainCitiesRussia').append($("<option />").val(this.id).text(this.title));
                                $('#countries option[value="0"]').prop('selected', true);
                            });
                        mainCityListener();
                    }
                });
            }
            function toggleSchools() {
                $('#schoolsSelectDiv *').change(function () {
                    $('select[name=SchoolSelect]').not(":focus").each(function () {
                        this.selectedIndex = 0;
                    });
                });
            }
            function getSchools() {
                $.ajax({
                    url: 'https://api.vk.com/method/database.getSchools',
                    dataType: 'jsonp',
                    data: {
                        city_id: mainCityRussiaVal,
                        access_token: serviceToken,
                        v: currentApiVersion,
                        count: '1000',
                        lang: russian
                    },
                    success: function (data) {
                        var numberOfSchools = data.response.count;
                        var numberOfCalls = Math.ceil(numberOfSchools / 1000);
                        if (numberOfCalls === 1) {
                            $('#schoolsSelect').empty()
                                .append('<option> - Школы 1 - 1000</option>');
                            $.each(data.response.items,
                                function () {
                                    $('#schoolsSelect').append($("<option />").val(this.id).text(this.title));
                                });
                        } else {
                            $('#schoolsSelect').empty()
                                .append('<option> - Школы 1 - 1000</option>');
                            $.each(data.response.items,
                                function () {
                                    $('#schoolsSelect').append($("<option />").val(this.id).text(this.title));
                                });
                            for (var i = 1; i < numberOfCalls; i++) {
                                (function (index) {
                                    var select = $('<select>')
                                        .addClass('form-control')
                                        .addClass('addedSchoolSelect').attr('name', 'SchoolSelect')
                                        .attr('id', 'schoolsSelect' + index).appendTo('#schoolsSelectDiv');
                                    $.ajax({
                                        url: 'https://api.vk.com/method/database.getSchools',
                                        dataType: 'jsonp',
                                        data: {
                                            city_id: mainCityRussiaVal,
                                            access_token: serviceToken,
                                            v: currentApiVersion,
                                            count: '1000',
                                            offset: index + '000',
                                            lang: russian
                                        },
                                        success: function (data2) {
                                            var text = (index * 1000 + 1).toString() + ' - ' + ((index + 1) * 1000).toString();
                                            select.empty().append('<option> - Школы ' + text + '</option>');
                                            $.each(data2.response.items,
                                                function () {
                                                    select.append($("<option />").val(this.id).text(this.title));
                                                });
                                        }
                                    });
                                })(i);
                            }
                        }
                        toggleSchools();
                    }
                });
            }
            function userTypeListener() {
                $("#userType").change(function () {
                    userVal = $(this).val();
                    if (userVal === student)
                        countryVal === russia ? studentRussia() : studentNotRussia();
                    else if (userVal === teacher)
                        countryVal === russia ? teacherRussia() : teacherNotRussia();
                    else if (userVal === parent)
                        countryVal === russia ? parentRussia() : parentNotRussia();
                }).change();
            }
            function countriesListener() {
                $("#countries").change(function () {
                    countryVal = $(this).val();
                    if (countryVal === russia) {
                        if (userVal === student)
                            studentRussia();
                        else if (userVal === teacher)
                            teacherRussia();
                        else if (userVal === parent)
                            parentRussia();
                    } else if (countryVal !== russia) {
                        if (userVal === student)
                            studentNotRussia();
                        else if (userVal === teacher)
                            teacherNotRussia();
                        else if (userVal === parent)
                            parentNotRussia();
                    }
                }).change();
            }
            function mainCityListener() {
                $("#mainCitiesRussia").change(function () {
                    mainCityRussiaVal = $(this).val();
                    if (this.selectedIndex === 0)
                        userVal === parent ? blankCityParent() : blankCityNotParent();
                    else if (this.selectedIndex === 1)
                        userVal === parent ? otherCityParent() : otherCityNotParent();
                    else if (this.selectedIndex > 1)
                        if (userVal === parent) {
                            mainCityParent();
                        } else {
                            mainCityNotParent();
                            getSchools();
                        }
                });
            }
        });

    </script>
}