@using Knigosha.Core.Models.Enums
@model Knigosha.Core.ViewModels.AccountViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Регистрация";
}

<div style="text-align: center">
    <div id="registration" class="col-md-5">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" id="form">
            <h5><strong>Регистрация профиля</strong></h5>
            <p style="text-align: center">Чтобы получить доступ к вопросникам, пожалуйста, введите Ваши данные.</p>

            <hr />
            <div class="form-group">
                <label asp-for="UserType"></label>
                <select asp-for="UserType" asp-items="Html.GetEnumSelectList<UserTypes>()" class="form-control" id="userType"></select>
            </div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <p id="text">*Пожалуйста, введите адрес Вашей почты или адрес почты одного из родителей:</p>
            <div class="form-group" id="emailDiv">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control " id="email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group" id="requiredEmailDiv" style="display: none">
                <label asp-for="RequiredEmail"></label>
                <input asp-for="RequiredEmail" class="form-control" id="requiredEmail" />
                <span asp-validation-for="RequiredEmail" class="text-danger"></span>
            </div>

            <div class="form-group" id="parentEmailDiv">
                <label asp-for="ParentEmail"></label>
                <input asp-for="ParentEmail" class="form-control " id="parentEmail" />
                <span asp-validation-for="ParentEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" />
            </div>
            <div class="form-group" id="countriesDiv">
                <label asp-for="Country"></label>
                <select asp-for="Country" asp-items="@Model.Countries" class="form-control" id="countries">
                </select>
            </div>

            <div class="form-group" id="mainCitiesRussiaDiv">
                <label asp-for="MainCityRussia"></label>
                <select asp-for="MainCityRussia" asp-items="@Model.MainCitiesRussia"
                        class="form-control"
                        id="mainCitiesRussia"><option></option><option> - Другой город - </option>
                </select>
            </div>

            <div class="form-group" id="cityInputDiv" style="display: none">
                <label asp-for="CityInput"></label>
                <input asp-for="CityInput" class="form-control" id="cityInput" />
            </div>


            <div class="form-group" id="schoolsSelectDiv">
                <label asp-for="SchoolSelect"></label>
                <select asp-for="SchoolSelect" class="form-control" id="schoolsSelect"></select>
            </div>

            <div class="form-group" id="schoolInputDiv" style="display: none">
                <label asp-for="SchoolInput"></label>
                <input asp-for="SchoolInput" class="form-control" id="schoolInput" />
            </div>

            <div class="form-group" id="gradeDiv">
                <label asp-for="Grade"></label>
                <select asp-for="Grade" asp-items="Html.GetEnumSelectList<Grades>()" class="form-control" id="grade"></select>

            </div>
            <div class="form-group" id="parallelDiv">
                <label asp-for="Parallel"></label>
                <input asp-for="Parallel" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ActivationCode"></label>
                <input asp-for="ActivationCode" class="form-control" />

            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" data-toggle="password" id="registerPassword" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input asp-for="IsSubscribedToNewsletter" />
                <label asp-for="IsSubscribedToNewsletter" style="display: inline"></label>
            </div>
            <div class="form-group">

                <input asp-for="TermsOfUse" />
                <label style="display: inline">Я подтверждаю согласие с <a asp-controller="Home" asp-action="Help">Условиями пользования</a></label>
                <span style="display: block" asp-validation-for="TermsOfUse" class="text-danger"></span>
            </div>
            <button type="submit" id="registrationButton" class="green-flat-button">Регистрация</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script src="https://unpkg.com/bootstrap-show-password@1.2.1/dist/bootstrap-show-password.min.js"></script>
    <script src="~/lib/select2-4.0.8/dist/js/select2.min.js"></script>
    <script src="~/lib/select2-4.0.8/dist/js/i18n/ru.js"></script>
    <script>

        $(document).ready(function() {

            var student = "1";
            var teacher = "2";
            var parent = "3";
            var russia = "1";

            function studentRussia() {
                $('#text').show();
                $('#emailDiv').show();
                $('#parentEmailDiv').show();
                $('#mainCitiesRussia').val("");
                $('#mainCitiesRussiaDiv').show();
                $('#requiredEmailDiv').css("display", "none");
                $('#cityInputDiv').css("display", "none");
                $('#schoolInputDiv').css("display", "none");
                $('#schoolsSelect').empty().append('<option>Выберите город</option>');
                $('.addedSchoolSelect').remove();
                $('#schoolsSelectDiv').show();
                $('#gradeDiv').show();
                $('#parallelDiv').show();
            }

            function studentNotRussia() {
                $('#text').show();
                $('#emailDiv').show();
                $('#parentEmailDiv').show();
                $('#mainCitiesRussiaDiv').hide();
                $('#requiredEmailDiv').css("display", "none");
                $('#cityInputDiv').css("display", "block");
                $('#schoolInputDiv').css("display", "block");
                $('#schoolsSelectDiv').hide();
                $('#gradeDiv').show();
                $('#parallelDiv').show();
            }

            function teacherRussia() {
                $('#text').hide();
                $('#emailDiv').hide();
                $('#parentEmailDiv').hide();
                $('#requiredEmailDiv').css("display", "block");
                $('#mainCitiesRussia').val("");
                $('#mainCitiesRussiaDiv').show();
                $('#schoolsSelect').empty().append('<option>Выберите город</option>');
                $('.addedSchoolSelect').remove();
                $('#schoolsSelectDiv').show();
                $('#cityInputDiv').css("display", "none");
                $('#schoolInputDiv').css("display", "none");
                $('#gradeDiv').show();
                $('#parallelDiv').show();
            }

            function teacherNotRussia() {
                $('#text').hide();
                $('#emailDiv').hide();
                $('#parentEmailDiv').hide();
                $('#requiredEmailDiv').css("display", "block");
                $('#mainCitiesRussiaDiv').hide();
                $('#cityInputDiv').scss("display", "block");
                $('#schoolInputDiv').css("display", "block");
                $('#schoolsSelectDiv').hide();
                $('#gradeDiv').show();
                $('#parallelDiv').show();
            }

            function parentRussia() {
                $('#text').hide();
                $('#emailDiv').hide();
                $('#parentEmailDiv').hide();
                $('#requiredEmailDiv').css("display", "block");
                $('#mainCitiesRussia').val("");
                $('#mainCitiesRussiaDiv').show();
                $('#cityInputDiv').css("display", "none");
                $('#schoolInputDiv').css("display", "none");
                $('#schoolsSelectDiv').hide();
                $('#gradeDiv').hide();
                $('#parallelDiv').hide();
            }

            function parentNotRussia() {
                $('#text').hide();
                $('#emailDiv').hide();
                $('#parentEmailDiv').hide();
                $('#requiredEmailDiv').css("display", "block");
                $('#mainCitiesRussiaDiv').hide();
                $('#cityInputDiv').css("display", "block");
                $('#schoolInputDiv').css("display", "none");
                $('#schoolsSelectDiv').hide();
                $('#gradeDiv').hide();
                $('#parallelDiv').hide();
            }

            function blankCityNotParent() {
                $('#schoolInputDiv').css("display", "none");
                $('#cityInputDiv').css("display", "none");
                $('#schoolsSelect').empty().append('<option>Выберите город</option>');
                $('.addedSchoolSelect').remove();
                $('#schoolsSelectDiv').show();
            };

            function blankCityParent() {
                $('#schoolInputDiv').css("display", "none");
                $('#cityInputDiv').css("display", "none");
                $('#schoolsSelectDiv').hide();
            };

            function otherCityNotParent() {
                $('#schoolInputDiv').css("display", "block");
                $('#cityInputDiv').css("display", "block");
                $('#schoolsSelectDiv').hide();
            };

            function otherCityParent() {
                $('#schoolInputDiv').css("display", "none");
                $('#cityInputDiv').css("display", "block");
                $('#schoolsSelectDiv').hide();
            };

            function mainCityParent() {
                $('#schoolInputDiv').css("display", "none");
                $('#cityInputDiv').css("display", "none");
                $('#schoolsSelectDiv').hide();
            };

            function mainCityNotParent() {
                $('#schoolInputDiv').hide();
                $('#cityInputDiv').hide();
                $('.addedSchoolSelect').remove();
                $('#schoolsSelectDiv').show();
            };

            var userVal = $("#userType").val();
            var countryVal = $("#countries").val();
            var mainCityRussiaVal = $("#mainCitiesRussia").val();

            

            $("#countries").select2({
                theme: 'bootstrap4',
                language: "ru",
                matcher: function(params, data) {
                    params.term = params.term || '';
                    if (data.text.toUpperCase().indexOf(params.term.toUpperCase()) === 0) {
                        return data;
                    }
                    return false;
                }
            });

            $('#schoolsSelect').select2({
                theme: 'bootstrap4',
                language: "ru",
                sorter: function (data) {
                    if(data && data.length>1 && data[0].rank){
                        data.sort(function(a,b) {return (a.rank > b.rank) ? -1 : ((b.rank > a.rank) ? 1 : 0);} );
                    }
                    return data;
                },
                matcher:function(params, data) {
                    if ($.trim(params.term) === '') {
                        return data;
                    }
                    if (typeof data.text === 'undefined') {
                        return null;
                    }
                    var idx = data.text.toLowerCase().indexOf(params.term.toLowerCase());
                    if (idx > -1) {
                        var modifiedData = $.extend({
                            'rank':(params.term.length / data.text.length)+(data.text.length-params.term.length-idx)/(3*data.text.length)
                        }, data, true);
                        return modifiedData;
                    }
                    return null;
                }
            });

            $('#mainCitiesRussia').select2({
                theme: 'bootstrap4',
                language: "ru"
            });

            var defaultRangeValidator = $.validator.methods.range;
            $.validator.methods.range = function(value, element, param) {
                if (element.type === 'checkbox') {
                    return element.checked;
                } else {
                    return defaultRangeValidator.call(this, value, element, param);
                }
            }

            $("#userType").change(function() {
                console.log('userType' + $(this).val() + 'country_' + countryVal);
                userVal = $(this).val();
                if (userVal === student)
                    countryVal === russia ? studentRussia() : studentNotRussia();
                else if (userVal === teacher)
                    countryVal === russia ? teacherRussia() : teacherNotRussia();
                else if (userVal === parent)
                    countryVal === russia ? parentRussia() : parentNotRussia();
            });


            $("#countries").change(function() {
                console.log('country_' + $(this).val() + 'user_' + userVal);
                countryVal = $(this).val();
                if (countryVal === russia) {
                    if (userVal === student) studentRussia();
                    else if (userVal === teacher) teacherRussia();
                    else if (userVal === parent) parentRussia();
                } else if (countryVal !== russia) {
                    if (userVal === student) studentNotRussia();
                    else if (userVal === teacher) teacherNotRussia();
                    else if (userVal === parent) parentNotRussia();
                }
            }).change();


            $("#mainCitiesRussia").change(function() {
                mainCityRussiaVal = $(this).val();
                if (this.selectedIndex === 0)
                    userVal === parent ? blankCityParent() : blankCityNotParent();
                else if (this.selectedIndex === 1) userVal === parent ? otherCityParent() : otherCityNotParent();
                else if (this.selectedIndex > 1)
                    if (userVal === parent) {
                        mainCityParent();
                    } else {
                        var url = "/Account/GetSchoolList";
                        $.getJSON(url,
                            { CityId: mainCityRussiaVal },
                            function(data) {
                                var item = "";
                                $("#schoolsSelect").empty();
                                $.each(data,
                                    function(i, school) {
                                        item += '<option value="' + school.value + '">' + school.text + '</option>'
                                    });
                                $("#schoolsSelect").html(item);
                            });
                        mainCityNotParent();
                    }
            });

        });


    </script>
}
