@model Knigosha.Core.Models.Book

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookAuthor" class="control-label"></label>
                <input asp-for="BookAuthor" class="form-control" />
                <span asp-validation-for="BookAuthor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Publisher" class="control-label"></label>
                <input asp-for="Publisher" class="form-control" />
                <span asp-validation-for="Publisher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearPublished" class="control-label"></label>
                <input asp-for="YearPublished" class="form-control" />
                <span asp-validation-for="YearPublished" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Translator" class="control-label"></label>
                <input asp-for="Translator" class="form-control" />
                <span asp-validation-for="Translator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookCategory" class="control-label"></label>
                <select asp-for="BookCategory" class="form-control"></select>
                <span asp-validation-for="BookCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Isbn1" class="control-label"></label>
                <input asp-for="Isbn1" class="form-control" />
                <span asp-validation-for="Isbn1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Isbn2" class="control-label"></label>
                <input asp-for="Isbn2" class="form-control" />
                <span asp-validation-for="Isbn2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfPages" class="control-label"></label>
                <input asp-for="NumberOfPages" class="form-control" />
                <span asp-validation-for="NumberOfPages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CalculatedRating" class="control-label"></label>
                <input asp-for="CalculatedRating" class="form-control" />
                <span asp-validation-for="CalculatedRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoverPhoto" class="control-label"></label>
                <input asp-for="CoverPhoto" class="form-control" />
                <span asp-validation-for="CoverPhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grade" class="control-label"></label>
                <select asp-for="Grade" class="form-control"></select>
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfContentQuestions" class="control-label"></label>
                <input asp-for="NumberOfContentQuestions" class="form-control" />
                <span asp-validation-for="NumberOfContentQuestions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfComprehensionQuestions" class="control-label"></label>
                <input asp-for="NumberOfComprehensionQuestions" class="form-control" />
                <span asp-validation-for="NumberOfComprehensionQuestions" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsShortForm" /> @Html.DisplayNameFor(model => model.IsShortForm)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                <input asp-for="Tags" class="form-control" />
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateAdded" class="control-label"></label>
                <input asp-for="DateAdded" class="form-control" />
                <span asp-validation-for="DateAdded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestionsAuthor" class="control-label"></label>
                <input asp-for="QuestionsAuthor" class="form-control" />
                <span asp-validation-for="QuestionsAuthor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddedByAdmin" class="control-label"></label>
                <input asp-for="AddedByAdmin" class="form-control" />
                <span asp-validation-for="AddedByAdmin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartOfSchoolProgramAtGrade" class="control-label"></label>
                <select asp-for="PartOfSchoolProgramAtGrade" class="form-control"></select>
                <span asp-validation-for="PartOfSchoolProgramAtGrade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimesCompleted" class="control-label"></label>
                <input asp-for="TimesCompleted" class="form-control" />
                <span asp-validation-for="TimesCompleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

