
@{
    ViewData["Title"] = "Книги";
}
<div id="content" style="padding-top:0px;padding-bottom:0px;">
    <div class="shadow_bg">
        <div class="container" style="padding-top:80px;padding-bottom:80px;">
            <div class="quiz_popup" style="padding-top:25px;">
                <div id="bookInfo">
                    <table class="sc">
                        <tr>
                            <td class="book_info_left" valign="top">
                                <div class="visible-desktop">
                                    <a href="/book?id=510"><img src="/uploads/5c06b83612f67dcc5efca1c46c85a158.jpg" style="border-radius:15px;max-width:100px;"></a>
                                </div>
                            </td>
                            <td valign="top" class="book_info_right">
                                <b style="font-size:20px;">Домашни духчета /</b> от Дубравка Угрешич
                                <div style="height:10px;"></div>
                                <div class="yellow">
                                    <b>въпросник за 8+ години /</b>
                                    <i>изготвен от <b>Десислава Боева</b></i>
                                </div>
                                <div style="height:10px;"></div>
                                <i>
                                    Категория: Художествена литература<br>								Година на издаване: 2018<br>								Издателство: Издателска група АГАТА-А<br>								Преводач: Русанка Ляпова<br>
                                </i>
                                <div style="height:10px;"></div>

                            </td>
                        </tr>
                    </table>
                </div>
                <div style="padding:20px;font-size:20px;line-height:26px;color:red;">
                    За да продължиш да ползваш функциите на Книговище, трябва да активираш своя абонамент.<br>Можеш да закупиш абонаментен план през секция <a href="/user/order">"Купи абонамент"</a>.
                </div>
            </div>
        </div>
    </div>
</div>






