@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div id="content">
    <div class="container">
        @await Component.InvokeAsync("ManageHeader")
        <table style="width: 100%;" class="sc">
            <tbody>
                <tr>
                    <td valign="top" class="desktop-top-border"
                        style="width: 220px;">
                        @await Html.PartialAsync("_ManageNav")
                    </td>
                    @RenderBody()
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}