@using Knigosha.Core.ViewModels.ManageViewModels
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@model Knigosha.Core.ViewModels.ManageViewModels.IndexViewModel
<div class="container">
    <div class="row" id="headerManageRow">
        <table id="manageLayoutTable">
            <tbody>
                <tr>
                    <td style="vertical-align: middle; padding: 45px !important;"  class="manageLeftCol">
                        @if (Model.Photo != null)
                        {
                            <img id="profilePic" src="~/uploads/@Model.Photo" alt="profile picture" />
                        }
                        else
                        {
                            <img id="avatar" src="~/skin/avatar.png" alt="profile picture" />
                        }
                    </td>
                    <td style="vertical-align: middle">
                        <table id="innerTable" style="line-height: 1.1;">
                            <tbody>
                                <tr id="greeting">
                                    <td colspan="4" style="text-align: left; font-size: 50px;">Привет, @User.Identity.Name</td>
                                </tr>
                            <tr>
                                <td style="font-size: 50px; vertical-align: middle; text-align: left; white-space: nowrap; color: #009400">
                                    <strong>10%</strong>
                                </td>
                                <td style="text-align: left; vertical-align:middle; padding-left: 5px; white-space: nowrap; line-height: 1.2em; font-weight: 600">правильных<br />ответов</td>
                                <td style="text-align: left; vertical-align: middle; padding-left: 20px; font-size: 50px;  white-space: nowrap;color: #009400"><strong>4</strong></td>
                                <td style="text-align: left; vertical-align:middle;  padding-left: 5px; width: 99%; line-height: 1.2em; font-weight: 600">пройденных<br />викторин</td>
                            </tr>
                            <tr id="group">
                                <td colspan="4" style="font-size: 20px; text-align: left; font-weight: 600">Рабочая группа:</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row" id="manageRow">
        <table>
            <tbody>
            <tr>
                <td class="manageLeftCol" id="menu" style="padding:0">
                    @await Html.PartialAsync("_ManageNav")
                </td>
                <td >
                    @RenderBody()
                </td>
            </tr>
           
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}

