@using Knigosha.Core.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<div >
    <div class="menuLogin">
        <ul class="nav nav-pills flex-column">
            <li><a asp-action="Index">Мои достижения</a></li>
            <li><a asp-action="Index">Прочитанные книги</a></li>
            <li><a asp-action="Index">Отмеченные книги</a></li>
            <li><a asp-action="Index">Что читает моя семья</a></li>
            <li><a asp-action="Index">Создать викторину</a></li>
            <li><a asp-action="Index">Созданные викторины</a></li>
            <li><a asp-action="Index">Сообщения</a></li>
            <li><a asp-action="Index">Мои группы</a></li>
            <li><a asp-action="Index">Купить абонемент</a></li>
            <li><a asp-action="Index">Мои абонементы</a></li>
            <li><a asp-action="Index">Активировать абонемент</a></li>
            <li><a asp-action="Index">Редактировать профиль</a></li>
        </ul>
    </div>
    <div class="green-border">
        @*@if (@Model.MarkedBooks.Count > 0)
        {*@
            <ul class="nav nav-pills flex-column">
                <li>Отмеченные книги</li>
                @*@for (var i = 0; i < Model.MarkedBooks.Count; i++)
                        {*@
                <li class="dynamicLi">
                    <a asp-controller="" asp-action="" asp-route-data="">
                        <strong>Маша и медведи</strong><br/><i>Народная</i>
                    </a></li>
                @*}*@
                <li ><a asp-controller="" asp-action="">СМОТРЕТЬ КНИГИ</a></li>
            </ul>
        @*}*@
        
    </div>
    

</div>


