
@{
    ViewData["Title"] = "Создать викторину";
}


<td colspan="2" valign="top" style="border-top:1px solid #ffdb60;">
    <a href="" name="s" style="position:relative;top:-100px;"></a>
    <div style="padding:50px;">
        <div style="line-height:22px;">
            Создайте викторину для книги, которая еще не доступна в Книговище.
            <br />
            <br />
            <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315"
                    src="https://www.youtube.com/embed/xcz8FloFRhM" width="560"></iframe><br />
            <br />
            <br />
            У Вас есть возможность создать викторину вместе с родителями, учителем или друзьями. Для этого Вам нужно сделать следующее:
            <div style="height:20px;">&nbsp;</div>

            <ul>
                <li>Внимательно прочитайте инструкцию по составлению викторины <a href="files/rakovodstvo.pdf">(скачать руководство здесь)</a></li>
                <li>Напишите нам по адресу info@knigovishe.ru, и дождитесь подтверждения (это необходимо, чтобы избежать дублирования)</li>
                <li>Решите, для какого класса будет предназначаться викторина, и скачайте соответствующую форму <a href="page?id=13">здесь</a></li>
                <li>Составьте самую лучшую и наиболее интересную викторину, которую Вы можете создать и отправьте её нам на <a href="mailto:info@knigovishte.bg">info@knigovishe.ru</a></li>
                <li>
                    Если викторина соответствует требованиям, она будет загружена на платформу. Если у Вас есть профиль, Вы получите трёхкратное количество очков,
                    которое Вы бы получити за её правильное решение.
                </li>
            </ul>
            <br />
            Не будет преувеличением сказать, что Вы станете автором в Книговище и частью нашего сообщества.<br />
            <br />
            Удачи! Книговище с нетерпением ждет встречи с Вами.
        </div>
    </div>
</td>
