@using Knigosha.Core.Models.Enums
@model  Knigosha.Core.ViewModels.ManageViewModels.LicenseViewModel
@{
    ViewData["Title"] = "Активация";
}

<td colspan="2" valign="top"  style="border-top:1px solid #ffdb60;">
    <a href="" name="s" style="position:relative;top:-100px;"></a>
					
    <div style="padding:50px;line-height:24px;">
        @if (Model.Activated)
        {
            <span style="color: green">Абонемент успешно активирован!</span>
        }
        @if (Model.Joined)
        {
            <span style="color: green">Профиль успешно присоединён к групп</span><span style="font-weight: bold">СЕМЬЯ!</span>
        }
        @if (Model.User.UserType == UserTypes.Student)
        {
            <span>Ключ абонамента: </span><span style="font-weight: bold">@Model.MyUserSubscription.ActivationKeys.Last().Code</span>
            <br>
            <span>Действителен до: </span><span style="font-weight: bold"> @Model.MyUserSubscription.Subscription.ValidUntil</span>
            <br>
        }
        else
        {
            <span>Тип абонамента: </span><span style="font-weight: bold">@Html.DisplayFor(m => m.MyUserSubscription.Subscription.Name)</span>
            <br>
        }
        <br>
        Введите ключ абонамента:<div style="height:5px;"></div>
        <form method="post" asp-controller="Manage" asp-action="License">
            <table>
                <tr>
                    <td>
                        <input asp-for="Code">
                    </td>
                    <td><input type="submit" class="button" value="Активировать"></td>
                </tr>
                <tr>
                    <td><span asp-validation-for="Code" class="text-danger"></span></td>
                </tr>
            </table>
        </form>

        <div style="height:30px;"></div>
        <a asp-controller="Manage" asp-action="Licenses" class="button">Купить абонемент</a><div style="height:15px;"></div>
    </div>
</td>
