@model List<Knigosha.Core.Models.Book>
@{
    ViewBag.Title = "Очки";
}

<td colspan="2" valign="top"  style="border-top:1px solid #ffdb60;padding-left:20px;padding-top:20px;">
    <a href="" name="s" style="position:relative;top:-100px;"></a>
    <div style="line-height:24px;font-size:20px;padding-bottom:20px;">
        Созданных викторин: <span style="font-weight: bold">@ViewData["CreatedBooks"]</span><br>
        Очков за созданные викторины: <span style="font-weight: bold">@ViewData["PointsForCreatedBooks"]</span>
        <br>
    </div>
    <h3>Созданные викторины</h3>
    @if (@Model.Count == 0)
    {
        <span> Все еще нет созданных викторин.</span>
    }
    else
    {

    }
    <br><br>
</td>
