@using Knigosha.Views.Manage

@{
    ViewData["Title"] = "Заявки на рестарт";
    ViewData.AddActivePage(ManageNavPages.Reset);
}

<td colspan="2" valign="top"  style="border-top:1px solid #ffdb60;padding-left:20px;padding-top:20px;">
    <a href="" name="s" style="position:relative;top:-100px;"></a>
    Нет заявок на рестарт викторины.
</td>
