
@{
    ViewData["Title"] = "Активировать";
}
    <div id="content">
        <div class="container">
            <div class="legend">
                <h1 style="text-align:center;margin-bottom:50px;line-height:40px;">
                    Активировать абонемент с помощью ключа</h1>
                <div class="page_content">
                    Если у Вас есть ключ для активации годового абонемента на 2019/2020 учебный год, для которого Вы хотите применить его, выполните следующие действия.
                    <br />
                    <br />
                    <h2><span style="color:#FFA500;">Если ключ абонемента предназначен для группы КЛАСС</span></h2>
                    1. Учитель регистрирует свой профиль, перейдя в раздел Регистрация &rarr; Создать новый профиль &rarr; <a href="https://knigovishte.bg/register?type=teacher">
                        Создать профиль учителя
                    </a> и заполняет регистрационную форму (Если у учителя уже есть профиль учителя, он может его использовать.) <br />
                    <br />
                    2. В регистрационной форме есть поле "Ключ подписки". Введите ключ, который Вы получили. <br />
                    <br />
                    3. Если абонемент приобретен для уже существующего профиля учителя или для уже созданной группы КЛАСС, ключ абонемента помещается в пустое поле
                    в меню "Активировать абонемент" в профиле учителя, управляющего группой. <br />
                    <br />
                    4. Меню "Справка" в профиле учителя содержит инструкции о том, как присоединить учеников к группе, а также подробную информацию о её особенностях. <br />

                    <hr />
                    <h2>
                        <span style="color:#FFA500;">
                            Если ключ абонемента предназначен для группы СЕМЬЯ
                        </span>
                    </h2>
                    1. Родитель регистрирует свой аккаунт, перейдя в раздел Регистрация &rarr; Создайте новый профиль &rarr; <a href="https://www.knigovishte.bg/register?type=parent">
                        Создать родительский профиль
                    </a> и заполняет регистрационную форму. (Если у родителя уже есть профиль, лучше его использовать.) <br />
                    <br />
                    2. В регистрационной форме есть поле "Ключ абонемента". Введите ключ, который Вы получили. <br />
                    <br />
                    3. Если абонемент предназначена для уже существующей группы СЕМЬЯ, ключ абонемента помещается в пустое поле в меню "Активировать абонемент" в
                    профиле родителя, управляющего группой.<br />
                    <br />

                    4. Меню "Справка" в профиле родителя содержит инструкции о том, как объединить детей в семейную группу, а также подробную информацию о
                    её особенностях. <br />
                    <hr />
                    <h2>
                        <br />
                        <span style="color:#FFA500;">
                            Если ключ абонемента предназначен для индивидуального профиля
                        </span>
                    </h2>
                    1. Родитель (или ребенок с помощью своего родителя) создает индивидуальный профиль, перейдя в раздел Регистрация &rarr; Создать новый профиль
                    &rarr; <a href="https://www.knigovishte.bg/register?type=student">Создать профиль ученика </a> и заполняет регистрационную форму. (Если ребенок уже имеет свой профиль,
                    рекомендуется использовать его, чтобы сохранить достижения.) <br />
                    <br />
                    2. В регистрационной форме есть поле "Ключ абонемента". Вставьте полученный вами ключ. <br />
                    <br />

                    3. Если абонемент предназначен для уже существующего профиля, ключ помещается в пустое поле в меню "Активировать абонемент".<br />
                    <br />
                    <span>
                        <em>N.B.</em> Один профиль учащегося может быть членом нескольких групп одновременно. Чтобы присоединиться к ним,
                        необходимо использовать поисковую систему в меню «Мои группы». <br />
                        <br />
                        Чтобы попасть в группу «СЕМЬЯ» в поле «Активировать абонемент», вы должны ввести ключ подписки, отправленный Вашим родительским профилем.
                    </span>
                    <p>
                        <br/>

                        Участие в группах позволяет детям соревноваться с другими участниками, видеть, что они читают, и делиться мыслями о книгах. <br/>
                        <br/>
                        Для получения дополнительной информации смотрите меню <a href="https://www.knigovishte.bg/page?id=2"> Как это работает? </a>
                    </p>
                </div>

            </div>
        </div>
    </div>


