
@{
    ViewData["Title"] = "Активировать";
}
    <div id="content">
        <div class="container">
            <div class="legend">
                <h1 style="text-align:center;margin-bottom:50px;line-height:40px;">Активация на абонамент с абонаментен ключ</h1>
                <div class="page_content">
                    <strong>Ако разполагате с абонаментен ключ</strong>&nbsp;за активиране на годишен абонамент за учебната 2019/2020 учебна година, &nbsp;който не е заявен от меню &quot;Купи абонамент&quot; на профила, за който желаете да го приложите, е необходимо да извършите следните стъпки.

                    <h2><span style="color:#FFA500;">Ако абонаментният ключ е за Група&nbsp;КЛАС</span></h2>
                    1. Учителят регистрира свой профил, като отива на&nbsp;&nbsp;Регистрация&nbsp;-&gt;&nbsp;Създай нов профил&nbsp;-&gt;&nbsp;<a href="https://knigovishte.bg/register?type=teacher">Създай учителски профил</a>&nbsp;и&nbsp;попълва формуляра &bdquo;Регистрация&ldquo;. (Ако учителят вече притежава учителски профил, може да ползва него.)<br />
                    <br />
                    2. В регистрационния формуляр има поле <strong>&quot;Абонаментен ключ&quot;.</strong> В него се поставя абонаментният ключ, който сте получили.<br />
                    <br />
                    3. В случай че абонаментът е закупен за вече съществуващ учителски профил или за вече създадена група КЛАС, абонаментният ключ се поставя в празното поле в <strong>меню &quot;Активирай абонамента си&quot; </strong>на учителския профил, управляващ групата<strong>.</strong><br />
                    <br />
                    4. В меню &quot;Помощни материали&quot; на учителския профил има инструкции как да се присъединяват ученици към групата на класа, както и подробна информация за нейните функциите.<br />
                    &nbsp;
                    <hr />&nbsp;
                    <h2><span style="color:#FFA500;">Ако абонаментният ключ е за Група&nbsp;СЕМЕЙСТВО</span></h2>
                    1. Родителят регистрира свой профил, като отива на&nbsp;&nbsp;Регистрация&nbsp;-&gt;&nbsp;Създай нов профил&nbsp;-&gt;&nbsp;<a href="https://www.knigovishte.bg/register?type=parent">Създай родителски профил</a>&nbsp;и&nbsp;попълва формуляра &bdquo;Регистрация&ldquo;. (Ако родителят вече притежава родителски профил, е добре да ползва него.)<br />
                    <br />
                    2. В регистрационния формуляр има поле <strong>&quot;Абонаментен ключ&quot;.</strong> В него сложете абонаментния ключ, който сте получили.<br />
                    <br />
                    3. В случай че абонаментът е за вече съществуваща група СЕМЕЙСТВО, абонаментният ключ се поставя в празното поле в <strong>меню &quot;Активирай абонамента си&quot;.</strong><br />
                    <br />
                    4. В меню &quot;Помощни материали&quot; на родителския профил има инструкции как да се присъединят децата към групата на семейството, както и подробна информация за нейните функции.<br />
                    &nbsp;
                    <hr />
                    <h2>
                        <br />
                        <span style="color:#FFA500;">Ако абонаментният ключ е за индивидуален профил на ДЕТЕ</span>
                    </h2>
                    1. Родителят (или детето с помощта на свой родител) регистрира профил на детето, като отива на&nbsp;&nbsp;Регистрация&nbsp;-&gt;&nbsp;Създай нов профил&nbsp;-&gt;&nbsp;<a href="https://www.knigovishte.bg/register?type=student">Създай профил на дете</a>&nbsp;и&nbsp;попълва формуляра &bdquo;Регистрация&ldquo;. (Ако детето вече притежава свой профил, е добре да ползва него, за да се запазят постиженията му.)<br />
                    <br />
                    2. В регистрационния формуляр има поле <strong>&quot;Абонаментен ключ&quot;.</strong> В него сложете абонаментния код, който сте получили.<br />
                    <br />
                    3. В случай че абонаментът е за вече съществуващ ученически профил, абонаментният ключ се поставя в празното поле в <strong>меню &quot;Активирай абонамента си&quot;.</strong><br />
                    <br />
                    <span style="font-size: 13px;">
                        <em><strong>N. B.</strong></em> Индивидуалният ученически профил може да се присъединява към групи &nbsp;КЛАС или СЕМЕЙСТВО, при положение че те са с активни функции..<br />
                        <br />
                        <em><strong>N. B.</strong></em> Един ученически профил може да е член едновременно на няколко групи, за които е платен абонамент. За да се присъедини към тях, трябва да използва търсачката в меню <strong>&quot;Моите групи&quot;.</strong><br />
                        <br />
                        Единствено за включване в група СЕМЕЙСТВО в полето &quot;Активирай абонамента си&quot; трябва да се въведе абонаментен ключ, подаден от родителския профил в съответната група.&nbsp;
                    </span>

                    <p>
                        Участието в групи дава възможност на детето&nbsp;да се състезава&nbsp;с другите участници в тях, да гледа&nbsp;какво четат те и да вижда&nbsp;какво мислят за книгата.&nbsp;<br />
                        <br />
                        За повече информация, вижте менюто &quot;<a href="https://www.knigovishte.bg/page?id=2">Как работи?</a>&quot; във футъра на сайта.
                    </p>
                </div>

            </div>
        </div>
    </div>


