@{
    ViewData["Title"] = "Создать профиль классв";
}

<div id="content">
    <div class="container">
        <div class="legend">
            <h1 style="text-align:center;margin-bottom:50px;line-height:40px;">
                Как создать группу КЛАСС</h1>
            <div class="page_content" style="font-size: 18px;">
                <strong>Группа КЛАСC&nbsp;</strong><span>
                    объединяет всех учеников в одном классе и их учителя в виртуальную группу, в которой участники могут сравнивать
                    свои достижения в чтении, соревноваться друг с другом и делиться рекомендациями и мнениями о книгах.
                </span>
                Группа создается путем связывания каждого профиля ученика с профилем учителя.<br />
                &nbsp;
                <h2>
                    Вот конкретные шаги для создания <strong>группы КЛАСС</strong>.
                </h2>

                <hr /><br />
                1. <span style="color:#FFA500;">Учитель создает свой профиль</span>
                перейдя на страницу Регистрация и заполнив форму "Регистрация". (Если уже есть профиль, он может его использовать.)
                <br />
                <br />
                <em style="color: #ffa500;">N. B.</em>
                В регистрационной форме есть поле "Ключ подписки".
                В нем учитель помещает ключ абонемента, который он получил, если абонемента уже был приобретен для класса. Если его нет, поле остается пустым.<br />
                <br />
                <span>
                    После того, как учитель входит в созданный профиль, меню группы КЛАСС автоматически загружается.
                    Слева находится список подменю.&nbsp;
                </span>

                <hr /><br />
                2. <span style="color:#FFA500;">Ученики создают свои профили</span>
                с помощью родителя, перейдя на страницу Регистрация и заполнив форму "Регистрация". (Если у ученика уже есть профиль, 
                рекомендуется использовать его для сохранения читательской истории.)<br />
                <br />
                <span>
                    Чтобы помочь учителю, мы создали письмо с объяснениями и инструкциями, которые учитель может отправить напрямую родителям своих учеников. Письмо находится в подменю
                    "Справка" или <a href="https://www.knigovishte.bg/page?id=27">ЗДЕСЬ</a>.
                </span>

                <hr /><br />
                <span>
                    3. <span style="color:#FFA500;">Включение профилей учеников в группу КЛАСС</span>.
                    Для этого необходимо:<br />
                    <br />
                    1.
                    ученик заходит в меню <span style="font-weight: bold">"Мои группы"</span>, ищет группу своего класса через поисковую систему и
                    подает заявку нв присоединение;
                </span>
                <span>
                    <br />
                    <br />
                    2.
                    учитель принимает запросы своих учеников в меню <span style="font-weight: bold">"Прием заявок"</span>;
                </span><br /><br />
                <p>

                    Теперь группа CLASS активирована и может использовать все функции.
                    <a href="https://www.knigovishte.bg/page?id=26">ЗДЕСЬ</a> ты можешь узнать больше о возможностях, предлагаемых группой КЛАСС.
                </p>

                <hr /><br />
                4. <span style="color:#FFA500;">
                    Купить годовой абонемент
                </span>. Если группа CLASS создается без платного абонемента, автоматически включается демо-режим. Демо-режим длится 20 дней с момента
                создания профиля учителя (или до тех пор, пока не будут решены 3 викторины).<br />
                <br />

                Ты можешь приобрести годовой абонемент через:<br />
                <br />
                а) профиль учителя группы КЛАСС (в меню <span style="font-weight: bold">"Купить абонемент"</span>);<br />
                б) каждый зарегистрированный профиль (в меню <span style="font-weight: bold">"Купить абонемент"</span>);<br />
                в) заявку по электронной почте info@knigovishe.ru, при покупке нескольких групповых абонементов <br />
                <br />
                После покупки абонемента покупатель получает по электронной почте инструкции по его активации.
            </div>

        </div>
    </div>
</div>

