
@{
    ViewData["Title"] = "Создать викторину";
}


<div id="content">
    <div class="container"> 
        <div class="legend" >
            <h1 style="text-align:center;margin-bottom:50px;line-height:40px;">Създай въпросник</h1>
            <div class="page_content">Създай въпросник към книга, за която все още в Книговище няма такъв. Целта ни е до 15 септември 2019 г. да създадем въпросници за стотици от най-четените детски книги. Да продължим и след това.<br />
                <br />
                <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/xcz8FloFRhM" width="560"></iframe><br />
                <br />
                <br />
                Заедно с родител, учител или приятели, а защо не и сам, имаш възможност да създадеш въпросник за Книговище. Следвай тези стъпки:
                <div style="height:20px;">&nbsp;</div>

                <ul>
                    <li>Прочети внимателно инструкциите за съставяне на въпросници <a href="files/rakovodstvo.pdf">(изтегли ръководството оттук)</a></li>
                    <li>Пиши ни на info@knigovishte.bg, за да запазим книгата и изчакай потвърждение (това е необходимо, за да не се дублират въпросници)</li>
                    <li>Прецени за кой клас ще е въпросникът и изтегли съответната формичка <a href="page?id=13">оттук</a></li>
                    <li>Състави най-хубавия и забавен въпросник, на който си способен, и ни го изпрати на <a href="mailto:info@knigovishte.bg">info@knigovishte.bg</a></li>
                    <li>Ако въпросникът отговаря на изискванията, той ще бъде качен в Книговище. Ако си имаш профил в Книговище, ще&nbsp;начислим към резултата ти три пъти максималния брой точки за съставения от теб въпросник.</li>
                </ul>
                <br />
                Не е за подценяване и това, че ще станеш автор и част от общността на Книговище.<br />
                <br />
                Успех! Книговище те очаква с нетърпение.</div>
				
        </div>
    </div>
</div>
