@{
    ViewData["Title"] = "Создать профиль классв";
}

<div id="content">
    <div class="container">
        <div class="legend">
            <h1 style="text-align:center;margin-bottom:50px;line-height:40px;">Как се създава група КЛАС</h1>
            <div class="page_content">
                <strong>Група КЛАС&nbsp;</strong><span style="font-size: 13px;">свързва всички ученици от един клас и техния учител във виртуална група, в която участниците могат да сравняват своите читателски постижения, да се състезават помежду си и да споделят препоръки и мнения за книги.</span>&nbsp;Групата се установява, като всеки ученически профил се свързва чрез код с учителския профил.<br />
                &nbsp;
                <h2>Ето и конкретните стъпки за активиране на <strong>групата КЛАС</strong>.</h2>

                <hr /><br />
                1. <span style="color:#FFA500;">Учителят създава свой профил</span>, като отива на&nbsp;&nbsp;Регистрация<font color="#1b1b1b"> &rarr;</font><a href="https://knigovishte.bg/register?type=undefined"> </a>Създай нов профил&nbsp;<font color="#1b1b1b" style="text-indent: -0.32in; font-size: 13px;">&rarr;&nbsp;</font><a href="https://knigovishte.bg/register?type=teacher" style="text-indent: -0.32in; font-size: 13px;"><font color="#1b1b1b"> </font>Създай учителски профил</a><span style="text-indent: -0.32in; color: rgb(51, 51, 51); font-size: 13px;">&nbsp;и&nbsp;попълва формуляра &bdquo;Регистрация&ldquo;. (Ако учителят вече притежава учителски профил, може да ползва него.)</span><br />
                <br />
                <em><strong>N. B.</strong></em> &nbsp;В регистрационния формуляр има поле &quot;Абонаментен ключ&quot;. В него учителят слага абонаментния ключ, който е получил, ако за класа вече е закупен абонамент. Ако не разполага с такъв, оставя полето празно.<br />
                <br />
                <span style="font-size: 13px;">След като учителят влезе в създадения учителски профил, автоматично се зарежда менюто на групата на КЛАСА. От лявата страна се вижда списък с подменюта.&nbsp;</span>

                <hr /><br />
                2. <span style="color:#FFA500;">Учениците създават свои профили</span> с помощта на родител, следвайки пътя&nbsp;Регистрация&nbsp;-&gt;&nbsp;Създай нов профил&nbsp;-&gt;&nbsp;<a href="https://knigovishte.bg/register?type=student">Създай профил на дете</a>. Ако някой ученик вече има свой профил в Книговище, е добре да използва него, за да си запази натрупаната читателска история.<br />
                <br />
                <span style="font-size: 13px;">За да улесним учителя, създадохме писмо&nbsp;с обяснение и инструкции, което преподавателят може директно да изпрати на родителите на своите ученици. Писмото се намира в подменю &bdquo;Помощни материали&ldquo; или <a href="https://www.knigovishte.bg/page?id=27">ТУК</a>.&nbsp;</span>

                <hr /><br />
                <span style="font-size: 13px;">
                    3. <span style="color:#FFA500;">Присъединяване на ученическите профили към групата КЛАС</span>. За да стане това, е необходимо:<br />
                    <br />
                    1. ученикът да отиде в меню &quot;<strong>Моите групи</strong>&quot;, да потърси групата на класа си чрез търсачката в това меню и да подаде заявка за присъединяване
                </span><span style="font-size: 13px;">
                    <strong>;&nbsp;</strong><br />
                    <br />
                    2. учителят да приеме заявките на своите ученици от меню <strong>&quot;Заявки за приемане&quot;</strong>.&nbsp;
                </span><br />
                &nbsp;
                <p>Сега групата&nbsp;КЛАС е задействана и може да се ползват&nbsp;всичките&nbsp;&ugrave; функции. Повече за възможностите, които предлага групата КЛАС, може да прочетете <a href="https://www.knigovishte.bg/page?id=26">ТУК</a>.</p>

                <hr /><br />
                4. <span style="color:#FFA500;">Закупуване на годишен абонамент</span>.&nbsp;Ако групата КЛАС е създадена без за нея да е активиран годишен абонамент, автоматично се включва ползване на Книговище в демо безплатен режим. Демо-режимът продължава 20 дни от създаването на учителския профил (или до решаване на 3 въпросника през съответния профил).<br />
                <br />
                Закупуването на годишен абонамент може да стане през:<br />
                <br />
                а) учителския профил на групата КЛАС (през меню&nbsp;<strong>Купи абонамент</strong>);<br />
                б)&nbsp;всеки регистриран Книговищен профил&nbsp;(през меню&nbsp;<strong>Купи абонамент</strong>);<br />
                в) заявка по имейл info@knigovishte.bg, когато се закупуват повече групови абонаменти&nbsp;<br />
                <br />
                След закупуване на абонамент, купувачът получава по имейл&nbsp;инструкции за активацията му.
            </div>

        </div>
    </div>
</div>

