@{
    ViewData["Title"] = "Создать профиль семьи";
}
<div id="content">
    <div class="container">
        <div class="legend">
            <h1 style="text-align:center;margin-bottom:50px;line-height:40px;">Как се създава група СЕМЕЙСТВО</h1>
            <div class="page_content">
                <strong>Група СЕМЕЙСТВО </strong>свързва децата (а защо не и братовчедите) от едно семейство и техен родител във виртуална група. В нея участниците могат да сравняват своите читателски постижения, да се състезават помежду си и да споделят препоръки и мнения за книги.&nbsp;Групата се установява, като всеки ученически профил се свързва чрез код с родителския профил.<br />
                <br />
                Група СЕМЕЙСТВО свързва до 4 ученически профила и 1 родителски.<br />
                &nbsp;
                <h2>Ето и конкретните стъпки за активиране на функциите на групата СЕМЕЙСТВО.</h2>

                <hr /><br />
                1. Родителят регистрира свой профил, като отива на&nbsp;&nbsp;Регистрация&nbsp;-&gt;&nbsp;<a href="https://knigovishte.bg/register?type=undefined">Създай нов профил</a>&nbsp;-&gt;&nbsp;<a href="https://knigovishte.bg/register?type=parent">Създай родителски профил</a>&nbsp;и&nbsp;попълва формуляра &bdquo;Регистрация&ldquo;. (Ако родителят вече притежава учителски профил, може да ползва него.)<br />
                <br />
                2. В регистрационния формуляр има поле &quot;Абонаментен ключ&quot;. В него сложете абонаментния код, който сте получили, ако за семейството вече е закупен абонамент. Ако не разполагате с такъв, оставете празно това поле.<br />
                <br />
                <em>Играта в Книговище е безплатна до 15 септември 2019 г., а след това за нови потребители се активира демо-периодът от 20 дни (или 3 решени въпросника)</em>.<br />
                <br />
                3.&nbsp;След като се влезе в създадения вече родителски профил, автоматично се зарежда менюто на групата Семейство. От лявата страна се вижда списък с подменюта.&nbsp;<br />
                <br />
                <em>Подробно описание на това как може да се ползва групата СЕМЕЙСТВО може да намерите&nbsp;<a href="https://www.knigovishte.bg/page?id=30" target="_blank">ТУК</a>.</em><br />
                <br />
                4. Необходимо е да се присъединят профилите на децата към родителския профил. Тези профили родителят трябва да ги създаде поотделно за всяко дете. Създаването е аналогично на това на родителския профил, но <a href="https://knigovishte.bg/register?type=undefined" target="_blank">на втора стъпка</a> се избира &quot;<a href="https://knigovishte.bg/register?type=student" target="_blank">Създай профил на дете</a>&quot;.&nbsp;<br />
                <br />
                5. За да присъедините индивидуалните профили на децата, трябва да дадете&nbsp;<strong>абонаментен ключ за деца&nbsp;</strong>на всеки от тях. Списъкът със&nbsp;&bdquo;Свободни абонаментни ключове за деца&ldquo;&nbsp; се намира в меню&nbsp;&quot;Моите деца&quot;.&nbsp;<br />
                <br />
                Всеки код се използва само веднъж. Избраният код се поставя в профила на детето - в свободното поле в меню &quot;Активирай абонамента си&quot;.&nbsp;<br />
                &nbsp;
                <p>Сега групата СЕМЕЙСТВО е задействана. Повече за това как да се ползва, може да прочетете&nbsp;<a href="https://www.knigovishte.bg/page?id=30">ТУК</a>.</p>
            </div>

        </div>
    </div>
</div>

