@{
    ViewData["Title"] = "Создать профиль семьи";
}
    <div id="content">
        <div class="container">
            <div class="legend">
                <h1 style="text-align:center;margin-bottom:50px;line-height:40px;">Как создать группу СЕМЬЯ</h1>
                <div class="page_content">
                    <strong>Группа СЕМЬЯ </strong>соединяет детей (и почему не двоюродных братьев) из одной семьи и их родителей в виртуальную группу.
                    В нем участники могут сравнивать свои достижения в чтении, соревноваться друг с другом и делиться рекомендациями и мнениями о книгах.
                    Группа создается путем связывания каждого профиля ученика с профилем родителя.<br />
                    <br />
                    Група СЕМЬЯ объединяет до 4 профилей учеников c профилем родителя.<br />
                    <br />
                    <h2>
                        Вот конкретные шаги, чтобы активировать функции группы СЕМЬЯ.
                    </h2>

                    <hr /><br />
                    1. Родитель создает свой профиль, перейдя на страницу Регистрация  &rarr; <a href="https://knigovishte.bg/register?type=undefined">
                        Создать новый профиль
                    </a>  &rarr; <a href="https://knigovishte.bg/register?type=parent">Создать профиль родителя</a>  и
                    заполняет форму "Регистрация". (Если уже есть профиль, он может его использовать.)<br />
                    <br />
                    2. В регистрационной форме есть поле "Ключ подписки".
                    В нем родитель помещает ключ абонемента, который он получил, если абонемент уже был приобретен для семьи. Если его нет, поле остается пустым.<br />
                    <br />
                    3. После того, как родитель входит в созданный профиль, меню группы СЕМЬЯ автоматически загружается.
                    Слева находится список подменю.&nbsp; <br />

                    <br />
                    4. Необходимо прикрепить детские профили к родительскому профилю. Эти профили должны быть созданы родителем индивидуально для каждого ребенка.
                    Создание аналогично создаванию родителского профиля, но <a href="https://knigovishte.bg/register?type=undefined" target="_blank">
                        на втором этапе
                    </a>
                    выберите "<a href="https://knigovishte.bg/register?type=student" target="_blank">Создать профиль ребенка</a>". <br />
                    <br />
                    5.
                    Чтобы присоединить индивидуальные профили детей, необходимо дать <strong>ключ детского абонемента</strong>
                    каждому из них. Список
                    ключей для детей находится в меню "Мои дети".<br />
                    <br />
                    Каждый код используется только один раз. Код вводится в профиле ребенка - в свободном поле в меню «Активировать подписку».<br />
                    &nbsp;
                    <p>
                        Теперь группа СЕМЬЯ активирована. <a href="https://www.knigovishte.bg/page?id=30">ЗДЕСЬ</a> Вы можете прочитать больше о том, как её использовать.
                    </p>
                </div>

            </div>
        </div>
    </div>

