
@{
    ViewData["Title"] = "ЧЗВ";
}

    <div id="content">
        <div class="container">
            <div class="legend" class="faq" id="faq">
                <h1 style="text-align:center;margin-bottom:50px;line-height:40px;">Често задавани въпроси</h1>
                <div class="page_content">
                    <p>
                        <small>
                            <var>
                                <big>
                                    <span style="color:#FFA500;"><strong>Въпрос: Не мога да намеря менютата в профила си</strong></span><br />
                                    Отговор: Ако при влизане с ИМЕЙЛ и парола, попаднете на поздрав &quot;Здравей,...! Оттук може да следиш статуса на закупените абонаменти и да преглеждаш абонаментните ключове&quot;, означава, че не сте влезли в потребителския си профил като участник в играта. Моля, излезте от този профил (това е профил за купувач и се използва само за купуване на абонаменти)! Влезте отново, но този път с <strong>потребителско име</strong> (а не с имейл) и парола!<br />
                                    * Абонаментите може да се поръчват и през профилите за деца, учители и родители, но от специфичните профили на купувач (което се вижда и в адреса на страницата - www.knigovishte.bg/payer/dashboard) не може да се ползват функциите на платформата.<br />
                                    <br />
                                    <span style="color:#FFA500;"><strong>Въпрос: Не мога да вляза в профила си и ми излиза съобщение &quot;Невалидно потребителско име&nbsp;или парола&quot;, а сте сигурни, че паролата е правилната</strong></span><br />
                                    Отговор: Платформата разграничава потребителското име от имейла. Моля, уверете се, че въвеждате <strong>потребителското име</strong> на профила, а не имейла, с който е регистриран.<br />
                                    <br />
                                    <strong><span style="color:#FFA500;">Въпрос: След като съм попълнил въпросник, мога ли да се върна и да го попълня отново?</span></strong>
                                </big><br />
                                <big><em>Отговор: Не, всеки въпросник се попълва само един път от един профил. В</em><em>&nbsp;извънредни случаи (например свършил е токът&nbsp;на таблета ти по средата на въпросник и не си могъл да го завършиш) можеш да изпратиш искане за рестаритране на въпросника, като напишеш причината за това искане.</em></big>
                            </var>
                        </small>
                    </p>

                    <p>
                        <small>
                            <big><span style="color:#FFA500;"><strong>Въпрос: Какво да правя ако няма въпросник по прочетена от мен книга, а искам да си натрупам точки за нея?</strong></span></big><br />
                            <big><em>Отговор: Помоли родител или учител, а защо не и някой приятел да създадете заедно въпросник за Книговище. Как става това можеш да научиш <a href="https://knigovishte.bg/page?id=12">тук</a>. Ако въпросникът ти отговаря на изискванията, той ще бъде публикуван, а ти ще спечелиш три пъти точките, предвидени за правилното му попълване.</em></big>
                        </small>
                    </p>

                    <p>
                        <small>
                            <big><span style="color:#FFA500;"><strong>Въпрос: Задължително ли е да попълвам отговор в полето при последния въпрос? </strong></span></big><br />
                            <big><em>Отговор: Не, не е задължително и не носи точки. Този въпрос ти дава възможност да обменяш мисли с приятели по въпроси, свързани с книгата, която си прочел. </em></big>
                        </small>
                    </p>

                    <p>
                        <small>
                            <big><span style="color:#FFA500;"><strong>Въпрос: Как да активирам групата&nbsp;КЛАС?</strong></span></big><br />
                            <big>
                                <em>Отговор: подробни инструкции за учителя можете да намерите <a href="https://www.knigovishte.bg/page?id=28">тук</a>. Писмо до родителите с указания за инсталиране на профила на детето им в груповия абонамент КЛАС можете да намерите <a href="https://www.knigovishte.bg/page?id=27" target="_blank">тук</a>.&nbsp; Допълнителна информация за възможностите, които предоставя групата КЛАС в Книговище&nbsp;можете да намерите <a href="https://www.knigovishte.bg/page?id=26">тук</a></em><br />
                                <br />
                                <span style="color:#FFA500;"><strong>Въпрос: Как да активирам групата СЕМЕЙСТВО?</strong></span>
                            </big>
                        </small><br />
                        <small><big><em>Отговор: подробни инструкции за активирането на групата СЕМЕЙСТВО&nbsp;можете да намерите <a href="https://www.knigovishte.bg/page?id=29">тук</a>.</em></big></small>
                    </p>

                    <p>
                        <br />
                        <var>Задай своя въпрос на info@knigovishte.bg и ние ще ти отговорим.</var>
                    </p>
                </div>

            </div>
        </div>
    </div>

