
@{
    ViewData["Title"] = "ЧЗВ";
}

<div id="content">
    <div class="container">
        <div class="legend" class="faq" id="faq">
            <h1 style="text-align:center;margin-bottom:50px;line-height:40px;">Часто задаваемые вопроси</h1>
            <div class="page_content">
                <p>

                    <span style="color:#FFA500;">
                        Вопрос: Я не могу войти в систему и получаю сообщение о неверном пароле, но я уверен, что пароль правильный
                    </span><br />
                    Ответ: Платформа отличает имя пользователя от электронной почты. Убедитесь, что Вы вводите имя пользователя, а не адрес электронной почты.<br />
                    <br />
                    <span style="color:#FFA500;">Вопрос: После заполнения викторины могу ли я вернуться и заполнить ее снова?</span>
                    <br />
                    <em>
                        Ответ: Нет, каждая викторина заполняется с одного профиля только один раз. В аварийной ситуация (например, на планшете закончилось электричество в середине
                        викторины
                        и Вы не смогли ее заполнить) Вы можете отправить запрос на перезапуск викторины, указав причину.
                    </em>

                </p>
                <p>
                    <span style="color:#FFA500;">
                        Вопрос: Что мне делать, если у книге, которую я читаю, нет викторины, а я хочу заработать очки?
                    </span> <br />
                            <em>
                                Ответ: Предложите одному из родителей или учителей, а почему бы и не другу создать викторину вместе. Как Вы можете это сделать,
                                вы можете узнать
                                <a href="https://knigovishte.bg/page?id=12"> здесь</a>. Если Ваша викторина соответствует критериям, она будет опубликована, и Вы получите трёхкратное количество очков, которое Вы 
                                бы получити за её правильное решение.
                            </em>
                </p>
                <p>
                    <span style="color:#FFA500;">Вопрос: Обязательно ли мне отвечать на последний вопрос? </span><br />
                    <em>
                        Ответ: Нет, это необязательно и не приносит очки. Этот вопрос дает Вам возможность обменяться мнениями о книге, которую Вы прочитали.
                    </em>
                </p>
                <p>
                    <span style="color:#FFA500;">Вопрос: Как активировать группу КЛАСС?</span><br />
                    <em>
                        Ответ: Вы можете найти подробные инструкции для учителя <a href="https://www.knigovishte.bg/page?id=28"> здесь</a>. Письмо родителям с инструкциями для
                        создания профиля для ребенка и присоединения к группе КЛАСС Вы найдете <a href="https://www.knigovishte.bg/page?id=27" target="_blank"> здесь</a>.
                        Дополнительную информацию о возможностях, предлагаемых группой КЛАСС, Вы можете найти <a href="https://www.knigovishte.bg/page?id=26">
                            здесь.
                        </a>
                    </em><br />
                    <br />
                    <span style="color:#FFA500;">
                        Вопрос:
                        Как активировать группу СЕМЬЯ?
                    </span>
                    <br />
                    <em>Ответ: подробные инструкции по активации группы СЕМЬЯ вы можете найти <a href="https://www.knigovishte.bg/page?id=29">здесь</a>.</em>
                </p>

                <p>
                    <br />
                    Задайте свой вопрос по адресу info@knigovishe.ru, и мы ответим Вам.
                </p>
            </div>

        </div>
    </div>
</div>

