
@{
    ViewData["Title"] = "ЧЗВ";
}

<div id="content">
    <div class="container">
        <div class="legend" class="faq" id="faq">
            <h1 style="text-align:center;margin-bottom:50px;line-height:40px;">Часто задаваемые вопроси</h1>
            <div class="page_content">
                <p>

                    <span style="color:#FFA500;">Вопрос: После заполнения викторины могу ли я вернуться и заполнить ее снова?</span>
                    <br />
                    <em>
                        Ответ: Нет, каждая викторина заполняется с одного профиля только один раз. В аварийной ситуация (например, на планшете закончилась зарядка в середине
                        викторины и ты не смогли ее закончить) ты можешь отправить запрос на перезапуск викторины, указав причину.
                    </em>
                </p>
                <p>
                    <span style="color:#FFA500;">
                        Вопрос: Что мне делать, если у книге, которую я читаю, нет викторины, а я хочу заработать очки?
                    </span>
                    <br />
                    <em>
                        Ответ: Предложи одному из родителей или учителей, а почему бы и не другу создать викторину вместе. Как ты можешь это сделать,
                        ты можешь узнать
                        <a href="https://knigovishte.bg/page?id=12"> здесь</a>. Если твоя викторина соответствует критериям, она будет опубликована, и ты получишь трёхкратное количество очков, которое ты
                        бы получил за её правильное решение.
                    </em>
                </p>
                <p>
                    <span style="color:#FFA500;">Вопрос: Обязательно ли мне отвечать на последний вопрос? </span><br />
                    <em>
                        Ответ: Нет, это необязательно и не приносит очки. Этот вопрос дает тебе возможность обменяться мнениями о книге, которую ты прочитал.
                    </em>
                </p>
                <p>
                    <span style="color:#FFA500;">Вопрос: Как активировать группу КЛАСС?</span><br />
                    <em>
                        Ответ: Ты можете найти подробные инструкции для учителя <a href="https://www.knigovishte.bg/page?id=28"> здесь</a>. Письмо родителям с инструкциями для
                        создания профиля для ребенка и присоединения к группе КЛАСС ты найдешь <a href="https://www.knigovishte.bg/page?id=27" target="_blank"> здесь</a>.
                        Дополнительную информацию о возможностях, предлагаемых группой КЛАСС, можно найти <a href="https://www.knigovishte.bg/page?id=26">
                            здесь.
                        </a>
                    </em>
                </p>
                <p>
                    <span style="color:#FFA500;">
                        Вопрос:
                        Как активировать группу СЕМЬЯ?
                    </span>
                    <br />
                    <em>Ответ: подробные инструкции по активации группы СЕМЬЯ можно найти <a href="https://www.knigovishte.bg/page?id=29">здесь</a>.</em>
                </p>
                <p>
                    <br />
                    Задай свой вопрос по адресу info@knigovishe.ru, и мы ответим тебе.
                </p>
            </div>

        </div>
    </div>
</div>

