@{
    ViewData["Title"] = "Письмо родителям";
}

<div id="content">
    <div class="inner">
        <div class="legend">
            <h1 style="text-align:center;margin-bottom:50px;line-height:40px;">Для РОДИТЕЛЕЙ - как детский профиль присоединяется к группе КЛАСС</h1>
            <div class="page_content">
                <p>Дорогие родители,</p>
                <p>
                    Если вы получили ссылку на это письмо от учителя Вашего ребенка, это означает,
                    что класс имеет годовую подписку на Книговище, инновационной онлайн-платформе,
                    которая побуждает детей читать, развивает навыки чтения и понимания, грамотность и любовь к книгам.<br><br>
                    Чтобы включить Вашего ребенка в «игру», Вам нужно создать личный профиль, чтобы он или она могли
                    присоединиться к группе, которую учитель уже создал. Когда учетная запись входит в группу, годовая подписка
                    автоматически переносится и на учётную запись Вашего ребенка. Тогда Вам <span style="font-weight: bold; color: #FFA500">не нужно приобретать отдельную подписку.</span><br />
                    <br>Пожалуйста, следуйте инструкциям:
                </p>
                <ol>
                    <li>
                        <p>
                            Создайте индивидуальный профиль для вашего ребенка, выбрав «Регистрация» и правильно заполнив форму.
                        </p>
                    </li>
                    <li>
                        <p>
                            Создав индивидуальный профиль ребенка, войдите в него и перейдите в меню Мои группы.
                            Используйте поисковую систему, чтобы найти там классную группу Вашего ребенка.
                            Подайте заявку на поступление в группу.
                        </p>
                    </li>
                    <li>Учитель, в свою очередь, принимает запрос Вашего ребенка через свой профиль учителя, который управляет группой КЛАСС.
                </ol>
                <p>Готово! Теперь Ваш ребенок может играть, вести личный дневник, решать викторины по книгам, которые он читает, накапливать баллы и проходить уровни.</p>
                <p>
                    Книговище использует игровой подход, чтобы увлечь детей и сделать чтение приятным, веселым, важным и даже модным занятием. Для детей это онлайн-игра, в которую они могут играть, читая книги.<br><br>
                    Платформа постоянно обогащает свой контент, не накладывая тематического ограничения на литературу для детей и подростков.
                </p>
                <p>
                    В Knigovishe.ru дети входят в свой профиль, находят название книги, которую они недавно прочитали и отвечают на предварительно загруженные вопросы,
                    выбирая один из трех возможных ответов.
                    Вопросы приносят разное количество баллов, в зависимости от сложности текста. При правильных ответах дети накапливают баллы и повышают уровень.<br><br>
                    Ученики соревнуются как с компьютером, так и со своими сверстниками. Книговище также служит электронным дневником чтения, в котором молодой читатель
                    делает записи о книгах, которые он прочитал.
                    <br>
                    Книговище работает с индивидуальным доступом для учеников, но также предлагает групповое использование для всего класса.
                </p>
                <span style="font-weight: bold">Преимущества участия в группе КЛАСС:</span><br><br>
                <ul>
                    <li>
                        <p>Одноклассники могут соревноваться и рекоммендовать книги друг другу.</p>
                    </li>
                    <li>
                        <p>Книговище использует игровой подход, обучая детей понимать, что они читают и опираться на позитивный опыт чтения.</p>
                    </li>
                    <li>
                        <p>Лучшая групповая динамика и больше стимулов говорить о книгах.</p>
                    </li>
                    <li>
                        <p>Весь класс может конкурировать с другими классами - в школе, дома или по всему миру - просто читая.</p>
                    </li>
                    <li>
                        <p>У учителя есть дополнительный инструмент для работы с классом для повышения грамотности чтения каждого из детей.</p>
                    </li>
                    <li>
                        <p>Наконец, что не менее важно, при использовании всего класса годовая подписка на одного ребенка составляет около 100 руб., что в 6 раз дешевле, чем индивидуальная подписка.</p>
                        <p>Учитель Вашего ребенка хочет создать книжную группу для класса Вашего ребенка. Просим Вашей помощи!</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
