@{
    ViewData["Title"] = "Помощь";
}
<div class="visible-desktop">
    <div class="page_banner" style="background-image:url(/skin/header_how.png);background-color:#fcc54f;">
        <div class="container" style="position: relative">
            <h1 style="position:absolute;top:130px;font-size:40px;left:100px;">Как работи</h1>
        </div>
    </div>
</div>
<div class="visible-mobile">
    <div style="padding-top:40px;text-align:center;font-size:22px;font-weight:bold;">Как работи</div>
</div>
<div id="content">
    <div class="container">
        <div class="legend">
            <div class="page_content">
                <h2><strong><big><span style="color:#FFA500;">Книговище</span> <span style="color:#FFA500;">е</span></big></strong></h2>
                <p><big>онлайн игра на въпроси и отговори върху детски книги&nbsp;</big></p>
                <p><big>общност на четящите, която се развива непрекъснато</big></p>
                <p><big>забавление и образование в едно</big></p>
                <br />
                <a id="Нагоре" name="Нагоре"></a>
                <table align="left" border="0" cellpadding="1" cellspacing="1" style="width: 800px;">
                    <tbody>
                        <tr>
                            <td><img alt="" src="https://www.knigovishte.bg/uploads/Knigovishte_Resources-07.png" style="width: 200px; height: 200px; margin: 10px;" /></td>
                            <td><img alt="" src="https://www.knigovishte.bg/uploads/Knigovishte_Resources-14.png" style="width: 200px; height: 200px; margin: 10px;" /></td>
                            <td><img alt="" src="https://www.knigovishte.bg/uploads/3-step_picture.png" style="width: 110px; height: 97px; margin: 50px;" /></td>
                        </tr>
                        <tr>
                            <td style="text-align: left; vertical-align: top;">
                                <p><b>създаваш си профил</b>&nbsp;&nbsp; &nbsp;</p>
                                <p>като ученик, родител или учител</p>
                            </td>
                            <td style="text-align: left; vertical-align: top;">
                                <p><strong>решаваш въпросници по книги</strong></p>
                            </td>
                            <td style="text-align: left; vertical-align: top;">
                                <p><strong>печелиш</strong> точки и качваш нива</p>
                                <p><strong>състезаваш</strong> се с други читатели</p>
                                <p><strong>водиш</strong> си дневник</p>
                                <p><strong>споделяш</strong> с други читатели</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h2>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    &nbsp;
                </h2>
                <p>
                    <br />
                    <br />
                    <br />
                    <big><font size="3"><a href="#За кого е Книговище"><span style="color:#FFA500;">За кого е Книговище</span></a></font></big>
                </p>
                <p><big><a href="#видове профили"><span style="color:#FFA500;">Видове профили </span></a></big></p>
                <p><a href="#как се регистрира профил"><span style="color:#FFA500;"><big>Как се регистрира профил</big></span></a></p>
                <p><a href="#Въпросниците в Книговище"><span style="color:#FFA500;"><big>Въпросниците в Книговище</big></span></a></p>
                <p><a href="#Присъединяване към групи КЛАС или СЕМЕЙСТВО"><span style="color:#FFA500;"><big>Присъединяване към групи КЛАС или СЕМЕЙСТВО</big></span></a></p>
                <p><a href="#Абонаментни планове"><span style="color:#FFA500;"><big>Абонаментни планове</big></span></a></p>
                <p><big><a href="#Истории от Книговище"><span style="color:#FFA500;">Истории от Книговище</span></a><span style="color:#FFA500;">&nbsp;</span></big></p>
                <p><a href="#Пишете ни"><span style="color:#FFA500;"><big>Пишете ни</big></span></a></p>
                <hr />
                <p>
                    <br />
                    <big><font color="#ffa500" size="3"><a id="За кого е Книговище" name="За кого е Книговище"></a></font></big>
                </p>
                <h2><big><strong><span style="color:#FFA500;">За кого е Книговище</span></strong></big></h2><p>
                    <big>
                        <font size="3">
                            Книговище е насочена към деца и младежи от предучилищна до около 14-годишна възраст.&nbsp; Те могат да ползват играта самостоятелно или в групи.&nbsp;<br />
                            <br />
                            Книговище може да се ползва от родители, учители, библиотекари, детски центрове, клубове по интереси и други групи, в които книгите и четенето с разбиране са ценност и предмет на занимание.<br />
                            <br />
                            В тези и подобни групи възрастният (учител, родител, библиотекар, възпитател), който е и своеобразен администратор на всяка от тях, има възможност да използва различни инструменти, чрез които да организира онлайн състезания, обсъждания на живо и да връчва грамоти.<br />
                            <br />
                            Повече за функциите вижте в групите<a href="https://www.knigovishte.bg/page?id=26" target="_blank"> КЛАС</a> и <a href="https://www.knigovishte.bg/page?id=30">СЕМЕЙСТВО.</a> За други видове групи, свържете се директно с нас на
                        </font>
                    </big><a href="mailto:info@knigovishte.bg">info@knigovishte.bg</a><big>
                        <font size="3">
                            .&nbsp;<br />
                            <br />
                            Ползването на платформата е в съответствие с <a href="https://www.knigovishte.bg/page?id=5" target="_blank">Общите условия</a> за ползване на &ldquo;Книговище&rdquo;. Сайтът спазва <a href="https://www.knigovishte.bg/page?id=6" target="_blank">Политика на поверителност и защита на личните&nbsp;данни</a>
                        </font>
                    </big><br />
                    &nbsp;
                </p>
                <a href="#Нагоре"><em>Върни се в началото</em></a>
                <hr />
                <p><a id="видове профили" name="видове профили"></a></p>
                <h2><strong><span style="color:#FFA500;"><big>Видове профили </big></span></strong></h2>
                <p>В Книговище всяко дете, родител или учител има собствен <a href="https://www.knigovishte.bg/register?type=undefined">профил</a>.&nbsp;</p>
                <ul>
                    <li>
                        <p><big><span style="color:#FFA500;">Профил на дете&nbsp;</span></big></p>
                    </li>
                </ul>
                <p>
                    Всяко дете или младеж може да има профил.&nbsp;Чрез своя индивидуален детски профил отговаря на въпроси към прочетени книги или към отделни текстове.&nbsp;Може да оценява книгите, да си води <a href="https://www.knigovishte.bg/page?id=33">личен читателски дневник</a> и да <a href="https://www.knigovishte.bg/page?id=34">споделя мнението</a> си.<br />
                    <br />
                    За децата Книговище е онлайн игра, но такава, в която могат да печелят точки, да качват нива и да получават награди само като четат книги.<br />
                    <br />
                    Индивидуалният детски профил може да се ползва самостоятелно или да се присъединява към неограничен брой групи (клас, семейство или други), за които е платен годишен абонамент.<br />
                    &nbsp;
                </p>
                <ul>
                    <li><span style="color:#FFA500;"><big>Родителски профил&nbsp;</big></span></li>
                </ul>
                <p>
                    Родителският профил е администратор на група СЕМЕЙСТВО или на група, в която могат да се свържат до 4 детски профила.<br />
                    <br />
                    Когато се решават въпросници през родителския профил, не се трупат точки, за да се поддържа справедливостта в играта.<br />
                    <br />
                    През родителския профил възрастният има поглед върху отделните постижения на децата в групата и може да им организира онлайн състезания, офлайн обсъждания и да създава предизвикателства за награди.<br />
                    &nbsp;
                </p>
                <ul>
                    <li><span style="color:#FFA500;"><big>Учителски профил&nbsp;</big></span></li>
                </ul>
                <p>
                    Учителският&nbsp;профил е администратор на група КЛАС&nbsp;или на група, в която могат да се свържат до 30&nbsp;детски профила.<br />
                    <br />
                    Когато се решават въпросници през учителския профил, не се трупат точки, за да се поддържа справедливостта в играта.<br />
                    <br />
                    През учителския&nbsp;профил възрастният има поглед върху отделните постижения на децата в групата и може да им организира онлайн състезания, офлайн обсъждания и да създава предизвикателства за награди.<br />
                    <br />
                    За учителите Книговище е безценен съюзник във възпитаването на активни и компетентни млади читатели, в изграждането на навици за редовно четене и четене с разбиране.&nbsp;<br />
                    <br />
                    <a href="#Нагоре"><em>Върни се в началото</em></a>
                </p>
                <hr />
                <p><b><span style="color:#FFA500;"><big><a id="как се регистрира профил" name="как се регистрира профил"></a></big></span></b></p>
                <h2><b><span style="color:#FFA500;"><big>Как се регистрира профил</big></span></b></h2>
                <ul>
                    <li>&nbsp;&nbsp; &nbsp;<span style="color:#FFA500;"><big>Регистрация профил на дете/младеж&nbsp;</big></span></li>
                </ul>
                <p>
                    <a href="https://www.knigovishte.bg/register?type=undefined">Създаването на детски&nbsp;</a>профил е добре да стане&nbsp;с помощта и съгласието на родител.&nbsp;Важно е информацията в профила да е точна и да са попълнени всички задължителни полета, за да може играта да работи добре.&nbsp;<br />
                    <br />
                    Информацията може да бъде редактирана във всеки момент, може да се качва и сменя профилна снимка или аватар.&nbsp;<br />
                    <br />
                    Присъединяването към групи става през отделно меню след регистрация на профила.&nbsp;&nbsp;<br />
                    &nbsp;
                </p>
                <ul>
                    <li>&nbsp;&nbsp; &nbsp;<span style="color:#FFA500;"><big>Регистрация родителски профил</big></span></li>
                </ul>
                <p>
                    <a href="https://knigovishte.bg/register?type=undefined">Създайте си </a>профил.&nbsp;Важно е информацията в профила да е точна и да са попълнени всички задължителни полета. Информацията в профила може да бъде допълнително редактирана. С поставяне на снимка и име на групата, профилът може да придобие по-личен характер.&nbsp;<br />
                    <br />
                    <a href="https://www.knigovishte.bg/page?id=29">Създаването на&nbsp;група СЕМЕЙСТВО</a> се извършва през родителския профил чрез размяна на абонаментни ключове с детските профили в групата. &nbsp;<br />
                    &nbsp;
                </p>
                <ul>
                    <li>&nbsp;&nbsp; <span style="color:#FFA500;"><big>&nbsp;Регистрация учителски профил</big></span></li>
                </ul>
                <p>
                    <a href="https://knigovishte.bg/register?type=undefined">Създайте си </a>учителски профил.&nbsp;Важно е информацията в профила да е точна и да са попълнени всички задължителни полета.&nbsp;Информацията в профила може да бъде допълнително редактирана. С поставяне на снимка и име на групата, профилът може да придобие по-личен характер.&nbsp;<br />
                    <br />
                    <a href="https://www.knigovishte.bg/page?id=28">Създаването на&nbsp;група КЛАС</a>&nbsp;се извършва, като децата подават заявка за присъединяване към групата, чийто администратор е конкретният&nbsp;учителски профил, а възрастният одобрява заявката през своя профил.<br />
                    <br />
                    <br />
                    <a href="#Нагоре"><em>Върни се в началото</em></a>
                </p>
                <hr />
                <h2><a id="Въпросниците в Книговище" name="Въпросниците в Книговище"></a></h2>
                <h2><big><span style="color:#FFA500;"><strong>Въпросниците в Книговище</strong></span></big></h2>
                <p>
                    Съдържанието на Книговище&nbsp;непрекъснато се увеличава, като стремежът е в Книговище да има въпросници за книгите, които децата четат с удоволствие в свободното си време и тези, които обсъждат в учебната програма.<br />
                    <br />
                    Тъй както книгите са различни по обем и сложност, така и&nbsp;въпросниците в Книговище се съобразяват с възрастта на младите читатели.<br />
                    <br />
                    За кратки текстове и приказки въпросникът предвижда по 5 затворени въпроса, чиито верни отговори носят точки. Има и още един - отворен въпрос &ndash; за мнение. Той не се оценява, но може да бъде споделян с други читатели.<br />
                    <br />
                    По книгите, предвидени за прохождащите и най-начинаещи читатели, въпросниците се състоят от по 10 затворени въпроса&nbsp;и 1 отворен въпрос за мнение.&nbsp;<br />
                    <br />
                    Повечето въпросници съдържат по 15 затворени въпроса и 1 &ndash; за мнение.<br />
                    <br />
                    Всеки въпрос има три възможни отговора, от които един е верен<br />
                    <br />
                    Въпросниците в сайта Книговище се състоят от три типа въпроси:
                </p>
                <ul>
                    <li>
                        <p>по съдържанието на книгата;</p>
                    </li>
                    <li>
                        <p>въпроси за размисъл;</p>
                    </li>
                    <li>
                        <p>въпроси за мнение.</p>
                    </li>
                </ul>
                <p>Според възрастовата група, за която е предвиден един въпросник, въпросите по съдържанието и въпросите за размисъл са в различно съотношение.&nbsp;Въпросът за мнение е винаги един.&nbsp;</p>
                <p>Сложността на въпросниците се възнаграждава с различни точки, които са отбелязани и с различни цветове. Легендата на цветовете може да видите <a href="#Легенда на цветовете">тук</a>.</p>
                Повече за създаването на въпросници може да намерите <a href="https://www.knigovishte.bg/page?id=12" target="_blank">тук</a>.<br />
                <br />
                Ако ученик създаде въпросник и той бъде одобрен за качване в платформата, детето получава в профила си тройния размер на точките, които носи този въпросник.<br />
                <br />
                Всеки въпросник може да бъде решен само по веднъж от един профил.<br />
                <br />
                Започнат въпросник, дори и да не е завършен, се отчита от системата като решен.<br />
                <br />
                В случай че възникнат непредвидени обстоятелства, при които детето не успее да реши въпросника, например спиране на ток, прекъсване на интернет или подобни, има право да подаде заявка за рестартиране на въпросника, като опише честно обстоятелствата.<br />
                <br />
                В случай че ученическият профил, от който се подава заявката за рестартиране, участва в група, заявката може да бъде одобрена или отхвърлена от администратора на групата (родител или учител).<br />
                <br />
                В случай че ученическият профил не участва в група, заявката се одобрява или отхвърля от администратора на платформата.<br />
                <br />
                <em><strong><span style="color:#FFA500;">NB</span> На 15 юни всяка година постиженията за изминалата учебна година се нулират и архивират. Натрупаните точки през лятната ваканция се броят за следващата учебна година.</strong></em><br />
                <br />
                <br />
                <a href="#Нагоре"><em>Върни се в началото</em></a>
                <hr />
                <h2><a id="Присъединяване към групи КЛАС или СЕМЕЙСТВО" name="Присъединяване към групи КЛАС или СЕМЕЙСТВО"></a></h2><h2><strong><span style="color:#FFA500;"><big>Присъединяване към групи КЛАС или СЕМЕЙСТВО</big></span></strong></h2>
                <p>
                    Макар четенето да е самотно занимание, удоволствието от споделянето на размисли и моменти от прочетената книга води детето към следващата книга. Желанието да се похвали, да надникне над читателските интереси на своите връстници;&nbsp;ако му е&nbsp;свойско, да се състезава с тях - това са импулси, които правят четенето по-интересно занимание и са с потенциал да увличат в него и деца, на които четенето не им е лесно.<br />
                    <br />
                    В Книговище участието на детските профили в различни групи обогатява удоволствието от играта и подсилва социалния ефект.&nbsp;<br />
                    <br />
                    Групата в Книговище&nbsp;свързва определен брой детски профили и един родителски или учителски&nbsp;във виртуална група, в която участниците могат да сравняват своите читателски постижения, да се състезават помежду си и да споделят препоръки и мнения за книги.<br />
                    <br />
                    Самите групи&nbsp;могат да участват в книговищни състезания с други групи от същия вид (клас или семейство), които са регистрирани в платформата.<br />
                    <br />
                    Участието в група&nbsp;носи допълнително положително преживяване на учениците, които са свързани в нея, дори и без участието на администратора. То увлича децата в &bdquo;състезание по четене&ldquo; в свободното време и им дава повод за разговори за книги .<br />
                    <br />
                    Един детски профил може да се включи в неограничен брой групи, за които е платен годишен абонамент. Включването става, като от личния профил на детето се подаде заявка към група, която то избира от търсачката на&nbsp;меню &quot;Моите групи&quot;.<br />
                    <br />
                    Тъй като групите имат ограничение на броя членове, администраторът на една група винаги може да откаже заявката, защото всеки присъединен профил реално черпи от платените абонаменти на групата. Дори и детският профил да излезе от една група, след като веднъж е ползвал абонамент за нея, той се счита за изразходен.<br />
                    <br />
                    Присъединяването&nbsp;към група СЕМЕЙСТВО е малко по-различно, поради неговия твърде частен характер. За да се установи връзката с група СЕМЕЙСТВО, е необходимо родителят да вземе &quot;свободен&nbsp;абонаментен ключ&quot; от меню &quot;Моите деца&quot; в своя родителски профил и да го въведе в празното поле &quot;Въведи абонаментен ключ&quot; в меню &quot;Активирай абонамента си&quot; на съответния детски профил.<br />
                    <br />
                    Основните групи в Книговище са Група КЛАС и Група СЕМЕЙСТВО. На принцип, подобен на техния, може да се генерират и други групи, които да служат на клубове по интереси, на библиотеки, занимални и&nbsp;детски градини и които могат да бъдат заявени лично на имейл info@knigovishte.bg.&nbsp;
                </p>
                <p>По-подробни насоки към родителите за това как да включат детето си&nbsp;в групата на неговия&nbsp;КЛАС&nbsp;може да бъде намерена&nbsp;<a href="https://www.knigovishte.bg/page?id=27" target="_blank">тук.</a></p>
                Учителите и администраторите на по-големи учебни групи може да открият повече информация за&nbsp;<a href="https://www.knigovishte.bg/page?id=26" target="_blank">функциите</a> на групата&nbsp;КЛАС и как да я <a href="https://www.knigovishte.bg/page?id=28">активират</a>.
                <p>
                    Родителите могат да се ориентират подробно за <a href="https://книговище.бг/page?id=30">функциите</a> на групата СЕМЕЙСТВО и как да я <a href="https://книговище.бг/page?id=29">активират</a>.<br />
                    <br />
                    <br />
                    <a href="#Нагоре"><em>Върни се в началото</em></a>
                </p>
                <hr />
                <h2><a id="Абонаментни планове" name="Абонаментни планове"></a></h2><h2><strong><span style="color:#FFA500;"><big>Абонаментни планове</big></span></strong></h2>
                <p>
                    Книговище&nbsp;работи на принципа на годишния абонамент и предлага различни видове абонаменти - индивидуални и групови -&nbsp;за СЕМЕЙСТВО, за КЛАС, за ЦЯЛО УЧИЛИЩЕ, за ОБЩИНИ.&nbsp;<br />
                    <br />
                    Периодът на абонамент е от 15 септември едната година до 15 септември на следващата.<br />
                    <br />
                    При първа регистрация на профилите без абонаментен план автоматично се включва демо-версията на Книговище. Тя е активна или за общо 3 решени въпросника, или за 20 дни (което условие първо се задейства). След изтичане на демо-периода, за да се продължи играта в платформата, е необходимо да се направи годишен абонамент.<br />
                    <br />
                    Самите абонаменти могат да бъдат закупени както от учители и училищната администрация, така и от родители,&nbsp;родителски колективи, общинска администрация или други организации и да бъдат дарени за ползване от класовете.<br />
                    <br />
                    Изберът на&nbsp;абонамент&nbsp;или подърък може да бъде направен <a href="https://книговище.бг/license">оттук</a>.&nbsp;<br />
                    <br />
                    <br />
                    <a href="#Нагоре"><em>Върни се в началото</em></a>
                </p><hr />
                <h2>
                    <span style="color:#FFA500;">
                        <big>
                            <a id="Истории от Книговище" name="Истории от Книговище"></a><br />
                            <strong>Истории от Книговище</strong>
                        </big>
                    </span>
                </h2>
                <p>
                    <br />
                    <big>
                        <em>
                            &quot;Учител съм на група по целодневно обучение на първокласници в 120 ОУ&bdquo;Георги Сава Раковски&ldquo; в град София. През изминалата учебна година се включих&nbsp; в проект за извънкласна дейност. Реших да предложа на първокласниците дейности по четене, тъй като е много важно да овладеят техниката на четене, за да може постепенно да се приучат от дословно запаметяване, което е характерно за тази възраст, към четене с разбиране.&nbsp; Организирах учениците за участие в клуб &bdquo;Мога да чета&ldquo;. Целта на тази извънкласната дейност беше те&nbsp; да изградят умения за четене на подходяща за тях и различна по вид литература чрез различни дейности, насърчавайки ги да четат за удоволствие,&nbsp; да&nbsp; стимулират интереса им за четене,&nbsp; да развият умения за извличане и анализиране на информация.&nbsp;<br />
                            <br />
                            В търсене на различни начини за четене, попаднах на иновативната платформа &bdquo;Книговище&ldquo;. Тя дава възможност по подходящ начин да се развие у&nbsp; малките читатели освен желание да прочетат книгата, и начин да я разберат. Чрез онлайн игра на въпроси и отговори върху прочетени книги, невръстните читатели непринудено се обучават и подпомагат в усвояването и на важен учебен метод &ndash; четене с разбиране, който води до&nbsp; развитие на потенциала на детето.&nbsp;<br />
                            <br />
                            В иновативната платформа има секция &bdquo;Заедно&ldquo;, която подкрепя малките читатели при затруднения в четенето. Заедно с учителя и своите родители първокласниците разбраха как се решават и как се създават въпросници. Заедно в група създадоха нов въпросник за книгата ,,Кико без крила&ldquo; от Радостина Николова.&nbsp;<br />
                            <br />
                            Резултатът от нашата работа е, че&nbsp; учениците имат желание да четат самостоятелно и да препочитат книгите, да четат каквото&nbsp; им допада, да споделят прочетенето по свой начин, без страх, че нещо са забравили. &bdquo;Книговище&ldquo; се оказа&nbsp; обратната връзка за желанието им да покажат на себе си, на своите родители и своите учители, че четенето може да е лесно и полезно. &bdquo;Книговище&ldquo; е техният нов приятел по нелекия път за развитие на познанието.&quot;
                        </em><br />
                        <br />
                        Камелия Рачева, София
                    </big><br />
                    <br />
                    <br />
                    <a href="#Нагоре"><em>Върни се в началото</em></a>
                </p><hr />
                <p><a id="Пишете ни" name="Пишете ни"></a></p>
                <h2><strong><span style="color:#FFA500;"><big>Пишете ни</big></span></strong></h2>
                <p>За всичко, свързано с Книговище, можете да се свържете с нас чрез Фейсбук на&nbsp;www.facebook.com/Knigovishte&nbsp;или да ни пишете на <a href="mailto:info@knigovishte.bg">info@knigovishte.bg</a></p>
                <p>
                    <br />
                    <a href="#Нагоре"><em>Върни се в началото</em></a>
                    <br />
                    &nbsp;
                </p>
                <hr />
                <p><a id="Легенда на цветовете" name="Легенда на цветовете"></a></p>
            </div>
            <h3 style="text-align:center;">Легенда за цветовете и точките</h3>
            <table style="margin:auto;">
                <tr>
                    <td style="padding:10px;"><div style="border-radius:50%;width:50px;height:50px;" class="class1 bg"></div></td>
                    <td style="padding:10px;" class="class1 txt">Въпросник, който дава по 1 точка на правилен отговор.</td>
                </tr>
                <tr>
                    <td style="padding:10px;"><div style="border-radius:50%;width:50px;height:50px;" class="class2 bg"></div></td>
                    <td style="padding:10px;" class="class2 txt">Въпросник, който дава по 2 точки на правилен отговор.</td>
                </tr>
                <tr>
                    <td style="padding:10px;"><div style="border-radius:50%;width:50px;height:50px;" class="class3 bg"></div></td>
                    <td style="padding:10px;" class="class3 txt">Въпросник, който дава по 3 точки на правилен отговор.</td>
                </tr>
                <tr>
                    <td style="padding:10px;"><div style="border-radius:50%;width:50px;height:50px;" class="class4 bg"></div></td>
                    <td style="padding:10px;" class="class4 txt">Въпросник, който дава по 4 точки на правилен отговор.</td>
                </tr>
                <tr>
                    <td style="padding:10px;"><div style="border-radius:50%;width:50px;height:50px;" class="class5 bg"></div></td>
                    <td style="padding:10px;" class="class5 txt">Въпросник, който дава по 5 точки на правилен отговор.</td>
                </tr>
                <tr>
                    <td style="padding:10px;"><div style="border-radius:50%;width:50px;height:50px;" class="class6 bg"></div></td>
                    <td style="padding:10px;" class="class6 txt">Въпросник, който дава по 6 точки на правилен отговор.</td>
                </tr>
                <tr>
                    <td style="padding:10px;"><div style="border-radius:50%;width:50px;height:50px;" class="class7 bg"></div></td>
                    <td style="padding:10px;" class="class7 txt">Въпросник, който дава по 7 точки на правилен отговор.</td>
                </tr>
                <tr>
                    <td style="padding:10px;"><div style="border-radius:50%;width:50px;height:50px;" class="class8 bg"></div></td>
                    <td style="padding:10px;" class="class8 txt">Въпросник, който дава по 8 точки на правилен отговор.</td>
                </tr>
                <tr>
                    <td style="padding:10px;"><div style="border-radius:50%;width:50px;height:50px;" class="class9 bg"></div></td>
                    <td style="padding:10px;" class="class9 txt">Въпросник, който дава по 9 точки на правилен отговор.</td>
                </tr>
                <tr>
                    <td style="padding:10px;"><div style="border-radius:50%;width:50px;height:50px;" class="class10 bg"></div></td>
                    <td style="padding:10px;" class="class10 txt">Въпросник, който дава по 10 точки на правилен отговор.</td>
                </tr>
            </table>
        </div>
    </div>
</div>



