@{
    ViewData["Title"] = "Помощь";
}
<div class="visible-desktop">
    <div class="page_banner" style="background-image:url(/skin/header_how.png);background-color:#fcc54f;">
        <div class="container" style="position: relative">
            <h1 style="position:absolute;top:190px;font-size:40px;left:100px;">Как это работает</h1>
        </div>
    </div>
</div>
<div class="visible-mobile">
    <div style="padding-top:40px;text-align:center;font-size:22px;font-weight:bold;">Как это работает</div>
</div>
<div id="content">
    <div class="container">
        <div class="legend">
            <div class="page_content" style="font-size: 18px;">
                <h2><span style="color:#FFA500; font-weight: bold">Книговище это:</span></h2>
                <br />
                <p>онлайн-викторины по детским книгам</p>
                <p>читательская аудитория, которая постоянно развивается</p>
                <p>веселье и образование в одном</p>
                <br />
                <a id="Вверх" name="Вверх"></a>
                <table style="width: 800px;">
                    <tbody>
                        <tr>
                            <td><img alt="" src="https://www.knigovishte.bg/uploads/Knigovishte_Resources-07.png" style="width: 200px; height: 200px; margin: 10px;" /></td>
                            <td><img alt="" src="https://www.knigovishte.bg/uploads/Knigovishte_Resources-14.png" style="width: 200px; height: 200px; margin: 10px;" /></td>
                            <td><img alt="" src="https://www.knigovishte.bg/uploads/3-step_picture.png" style="width: 110px; height: 97px; margin: 50px;" /></td>
                        </tr>
                        <tr>
                            <td style="text-align: left; vertical-align: top;">
                                <p><span style="font-weight: bold">создаёте</span> аккаунт</p>
                                <p>как ученик, родитель или учитель</p>
                            </td>
                            <td style="text-align: left; vertical-align: top;">
                                <p><span style="font-weight: bold">решаете</span> викторины по книгам</p>
                            </td>
                            <td style="text-align: left; vertical-align: top; ">
                                <p><span style="font-weight: bold">выигрываете</span> очки и проходите уровни</p>
                                <p><span style="font-weight: bold">созтязаетесь</span> с другими читателями</p>
                                <p><span style="font-weight: bold">ведёте</span> дневник</p>
                                <p><span style="font-weight: bold">общаетесь</span> с другими читателями</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <br />
                <br />
                <p><a href="#для кого"><span style="color:#FFA500; font-weight: bold">Для кого</span></a></p>
                <p><a href="#типы профилей"><span style="color:#FFA500; font-weight: bold">Типы профилей </span></a></p>
                <p><a href="#как зарегестрироваться"><span style="color:#FFA500; font-weight: bold">Как зарегестрироваться</span></a></p>
                <p><a href="#викторины"><span style="color:#FFA500; font-weight: bold">Викторины</span></a></p>
                <p><a href="#присоединение к группе КЛАСС или СЕМЬЯ"><span style="color:#FFA500; font-weight: bold">Присоединение к группе КЛАСС или СЕМЬЯ</span></a></p>
                <p><a href="#абонаменты"><span style="color:#FFA500; font-weight: bold">Абонементы</span></a></p>
                <p><a href="#пишите нам"><span style="color:#FFA500; font-weight: bold">Пишите нам</span></a></p>
                <hr />
                <p>
                    <br />
                    <a id="для кого" name="для кого"></a>
                </p>
                <h2><span style="color:#FFA500; font-weight: bold">Для кого</span></h2>
                <br />
                <p>
                    Платформа Книговище предназначена для детей и молодежи от дошкольного возраста до 14 лет. Они могут использовать игру в одиночку или в группах.
                    <br />
                    <br />
                    Платформа может быть использована родителями, учителями, библиотекарями, детскими центрами, клубами по интересам и другими группами, где книги и чтение,
                    безусловно, представляют собой ценность и предмет интереса.
                    <br />
                    <br />
                    В этих и подобных группах взрослый (учитель, родитель, библиотекарь, педагог), который также является своего рода администратором каждой из них,
                    имеет возможность использовать различные инструменты для организации онлайн-конкурсов и живых обсуждений.
                    <br />
                    <br />
                    Использование платформы должно соответствовать <a asp-controller="Home" asp-action="TermsOfUse" target="_blank">Общим условиям</a>
                    использования. Сайт придерживается <a hasp-controller="Home" asp-action="Policy" target="_blank">
                        Политике конфиденциальности и Защите личных данных.
                    </a>
                    <br />
                    <br />
                </p>
                <a href="#Вверх"><em>Вернуться в начало</em></a>
                <hr />
                <p><a id="типы профилей" name="типы профилей"></a></p>
            <h2><span style="color:#FFA500; font-weight: bold">Типы профилей </span></h2>
            <br/>
                <p>
                    В Книговиште у каждого ученика, родителя или учителя есть свой <a href="https://www.knigovishte.bg/register?type=undefined">профиль</a>.
                </p>
                <ul>
                    <li>
                        <p><span style="color:#FFA500;">Профиль ученика</span></p>
                    </li>
                </ul>
                <p>
                    У каждого ребенка или молодого человека может быть свой профиль. Через свой индивидуальный профиль он или она отвечает на вопросы по книгам или отдельным текстам.
                    Он или она может оценивать книги, следить за своими достижениями, вести личный дневник и далиться мнением о прочитанном.
                    <br />
                    <br />
                    Для детей Книговище - это онлайн-игра, в которой они могут зарабатывать очки, открывать уровни и получать награды, просто читая книги.<br />
                    <br />
                    Индивидуальный профиль может использоваться отдельно или присоединяться к неограниченному количеству групп (класс, семья или другие)
                    которые имеют платный годовой абонемент.<br />
                </p>
                <ul><li><span style="color:#FFA500;">Родителский профиль</span></li></ul>
                <p>
                    Родителский профиль является администратором группы СЕМЬЯ, в которой можно связать до 4 детских профилей.
                    <br />
                    <br />
                    Для поддержания справедливости в игре, при решении викторин с родительского профиля очки не суммируются.
                    <br />
                    <br />
                    Посредством родительского профиля взрослый смотрит на индивидуальные достижения детей в группе и может
                    организовывать онлайн-конкурсы и обсуждения.
                    <br />
                </p>
                <ul><li><span style="color:#FFA500;">Учительский профиль</span></li></ul>
                <p>
                    Профиль учителя является администратором группы КЛАСС, в которой можно связать до 30 детских профилей.
                    <br />
                    <br />
                    Для поддержания справедливости в игре, при решении викторин через профиль учителя  очки не суммируются.
                    <br />
                    <br />
                    Через профиль учителя взрослый смотрит на индивидуальные достижения детей в группе и можеть организовывать онлайн-конкурсы и обсуждения.
                    <br />
                    <br />
                    Для учителей Книговище является неоценимым союзником в обучении активных и компетентных молодых читателей, в развитии их навыков чтения и понимания.
                    <br />
                    <br />
                    <br />
                    <a href="#Вверх"><em>Вернуться в начало</em></a>
                </p>
                <hr />
                <p><span style="color:#FFA500;"><a id="как зарегестрироваться" name="как зарегестрироваться"></a></span></p>
            <h2><span style="color:#FFA500; font-weight: bold">Как зарегестрироваться</span></h2>
            <br/>
            <ul><li><span style="color:#FFA500;">Регистрация детского профиля</span></li></ul>
      
                <p>
                    <a href="https://www.knigovishte.bg/register?type=undefined">Создание детского профиля</a> с согласия и при участии родителей - это хорошая идея. Для правильной работы игры,
                    важно, чтобы информация в профиле была точной и чтобы все необходимые поля были заполнены.
                    <br />
                    <br />
                    Детали профиля могут быть отредактированы в любое время, фотография профиля или аватар могут быть загружены и изменены.
                    <br />
                    <br />
                    Присоединение к группам осуществляется через отдельное меню после регистрации.
                    <br />
                </p>
                <ul><li><span style="color:#FFA500;">Регистрация родительского профиля</span></li></ul>
                <p>
                    <a href="https://knigovishte.bg/register?type=undefined">Создайте свой профиль. </a>Важно, чтобы информация профиля была точной и чтобы все необходимые поля были заполнены.
                    Информация профиля может быть в дальнейшем отредактирована. Имея фото и название группы, профиль может быть более индивидуальным.<br />
                    <br />
                    <a href="https://www.knigovishte.bg/page?id=29">Создание группы СЕМЬЯ</a> осуществляется через родительский аккаунт путем обмена ключом
                    абонемента.<br />

                </p>
                <ul>
                    <li> <span style="color:#FFA500;">Регистрация учительского профиля</span></li>
                </ul>
                <p>
                    <a href="https://knigovishte.bg/register?type=undefined">Создайте свой </a> профиль учителя. Важно, чтобы информация профиля была точной и чтобы все
                    необходимые поля были заполнены. Информация
                    профиля может быть впоследствии отредактирована. Имея фото и название группы, профиль может стать более индивидуальным.
                    <br />
                    <br />
                    <a href="https://www.knigovishte.bg/page?id=28"> Создание группы КЛАСС </a> выполняется детьми, которые подают заявки на вступление в группу, администратором
                    которой является учительский профиль, а взрослый отвечает на запрос. <br />
                    <br />
                    <br />
                    <a href="#Вверх"><em>Вернуться в начало</em></a>
                </p>
                <hr />
                <h2><a id="викторины" name="викторины"></a></h2>
            <h2><span style="color:#FFA500; font-weight: bold">Викторины</span></h2>
            <br/>
                <p>
                    Количество викторин в Книговище неуклонно растет, мы стараемся иметь как можно больше викторин как по книгам, которые дети с удовольствием читают в
                    свободное время, так и по книгам из учебной программы.
                    <br />
                    <br />
                    Поскольку книги различаются по объему и сложности, викторины адаптированы к возрасту молодых читателей.
                    <br />
                    <br />
                    Для коротких текстов и сказок в анкете предусмотрено 5 вопросов, за правильные ответы на которые начисляются очки. Есть еще один вопрос -
                    вопрос о мнении. Он не оценивается. <br />
                    <br />
                    Большинство анкет содержат 15 вопросов и 1 вопрос о мнении.
                    <br />
                    <br />
                    На каждый вопрос есть три возможных ответа, один из которых верный.
                    <br />
                    <br />
                    Викторины состоят из трех типов вопросов:
                </p>
                <ul>
                    <li><p>о содержании книги;</p></li>
                    <li><p>вопросы для размышления; </p></li>
                    <Li><p>вопросы о мнении.</p></Li>
                </ul>
                <p>
                    В зависимости от возрастной группы, для которой предназначается викторина, соттношение вопросов по содержанию к вопросам для размышления разнится. Вопрос мнения всегда один. </ P>
                <p>
                    Сложность викторин определяется количеством очков за правильный ответ и отмечена разными цветами.
                </p>
                Подробнее о создании викторин можно узнать <a href="https://www.knigovishte.bg/page?id=12" target="_blank"> здесь</a>.<br />
                <br />
                Если учащийся создает викторину и она одобрена для загрузки на платформу, ребенок получает тройное количество баллов, которые приносит эта анкета.<br />
                <br />
                Каждая викторина может быть решена с одного аккаунта только один раз.<br />
                <br />
                Запущенные викторины, даже если они не закончены, регистрируются системой как решенные. <br />
                <br />
                В случае непредвиденных обстоятельств, при которых ребенок не может решить викторину, таких как перебои в подаче электроэнергии, отключение интернета и т. п., он или она имеет право запросить
                повтор викторины, честно описывая обстоятельства. <br />
                <br />
                Если профиль учащегося, из которого подается заявка на перезапуск, является частью группы, запрос может быть одобрен или отклонен администратором группы (родитель или учитель). <br />
                <br />
                Если профиль учащегося не принадлежит группе, заявка утверждается или отклоняется администратором платформы. <br />
                <br />


                <em>
                    <span style="color:#FFA500;">NB</span> 15 июня каждого года достижения за прошлый учебный год сбрасываются и архивируются. Очки, начисленные во время летних каникул, учитываются
                    в следующем учебном году.
                </em><br />
                <br />
                <br />
                <a href="#Вверх"><em>Вернуться в начало</em></a>
                <hr />
                <h2><a id="присоединение к группе КЛАСС или СЕМЬЯ" name="присоединение к группе КЛАСС или СЕМЬЯ"></a></h2>
            <h2><span style="color:#FFA500; font-weight: bold">Присоединение к группе КЛАСС или СЕМЬЯ</span></h2>
            <br/>

                <p>
                    Хотя чтение - это уединенное занятие, удовольствие от обмена мыслями о прочитанной книге приводит ребенка к следующей книге.
                    Желание конкурировать с другими читателями - это импульс, который делают чтение более увлекательным занятием и может привлечь детей, которым
                    нелегко читать.<br />
                    <br />

                    В Книговиште участие детских профилей в различных группах повышает интерес к игре и привносит социальный эффект. <br />                <br />
                    Группа соединяет несколько профилей учеников с профилем родителя или учителя в одну виртуальную группу, где участники могут сравнивать
                    свои достижения, соревноваться друг с другом и делиться отзывами о книгах. <br />
                    <br />
                    Сами группы могут участвовать в конкурсе с другими группами того же типа (класс или семья), которые зарегистрированы на платформе. <br />
                    <br />
                    Один детский профиль может быть включен в неограниченное количество групп, для которых оплачивается абонемент. Присоедниться в группе
                    можно отправив запрос группе, которую можно найти в поисковой системе в меню «Мои группы». <br />
                    <br />
                    Поскольку у групп есть предел членства, администратор группы всегда может отклонить запрос. Даже если детский профиль покидает группу после 
                    ее одноразового использования,
                    членство считается израсходованным. <br />
                    <br />
                    Присоединение к группе СЕМЬЯ немного отличается из-за ее очень частного характера. Чтобы установить связь с группой СЕМЬЯ,
                    нужно, чтобы родитель взял ключ детского абонемента в меню "Мои дети" в своем профиле и ввел его в пустое поле
                    "Введите ключ подписки" в меню "Активировать подписку" в соответствующем детском профиле. <br />
                    <br />
                    Основными группами в Книговище являются Группа КЛАСС и Группа СЕМЬЯ. В принципе, аналогично им, могут быть созданы другие группы для клубов
                    по интересам, библиотек, детских садов, создание которых можно запросить лично по электронной почте info@knigovishe.ru<br />
                </p>
                <p>
                    Более подробное руководство для родителей о том, как включить ребенка в группу его класса Вы найдете
                    <a href="https://www.knigovishte.bg/page?id=27"
                       target="_blank">здесь.</a>
                </p>

                    <br />
                    <br />
                    <a href="#Вверх"><em>Вернуться в начало</em></a>
            <hr />
                <h2><a id="абонаменты" name="абонаменты"></a></h2><h2><span style="color:#FFA500; font-weight: bold">Абонементы</span></h2>
            <p>
                <br/>
                Книговище работает по принципу годового абонемента и предлагает различные типы подписок - индивидуальные и групповые - для семьи, для класса, для всей школы,
                для муниципалитетов.
                <br/>
                <br/>
                Период подписки с 15 сентября одного года до 15 сентября следующего.
                <br/>
                <br/>
                Когда Вы впервые регистрируетесь без абонемента, автоматически включается демонстрационная версия. Она активна для в общей сложности 3 решенных викторин
                или в течение 20 дней (в зависимости от того, что срабатывает первым). После окончания демо-периода, чтобы продолжить игру на платформе, необходимо приобрести
                абонемент. <br/>
                <br/>
                Сами подписки могут быть приобретены учителями и администрациями школ, а также родителми, муниципальной администрациями или другими организации и могут быть подарены.<br/>
                <br/>
                Выбрать подарок можно <a href="https://bookbook/license"> здесь</a>. <br/>

                <br/><br/>
                <a href="#Вверх"><em>Вернуться в начало</em></a>
            </p>
                <p>
                    <a id="пишите нам" name="пишите нам"></a>
                </p>
            <h2>  <span style="color: #FFA500; font-weight: bold"> Напишите нам </span></h2>
            <br/>
                <P>
                    По всем вопросам, связанным с Книговище, Вы можете связаться с нами через Facebook www.facebook.com/Knigovishte или напишите нам
                    по адресу <a href="mailto:info@knigovishte.bg"> info@knigovishe.ru </a>
                </P>
                <p>
                    <br />
                    <a href="#Вверх"><em>Вернуться в начало</em></a>
                    <br />

                </p>
                <hr />
                <p><a id="Цвета и очки" name="Цвета и очки"></a></p>
            </div>
            <h3 style="text-align:center;">Цвета и очки</h3>
            <table style="margin:auto;">
                <tr>
                    <td style="padding:10px;"><div style="border-radius:50%;width:50px;height:50px;" class="class1 bg"></div></td>
                    <td style="padding:10px;" class="class1 txt">Викторинa, приносящая 1 очко за правильный ответ</td>
                </tr>
                <tr>
                    <td style="padding:10px;"><div style="border-radius:50%;width:50px;height:50px;" class="class2 bg"></div></td>
                    <td style="padding:10px;" class="class2 txt">Викторинa, приносящая 2 очка за правильный ответ</td>
                </tr>
                <tr>
                    <td style="padding:10px;"><div style="border-radius:50%;width:50px;height:50px;" class="class3 bg"></div></td>
                    <td style="padding:10px;" class="class3 txt">Викторинa, приносящая 3 очка за правильный ответ</td>
                </tr>
                <tr>
                    <td style="padding:10px;"><div style="border-radius:50%;width:50px;height:50px;" class="class4 bg"></div></td>
                    <td style="padding:10px;" class="class4 txt">Викторинa, приносящая 4 очка за правильный ответ</td>
                </tr>
                <tr>
                    <td style="padding:10px;"><div style="border-radius:50%;width:50px;height:50px;" class="class5 bg"></div></td>
                    <td style="padding:10px;" class="class5 txt">Викторинa, приносящая 5 очков за правильный ответ</td>
                </tr>
                <tr>
                    <td style="padding:10px;"><div style="border-radius:50%;width:50px;height:50px;" class="class6 bg"></div></td>
                    <td style="padding:10px;" class="class6 txt">Викторинa, приносящая 6 очков за правильный ответ</td>
                </tr>
                <tr>
                    <td style="padding:10px;"><div style="border-radius:50%;width:50px;height:50px;" class="class7 bg"></div></td>
                    <td style="padding:10px;" class="class7 txt">Викторинa, приносящая 7 очков за правильный ответ</td>
                </tr>
                <tr>
                    <td style="padding:10px;"><div style="border-radius:50%;width:50px;height:50px;" class="class8 bg"></div></td>
                    <td style="padding:10px;" class="class8 txt">Викторинa, приносящая 8 очков за правильный ответ</td>
                </tr>
                <tr>
                    <td style="padding:10px;"><div style="border-radius:50%;width:50px;height:50px;" class="class9 bg"></div></td>
                    <td style="padding:10px;" class="class9 txt">Викторинa, приносящая 9 очков за правильный ответ</td>
                </tr>
                <tr>
                    <td style="padding:10px;"><div style="border-radius:50%;width:50px;height:50px;" class="class10 bg"></div></td>
                    <td style="padding:10px;" class="class10 txt">Викторинa, приносящая 10 очков за правильный ответ</td>
                </tr>
            </table>
        </div>
    </div>
</div>



