
@{
    ViewData["title"] = "Партнёры";
}
<div id="content">
    <div class="container">
        <div class="legend">
            <h1 style="text-align:center;margin-bottom:50px;line-height:40px;">Партнеры</h1>
            <div class="page_content">
                <table class="tc" style="margin:auto;text-align:center;">
                    <tbody>
                        <tr>
                            <td><img src="https://knigovishte.bg/logos/promianata.png" style="max-width: 100%; width: 250px;" /></td>
                            <td style="padding-left:30px;"><img src="https://knigovishte.bg/logos/kultura.jpg" style="max-width:100%;" width="150" /></td>
                            <td style="padding-left:30px;"><img src="https://knigovishte.bg/logos/europe.jpg" style="max-width: 100%; width: 200px;" /></td>
                        </tr>
                        <tr>
                            <td colspan="3" style="height:40px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 30px; text-align: left;"><img src="https://knigovishte.bg/logos/childish.png" style="max-width: 100%; width: 200px;" /></td>
                            <td style="padding-left:30px;"><img src="https://knigovishte.bg/logos/podaretekniga.png" style="max-width:100%;" width="200" /></td>
                            <td style="padding-left:30px;"><img src="https://knigovishte.bg/logos/siteground.png" style="max-width: 100%;  width: 200px;" /></td>
                        </tr>
                        <tr>
                            <td style="padding-left: 30px; text-align: left;">&nbsp;</td>
                            <td style="padding-left:30px;">&nbsp;</td>
                            <td style="padding-left:30px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 30px; text-align: left; white-space: nowrap;"><img alt="" src="https://www.knigovishte.bg/uploads/2012-logo-svcf-4-color-png---72-dpi-for-digital-use.png" style="max-width: 100%;width: 240px;" /></td>
                            <td style="padding-left:30px;">&nbsp;</td>
                            <td style="padding-left:30px;">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> 