@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<div id="content">
    <div class="container">
        <div class="legend">
            <div class="page_content" style="font-family: Calibri, sans-serif" lang="ru">

                <h2>&nbsp;Политика конфиденциальности и защита личных данных</h2>
                <p>
                    <strong><u>I. Введение</u></strong><br /><br />
                    <b>Книговище.ру</b> является проектом фонда <b>Гутенберг 3.0</b><br /><br />
                    Фонд <b>Гутенберг 3.0</b>
                    уважает конфиденциальность подписчиков и пользователей сайта
                    и обеспечивает максимальную защиту личных данных. Настоящая Политика конфиденциальности
                    (далее именуемая <strong>&bdquo;Политика конфиденциальности&ldquo;</strong>)
                    разработана и основаа на действующем болгарском и европейском законодательствах в области защиты персональных данных.<br />
                    Настоящая Политика конфиденциальности регулирует обработку персональных данных физических или юридических лиц, подписчиков любой
                    из услуг, предоставляемых Книговище.ру, а также пользователей
                    www.knigovishe.ru, в связи с услугами, предоставляемыми Knigovishe.ru, в том числе предоставляемыми и доступными на Сайте.
                </p>

                <p>
                    Настоящая Политика конфиденциальности вместе с Общими условиями использования Сайта и любые другие документы, упомянутые на Сайте, устанавливают правила, которыми Фонд Gutenberg 3.0 будет
                    руководствоваться при обработке личной информации, которую мы получаем от Вас или о Вас, или которую вы нам предоставляете.
                    Эта политика конфиденциальности не влияет, не ограничивает и не отменяет Ваши права в соответствии с Законом о защите личных данных
                    (& ld; LPDP & rdquo;) или иного применимого закона.<br />
                    Если у вас есть какие-либо вопросы или комментарии по поводу этой Политики конфиденциальности, пожалуйста, свяжитесь с нами по адресу:
                    info@knigovishe.ru<br />

                    Пожалуйста, внимательно прочитайте эту Политику перед использованием Сайта или предоставлением вашей Личной информации, будь то
                    с помощью электронных средств на Сайте или на бумаге, так как, предоставляя свои личные данные, Вы соглашаетесь с его условиями.
                    Если Вы не хотите обрабатывать Ваши личные данные в порядке, описанном в настоящей Политике конфиденциальности, пожалуйста, не
                    предоставляйте их. Предоставление Вами персональных данных является добровольным, с целью использования определенной информации
                    наших услуг и использования Сайта и/или доступа к нему, а также для онлайн-покупок Сайта. Пожалуйста, обратите внимание
                    что в некоторых случаях мы не сможем предоставить вам услугу и/или продать запрошенный Вами товар, если мы не
                    имеем необходимой информации.
                </p>
                <p>
                    <strong>
                        <u>
                            II. Кто обрабатывает и несет ответственность за ваши личные данные?
                        </u>
                    </strong><br />
                    Фонд Гутенберг 3.0 - некоммерческая организация, некоммерческий фонд, зарегистрированный в Коммерческом регистре Агентства (номер UIC 205143716).
                    Фонд собирает, обрабатывает и хранит Вашу личную информацию в соответствии с условиями настоящей Политики конфиденциальности.
                    Фонд Gutenberg 3.0 является администратором персональных данных в значении Закона о защите персональных данных (LPPD).
                </p>

                <p>
                    <strong><u>III. Категории личных данных, обрабатываемых Фондом Гутенберг 3.0 </u></strong><br />
                    <strong>1.</strong> Фонд Гутенберг 3.0 может обрабатывать
                    общедоступные личные данные и/или личные данные, предоставленные Вами. Основные типы обрабатываемых персональных данных:<br />
                    <strong>(i)</strong>Личная идентификационная информация (включая имя, возраст, место жительства и т. Д.);<br />
                    <strong>(ii)</strong>
                    Контактная информация (включая почтовые и электронные адреса, номера телефонов и факсов или указанные вами)
                    контактное лицо и другие);br/>
                    <strong>(iii)</strong> Финансовая информация (банковский счет и др.); <br />
                    <strong>(iv)</strong> Информация о представителе (законном представителе или доверенности), когда клиент физ. лицо;<br />
                    <strong>(v)</strong> Данные профиля сайта (включая имя, почтовый адрес и адрес электронной почты, номер телефона, дату рождения и т.д.);<br />
                    <strong>(vi)</strong> Данные для заключения договоров подписки / продажи с физическими или юридическими лицами (например, имена, PIN-коды и
                    и т.д.).
                </p>

                <p>
                    <strong>2.</strong> Фонд Gutenberg 3.0 может обрабатывать данные, созданные и созданные Фондом Gutenberg 3.0 в процессе.
                    предоставления услуг:<br />
                    <strong>(i)</strong> данные о конечном используемом электронном коммуникационном устройстве, тип используемого устройства
                    операционная система, IP-адрес, местоположение;<br />
                    <strong>(ii)</strong> данные о вашей деятельности на платформе Книговище.ру<br />
                    <strong>(iii)</strong> Данные из общения между нами и вами, ваши привычки, предпочтения; <br />
                    <strong>(iv)</strong> Информация о посещениях сайта и использовании Сайта, включая операции и историю использования
                    на Сайте;
                </p>

                <p><strong>3.</strong> Различные типы персональных данных могут обрабатываться индивидуально или в сочетании друг с другом. & Nbsp;</p>

                <p>
                    <strong>
                        <u>
                            IV. Цели и правовые основы обработки персональных данных
                        </u>
                    </strong><br />
                    <strong>1.</strong>
                    <em>Обработка персональных данных, необходимых для регистрации на Книговище.ру или в связи с подготовкой к регистрации.</em><br />
                    Фонд Gutenberg 3.0 обрабатывает Ваши данные в следующих целях: <br />
                    <strong>(i)</strong>
                    Идентификация клиента при: создании новой или изменении существующей подписки; объяснении пользования услугой.<br />
                    <strong>(ii)</strong> Администрирование и ответ на Ваши отзывы в качестве подписчика.<br />
                    <strong>(iii)</strong> Техническое содействие за создаване акаунта и восстановяване забытого пароля доступа; техническое обслуживание.<br />
                    <strong>(</strong><strong>i</strong><strong>v)</strong>
                    Администрирование платежей;<br />
                    <strong>(v)</strong> Обмен важной информацией об изменениях в нашей политике и другой административной информацией;<br />
                    <strong>(</strong><strong>vi</strong><strong>)</strong>
                    Управление и администрирование онлайн-шоппинга; управление
                    платежами.
                </p>

                <p>
                    <em>
                        2.Во исполнение своих юридических обязательств,
                    </em><em><b> Фонд Гутенберг 3.0</b></em>
                    <em>
                        обрабатывает ваши данные со следующими
                        целями:
                    </em><br />
                    <strong>(i)</strong> Выставление счетов; &nbsp; <br />
                    <strong>(ii)</strong>&nbsp; Для налога &ndash; страховой контроль со стороны соответствующих компетентных органов;<br />
                    <strong>(iii) </strong>Выполнение обязательств, связанных с дистанционной продажей, предоставленной продажей за пределами площадки
                    в Законе о защите прав потребителей;<br />
                    <strong>(iv) </strong>
                    Предоставление информации в Комиссию по защите персональных данных об обязательствах, изложенных в правилах конфиденциальности &ndash; Закон о защите личных данных, постановление (ЕС) 2016/679 от 27 апреля 2016 года

                    года и т.д .;<br />
                    <strong>(v) </strong>Обязательства, предусмотренные в Законе «О бухгалтерском учете», «Налоговом и социальном страховом кодексе» и других связанных
                    нормативных актах в связи с ведением надлежащего и правомерного учета.
                </p>
                <p>
                    <strong>3. </strong><em><b>Фонд Гутенберг 3.0</b></em><em></em>
                    <strong>
                        обрабатывает соответствующие данные, предоставленные с письменного согласия клиента, для их обработки в следующих целях:
                    </strong><br />
                    <strong>(i) </strong>Создание и управление личным профилем на Сайте; техническая помощь для создания аккаунта(ов) и восстановления
                    забытых паролей для доступа к нашему сайту;<br />
                    <strong>(ii) </strong><strong>
                        Подписка на рассылку новостей и другие услуги, предлагаемые Книговище.ру
                    </strong>;
                </p>

                <p>
                    <strong><u>V. Категории третьих лиц, которые получают доступ и обрабатывают вашу личную информацию</u></strong><br />
                    <strong>(i)</strong> <b>Администратор для личного профиля</b> (например, учитель, если Вы ученик и у Вас есть классный абонемент)<br />
                    <strong>(ii)</strong>&nbsp; <b>
                        Разработчики сайта
                    </b> Книговище.ру; <br />
                    <strong>(iii</strong>) <strong>Банки</strong>, обслужвающие платежи, сделанные Вами; <br />
                    <strong>(v)</strong>
                    Органы, учреждения и лица, которым мы обязаны предоставлять персональные данные в соответствии с действующим законодательством, если таковые имеются;
                </p>

                <p>
                    <strong>
                        <u>
                            VI.Как долго хранятся Ваши личные данные?
                        </u>
                    </strong><br />
                    Время хранения Ваших личных данных зависит от целей обработки, для которых они были собраны: <br />
                    <strong>1. </strong><em>
                        Персональные данные обрабатываются с целью заключения/изменения и исполнения договора/подписки
                    </em>между
                    <em><b>Фондом Гутенберг 3.0</b></em> и Вами или представляемой Вами компанией - на срок действия договора и до окончательного
                    урегулирование всех финансовых отношений между сторонами. <br />
                    <em>2. Персональные данные, обработанные для выдачи бухгалтерских/финансовых документов </em> для налогов и страхования &ndash; сроком до 11 лет.<br />
                    <em>
                        3. Персональные данные обрабатываются с целью получения регулярной информации от Книговище.ру (электронный бюллетень)
                    </em><strong>&ndash; </strong>до отзыва согласия. <br />
                    <em>
                        4.
                        Персональные данные обрабатываются в целях прямого маркетинга
                    </em><strong> &ndash; </strong>до отзыва согласия на прямой маркетинг или получения возражений против обработки персональных данных для прямого маркетинга.
                </p>

                <p>
                    <strong>
                        <u>
                            VII.
                            Как мы защищаем Ваши данные
                        </u>
                    </strong><br />
                    <em><b>Фонд Гутенберг 3.0</b></em><em> </em>
                    применять организационные, физические, информационные технологии и другие необходимые меры,
                    для обеспечения безопасности и защиты ваших персональных данных и контроля за обработкой персональных данных.
                </p>

                <p>
                    <strong><u>VIII</u></strong><strong><u>. Политика использования &bdquo;Cookies&ldquo;&nbsp; </u></strong><br />
                    <strong>
                        Персональные данные детей
                    </strong><br />
                    Книговище.ру собирает личную информацию детей в возрасте до 16 лет только в том случае, если она предоставлена ​​родителем /
                    опекуном ребёнка, чтобы разрешить доступ к услугам Книговище.ру.
                </p>

                <p>
                    <strong>
                        Изменения в Политике конфиденциальности
                    </strong><br />
                    Мы можем периодически обновлять нашу Политику конфиденциальности. В случае изменения этой политики, Вы получите сообщение с обновленной политикой конфиденциальности. Все поправки
                    в Политике конфиденциальности будет применяться только после публикации его обновленного контента, доступного через наш сайт.
                </p>
                <p>
                    <br />
                    &nbsp;
                </p>
            </div>

        </div>
    </div>
</div>
