@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<div id="content">
    <div class="container">
        <div class="legend">
            <div class="page_content">
                <h2 class="western"><font face="Calibri, sans-serif"><span lang="bg-BG">&nbsp;Политика на поверителност и защита на личните&nbsp;данни</span></font></h2>

                <ol>
                    <li><strong><font face="Calibri, sans-serif"><span lang="bg-BG"><u>Въведение</u></span></font></strong></li>
                </ol>
                <font face="Calibri, sans-serif"><span lang="bg-BG"><b>Книговищ.бг</b></span></font><font face="Calibri, sans-serif"><span lang="bg-BG"> е проект на фондация </span></font><font face="Calibri, sans-serif"><span lang="bg-BG"><b>Гутенберг 3.0</b></span></font>

                <p>
                    <font face="Calibri, sans-serif"><span lang="bg-BG">Фондация </span></font><font face="Calibri, sans-serif"><span lang="bg-BG"><b>Гутенберг 3.0</b></span></font><font face="Calibri, sans-serif"><span lang="bg-BG"> зачита неприкосновеността на личния живот на абонатите на Книговище и ползвателите на сайта и гарантира в максимална степен защитата на личните им данни. Настоящата Политика за поверителност и защита на личните данни (наричана по-долу </span></font><strong><font face="Calibri, sans-serif"><span lang="bg-BG">&bdquo;Политика за поверителност&ldquo;</span></font></strong><font face="Calibri, sans-serif">
                        <span lang="bg-BG">
                            ) е изготвена и се основава на действащото българско и европейско законодателство в областта на защитата на личните данни.<br />
                            Настоящата Политика за поверителност регулира обработването на лични данни на физически лица или представители на юридически лица &ndash; абонати за някоя от услугите, предоставяни от Книговище.бг, както и на потребителите на
                        </span>
                    </font><font face="Calibri, sans-serif"><span lang="en-US">www.knigovishte.bg</span></font><font face="Calibri, sans-serif"><span lang="bg-BG">, във връзка с услугите, предоставяни от Книговище.бг, включително предоставяни чрез и достъпни на Сайта. </span></font>
                </p>

                <p>
                    <font face="Calibri, sans-serif">
                        <span lang="bg-BG">
                            Настоящата Политика за поверителност, заедно с Общи условия за ползване на Интернет сайт, Политиката за използване на &quot;Бисквитки&quot; и всякакви други документи, които са упоменати на Сайта, определя правилата, които фондация Гутенберг 3.0 ще спазва при обработване на лични данни, които събираме от Вас или за Вас, или които Вие ни предоставяте. Настоящата Политика за поверителност не засяга, не ограничава и не отменя правата Ви, произтичащи от Закона за защита на личните данни (&bdquo;ЗЗЛД&rdquo;) или друго относимо законодателство.<br />
                            Ако имате някакви въпроси или коментари относно настоящата Политика за поверителност, моля да се свържете с нас на адрес:
                        </span>
                    </font><font face="Calibri, sans-serif"><span lang="en-US">info@knigovishte.bg</span></font><br />
                    <font face="Calibri, sans-serif"><span lang="bg-BG">Моля, прочетете внимателно тази Политика преди да използвате Сайта или да предоставите Личните си данни, независимо дали по електронен път на Сайта или на хартия, тъй като с предоставянето на Личните си данни Вие се съгласявате с нейните условия. Ако не желаете да обработваме личните Ви данни по начина, описан в настоящата Политика за поверителност, моля не ни ги предоставяйте. Предоставянето на лични данни от Ваша страна е доброволно, с оглед използването на определени, предоставяни от нас услуги и използването на Сайта и/или достъп до него, както и с оглед онлайн пазаруване на Сайта. Моля да имате предвид, че в някои случаи ние няма да можем да Ви предоставим услугата и/или продадем стоката, които сте поискали, ако не ни предоставите нужната информация. </span></font>
                </p>

                <p>
                    <strong><font face="Calibri, sans-serif"><span lang="bg-BG"><u>II. Кой обработва и носи отговорност за личните Ви данни?</u></span></font></strong><br />
                    <font face="Calibri, sans-serif"><span lang="bg-BG">Фондация Гутенберг 3.0 е ЮЛНЦ, фондация, работеща в обществена полза и е регистрирана в Търговския регистър към Агенцията по вписванията с ЕИК 205143716. Фондацията събира, обработва и съхранява Вашите лични данни при условията на тази Политика за поверителност. Фондация Гутенберг 3.0 е администратор на лични данни по смисъла и Закона за защита на личните данни (ЗЗЛД). </span></font>
                </p>

                <p>
                    <strong><font face="Calibri, sans-serif"><span lang="bg-BG"><u>III. Категории лични данни, обработвани от Фондация Гутенберг 3.0 </u></span></font></strong><br />
                    <strong><font face="Calibri, sans-serif"><span lang="bg-BG">1.</span></font></strong><font face="Calibri, sans-serif"><span lang="bg-BG"> Фондация Гутенберг 3.0 може да обработва публично достъпните лични данни и/или лични данни, предоставени от Вас. Основните видове лични данни, които се обработват са:</span></font><br />
                    <strong><font face="Calibri, sans-serif"><span lang="bg-BG">(i)</span></font></strong><font face="Calibri, sans-serif"><span lang="bg-BG"> Информация за лична идентификация (вкл. име, възраст, местоживеене и др.); </span></font><br />
                    <strong><font face="Calibri, sans-serif"><span lang="bg-BG">(ii)</span></font></strong><font face="Calibri, sans-serif"><span lang="bg-BG"> Данни за контакт (вкл. пощенски и електронен адреси, телефонни и факс номера на Вас или посочено от Вас лице за контакт и други);</span></font><br />
                    <strong><font face="Calibri, sans-serif"><span lang="bg-BG">(iii)</span></font></strong><font face="Calibri, sans-serif"><span lang="bg-BG"> Финансова информация (банкова сметка и други); </span></font><br />
                    <strong><font face="Calibri, sans-serif"><span lang="bg-BG">(iv)</span></font></strong><font face="Calibri, sans-serif"><span lang="bg-BG"> Информация за представител (законен представител или пълномощник на такъв) , когато клиентът е юридическо лице; </span></font><br />
                    <strong><font face="Calibri, sans-serif"><span lang="bg-BG">(v)</span></font></strong><font face="Calibri, sans-serif"><span lang="bg-BG"> Данни от профил в Сайта (вкл. име, пощенски и електронен адреси, телефонен номер, дата на раждане и др.);</span></font><br />
                    <strong><font face="Calibri, sans-serif"><span lang="bg-BG">(vi)</span></font></strong><font face="Calibri, sans-serif"><span lang="bg-BG"> Данни за сключване на договори за абонамент/ продажба с физически или юридически лица (като имена, ЕГН и др.).</span></font>
                </p>

                <p>
                    <strong><font face="Calibri, sans-serif"><span lang="bg-BG">2.</span></font></strong><font face="Calibri, sans-serif"><span lang="bg-BG"> Фондация Гутенберг 3.0 може да обработва данни, изготвени и генерирани от Фондация Гутенберг 3.0 в процеса на предоставяне на услугите:</span></font><br />
                    <strong><font face="Calibri, sans-serif"><span lang="bg-BG">(i)</span></font></strong><font face="Calibri, sans-serif"><span lang="bg-BG"> данни за използваното крайно електронно съобщително устройство, вида на устройството, използваната операционна система, IP адрес, местоположение;</span></font><br />
                    <strong><font face="Calibri, sans-serif"><span lang="bg-BG">(ii)</span></font></strong><font face="Calibri, sans-serif"><span lang="bg-BG"> данни за дейността ви в рамките на платформата Книговище.бг</span></font><br />
                    <strong><font face="Calibri, sans-serif"><span lang="bg-BG">(iii)</span></font></strong><font face="Calibri, sans-serif"><span lang="bg-BG"> Данни от комуникацията между нас и Вас, навиците, преференциите Ви; </span></font><br />
                    <strong><font face="Calibri, sans-serif"><span lang="bg-BG">(iv)</span></font></strong><font face="Calibri, sans-serif"><span lang="bg-BG"> Информация относно посещения на Сайта и използването на Сайта, включително операции и история за използване на Сайта; </span></font>
                </p>

                <p><strong><font face="Calibri, sans-serif"><span lang="bg-BG">3.</span></font></strong><font face="Calibri, sans-serif"><span lang="bg-BG"> Различните видове лични данни могат да се обработват самостоятелно или в комбинация помежду им.&nbsp;</span></font></p>

                <p>
                    <strong><font face="Calibri, sans-serif"><span lang="bg-BG"><u>IV. Цели и правни основания за обработване на лични данни</u></span></font></strong><br />
                    <strong><font face="Calibri, sans-serif"><span lang="bg-BG">1.</span></font></strong><font face="Calibri, sans-serif"><span lang="bg-BG"> </span></font><em><font face="Calibri, sans-serif"><span lang="bg-BG">Обработване на лични данни, което е необходимо за сключване на абонамент за Книговище.бг или във връзка с подготовка за сключване на такъв.</span></font></em><br />
                    <font face="Calibri, sans-serif"><span lang="bg-BG">Фондация Гутенберг 3.0 обработва данните Ви за следните цели: </span></font><br />
                    <strong><font face="Calibri, sans-serif"><span lang="bg-BG">(i)</span></font></strong><font face="Calibri, sans-serif"><span lang="bg-BG"> Идентифициране на клиент при: сключване на нов или изменение на съществуващ абонамент; разяснения за ползваните услуги. </span></font><br />
                    <strong><font face="Calibri, sans-serif"><span lang="bg-BG">(ii)</span></font></strong><font face="Calibri, sans-serif"><span lang="bg-BG"> Администриране и отговор на обратна връзка от Вас като абонат на Книговище</span></font><br />
                    <strong><font face="Calibri, sans-serif"><span lang="en-US">(iii)</span></font></strong><font face="Calibri, sans-serif"><span lang="bg-BG"> Техническо съдействие за създаване на акаунт/и и възстановяване на забравена парола за достъп до Сайта ни и</span></font><font face="Calibri, sans-serif"><span lang="bg-BG">&nbsp;за електронно обслужван</span></font><font face="Calibri, sans-serif"><span lang="en-US">e</span></font><font face="Calibri, sans-serif"><span lang="bg-BG">.</span></font><br />
                    <strong><font face="Calibri, sans-serif"><span lang="bg-BG">(</span></font></strong><strong><font face="Calibri, sans-serif"><span lang="en-US">i</span></font></strong><strong><font face="Calibri, sans-serif"><span lang="bg-BG">v)</span></font></strong><font face="Calibri, sans-serif"><span lang="bg-BG"> Администриране на плащанията;</span></font><br />
                    <strong><font face="Calibri, sans-serif"><span lang="bg-BG">(v)</span></font></strong><font face="Calibri, sans-serif"><span lang="bg-BG"> Споделяне на важна информация във връзка с промени в нашата политика и друга административна информация;</span></font><br />
                    <strong><font face="Calibri, sans-serif"><span lang="bg-BG">(</span></font></strong><strong><font face="Calibri, sans-serif"><span lang="de-AT">vi</span></font></strong><strong><font face="Calibri, sans-serif"><span lang="bg-BG">)</span></font></strong><font face="Calibri, sans-serif"><span lang="bg-BG"> Управление и администриране на дейности при онлайн пазаруване; управление на плащанията.</span></font>
                </p>

                <p>
                    <em><font face="Calibri, sans-serif"><span lang="bg-BG">2. В изпълнение на свои законови задължения,</span></font></em><em><font face="Calibri, sans-serif"><span lang="bg-BG"><b> Фондация Гутенберг 3.0</b></span></font></em><em><font face="Calibri, sans-serif"><span lang="bg-BG"> обработва данните Ви за следните цели: </span></font></em><br />
                    <strong><font face="Calibri, sans-serif"><span lang="bg-BG">(i)</span></font></strong><font face="Calibri, sans-serif"><span lang="bg-BG"> Издаване на фактури; &nbsp; </span></font><br />
                    <strong><font face="Calibri, sans-serif"><span lang="bg-BG">(ii)</span></font></strong><font face="Calibri, sans-serif"><span lang="bg-BG">&nbsp; За извършване на данъчно &ndash; осигурителен контрол от съответните компетентни органи; </span></font><br />
                    <strong><font face="Calibri, sans-serif"><span lang="bg-BG">(iii) </span></font></strong><font face="Calibri, sans-serif"><span lang="bg-BG">Изпълнение на задължения във връзка с продажбата от разстояние, продажбата извън търговския обект, предвидени в Закона за защита на потребителите;</span></font><br />
                    <strong><font face="Calibri, sans-serif"><span lang="bg-BG">(iv) </span></font></strong><font face="Calibri, sans-serif"><span lang="bg-BG">Предоставяне на информация на Комисията за защита на личните данни във връзка със задължения, предвидени в нормативната уредба за защита на личните данни &ndash; Закон за защита на личните данни, Регламент (ЕС) 2016/679 от 27 април 2016 година и др.;</span></font><br />
                    <strong><font face="Calibri, sans-serif"><span lang="bg-BG">(v) </span></font></strong><font face="Calibri, sans-serif"><span lang="bg-BG">Задължения, предвидени в Закона за счетоводството и Данъчно-осигурителния процесуален кодекс и други свързани нормативни актове, във връзка с воденето на правилно и законосъобразно счетоводство.</span></font>
                </p>

                <p>
                    <strong><font face="Calibri, sans-serif"><span lang="bg-BG">3. </span></font></strong><em><font face="Calibri, sans-serif"><span lang="bg-BG"><span style="font-style: normal"><b>Фондация Гутенберг 3.0</b></span></span></font></em><em><font face="Calibri, sans-serif"><span lang="bg-BG"><span style="font-style: normal"> </span></span></font></em><strong><font face="Calibri, sans-serif"><span lang="bg-BG">обработва съответните данни, предоставени с изрично писмено съгласие на клиента за тяхното обработване за следните цели: </span></font></strong><br />
                    <strong><font face="Calibri, sans-serif"><span lang="bg-BG">(i) </span></font></strong><font face="Calibri, sans-serif"><span lang="bg-BG">Създаване и управление на личен профил в Сайта; техническо съдействие за създаване на профил/и и възстановяване на забравена парола за достъп до Сайта ни;</span></font><br />
                    <strong><font face="Calibri, sans-serif"><span lang="bg-BG">(ii) </span></font></strong><strong><font face="Calibri, sans-serif"><span lang="bg-BG"><span style="font-weight: normal">Абонамент за електронен бюлетин и други услуги, предлагани от Книговище.бг </span></span></font></strong><font face="Calibri, sans-serif"><span lang="bg-BG">;</span></font>
                </p>

                <p>
                    <strong><font face="Calibri, sans-serif"><span lang="bg-BG"><u>V. Категории трети лица, които получават достъп и обработват личните Ви данни</u></span></font></strong><br />
                    <strong><font face="Calibri, sans-serif"><span lang="bg-BG">(i)</span></font></strong><font face="Calibri, sans-serif"><span lang="bg-BG"> </span></font><font face="Calibri, sans-serif"><span lang="bg-BG"><b>Администраторът на личен профил</b></span></font><font face="Calibri, sans-serif"><span lang="bg-BG"> (например учител, ако сте ученик и имате абонамент клас за Книговище</span></font><font face="Calibri, sans-serif"><span lang="en-US">)</span></font><font face="Calibri, sans-serif"><span lang="bg-BG">;</span></font><br />
                    <strong><font face="Calibri, sans-serif"><span lang="bg-BG">(ii)</span></font></strong><font face="Calibri, sans-serif"><span lang="bg-BG">&nbsp; </span></font><font face="Calibri, sans-serif"><span lang="bg-BG"><b>Разработчиците на сайта</b></span></font><font face="Calibri, sans-serif"><span lang="bg-BG"> на Книговище.бг; </span></font><br />
                    <strong><font face="Calibri, sans-serif"><span lang="bg-BG">(iii</span></font></strong><font face="Calibri, sans-serif"><span lang="bg-BG">) </span></font><strong><font face="Calibri, sans-serif"><span lang="bg-BG">Банките</span></font></strong><font face="Calibri, sans-serif"><span lang="bg-BG">, обслужващи плащанията, извършени от и/или към Вас; </span></font><br />
                    <strong><font face="Calibri, sans-serif"><span lang="bg-BG">(v)</span></font></strong><font face="Calibri, sans-serif"><span lang="bg-BG"> Органи, институции и лица, на които сме длъжни да предоставим лични данни по силата на действащото законодателство, ако има такива;</span></font>
                </p>

                <p>
                    <strong><font face="Calibri, sans-serif"><span lang="bg-BG"><u>VI. За какъв срок се съхраняват личните Ви данни? </u></span></font></strong><br />
                    <font face="Calibri, sans-serif"><span lang="bg-BG">Продължителността на съхранение на личните Ви данни зависи от целите на обработването, за които са събрани: </span></font><br />
                    <strong><font face="Calibri, sans-serif"><span lang="bg-BG">1. </span></font></strong><em><font face="Calibri, sans-serif"><span lang="bg-BG">Личните данни, обработвани с цел сключване/изменение и изпълнение на договор / абонамент </span></font></em><font face="Calibri, sans-serif"><span lang="bg-BG">между </span></font><em><font face="Calibri, sans-serif"><span lang="bg-BG"><span style="font-style: normal"><b>Фондация Гутенберг 3.0</b></span></span></font></em><em><font face="Calibri, sans-serif"><span lang="bg-BG"><span style="font-style: normal"> </span></span></font></em><font face="Calibri, sans-serif"><span lang="bg-BG"> и Вас или представлявано от Вас дружество - за срока на действие на договора и до окончателно уреждане на всички финансови отношения между страните. </span></font><br />
                    <em><font face="Calibri, sans-serif"><span lang="bg-BG">2. Личните данни, обработвани с цел издаване на счетоводни/финансови документи</span></font></em><font face="Calibri, sans-serif"><span lang="bg-BG"> за осъществяване на данъчно&ndash;осигурителния контрол &ndash; за срок от 11 години.</span></font><br />
                    <em><font face="Calibri, sans-serif"><span lang="bg-BG">3. Личните данни, обработвани с цел получаване на регулярна информация от Книговище.бг, например електронен бюлетин </span></font></em><strong><font face="Calibri, sans-serif"><span lang="bg-BG">&ndash; </span></font></strong><font face="Calibri, sans-serif"><span lang="bg-BG">до изричното оттегляне на даденото съгласие. </span></font><br />
                    <em><font face="Calibri, sans-serif"><span lang="bg-BG">4. Личните данни, обработвани с цел директен маркетинг</span></font></em><strong><font face="Calibri, sans-serif"><span lang="bg-BG"> &ndash; </span></font></strong><font face="Calibri, sans-serif"><span lang="bg-BG">до изричното оттегляне на даденото съгласие за директен маркетинг или получаване на възражение за обработване на лични данни за директен маркетинг. </span></font>
                </p>

                <p>
                    <strong><font face="Calibri, sans-serif"><span lang="bg-BG"><u>VII. Как защитаваме данните Ви </u></span></font></strong><br />
                    <em><font face="Calibri, sans-serif"><span lang="bg-BG"><span style="font-style: normal"><b>Фондация Гутенберг 3.0</b></span></span></font></em><em><font face="Calibri, sans-serif"><span lang="bg-BG"><span style="font-style: normal"> </span></span></font></em><font face="Calibri, sans-serif"><span lang="bg-BG">прилага организационни, физически, информационно технологични и други необходими мерки, за да гарантира сигурността и защитата на личните Ви данни и мониторинга на обработването на лични данни. </span></font>
                </p>

                <p>
                    <strong><font face="Calibri, sans-serif"><span lang="en-US"><u>VIII</u></span></font></strong><strong><font face="Calibri, sans-serif"><span lang="bg-BG"><u>. Политика за употреба на &bdquo;Бисквитки&ldquo;&nbsp; </u></span></font></strong><br />
                    <strong><font face="Calibri, sans-serif"><span lang="bg-BG">Лични данни за деца</span></font></strong><br />
                    <font face="Calibri, sans-serif"><span lang="bg-BG">Книговище.бг събира лична информация от деца на възраст под 16 години единствено и само, когато тя се предоставя от родителя / настойника на дедето с цел позволяване на достъп до услугите на Книговище. </span></font>
                </p>

                <p>
                    <strong><font face="Calibri, sans-serif"><span lang="bg-BG">Изменения на Политиката за поверителност </span></font></strong><br />
                    <font face="Calibri, sans-serif"><span lang="bg-BG">Възможно е периодично да актуализираме своята Политика за защита на личните данни. При промяна в настоящата политика, на уеб сайта ни ще бъде публикувано съобщение,&nbsp;както и актуализираната Политика за защита на личните данни. Всички изменения и допълнения в Политиката за поверителност ще бъдат прилагани само след публикуване на актуалното ѝ съдържание, достъпно чрез нашия Сайт.</span></font>
                </p>

                <p lang="bg-BG">
                    <br />
                    &nbsp;
                </p>
            </div>

        </div>
    </div>
</div>
