
@{
    ViewData["Title"] = "Условия пользования";

}

<div id="content">
    <div class="container">
        <div class="legend">
            <div class="page_content">
                <h3 class="western"><strong><font face="Calibri, sans-serif"><font size="3" style="font-size: 13pt"><span lang="bg-BG">Условия за използване на онлайн платформата Книговище.бг</span></font></font></strong></h3>

                <p style="line-height: 0.23in"><font face="Calibri, sans-serif"><font size="3"><span lang="bg-BG">Платформата за насърчаване на осмислящото четене Книговище.бг </span></font></font><font face="Calibri, sans-serif"><font size="3"><span lang="en-US">(www.knigovishte.bg)</span></font></font><font face="Calibri, sans-serif"><font size="3"><span lang="bg-BG"> е собственост на Фондация &bdquo;Гутенберг 3.0&ldquo;, ЕИК: ЕИК 205143716, със седалище и адрес на управление: България, гр. София, ул. Русалка 25.</span></font></font></p>

                <p style="line-height: 0.23in"><font face="Calibri, sans-serif"><font size="3"><span lang="bg-BG">Съдържанието на Платформата, Софтуерът и Документацията са предмет на лицензия, а не на продажба. Разрешението да използвате Съдържанието на Платформата, Софтуера или Документацията зависи от плащането на приложимото възнаграждение </span></font></font><font face="Calibri, sans-serif"><font size="3"><span lang="en-US">(&ldquo;</span></font></font><font face="Calibri, sans-serif"><font size="3"><span lang="bg-BG">абонамент&ldquo;</span></font></font><font face="Calibri, sans-serif"><font size="3"><span lang="en-US">)</span></font></font><font face="Calibri, sans-serif"><font size="3"><span lang="bg-BG">, ако такова се дължи.</span></font></font></p>

                <p style="line-height: 0.23in"><font face="Calibri, sans-serif"><font size="3"><span lang="bg-BG">Фондация Гутенберг 3.0 </span></font></font><font face="Calibri, sans-serif"><font size="3">е носител на всички права върху Платформата, Съдържанието и Софтуера и всички копия, които са защитени от закона и приложимото международно законодателство, спогодби и конвенции, относно правата на интелектуална собственост, включително търговската тайна.</font></font></p>

                <p lang="bg-BG" style="line-height: 0.23in"><font face="Calibri, sans-serif"><font size="3">Вашето приемане на Общите условия става посредством регистрацията Ви в Платформата, с което се счита, че Вие приемате да бъдете обвързан/а от Общите условия. Всяка друга форма на инсталиране, активиране или употреба на Платформата или на нейното съдържание, респективно части от съдържанието ѝ, ще се счита също за приемане на Общите условия, като в този случай Фондация &bdquo;Гутенберг 3.0&ldquo; си запазва правото да изисква прекратяване на използването на Платформата, респективно на съответната част от нейното Съдържание, от страна на съответния ползвател.</font></font></p>

                <p lang="bg-BG" style="line-height: 0.23in"><font face="Calibri, sans-serif"><font size="3">За малолетни лица (под 14-годишна възраст) действията по приемане на Общите условия, регистрация и по заплащане на дължимите възнаграждения, се извършват вместо тях и от тяхно име от техните законни представители, а за непълнолетните (от 14 до 18 години) &ndash; със съгласието на законните им представители.</font></font></p>

                <h5 class="western"><font face="Calibri, sans-serif"><font size="3"><span lang="en-US">I. </span></font></font><font face="Calibri, sans-serif"><font size="3">Абонамент</font></font></h5>
                <ol>
                    <li>
                        <p><font face="Calibri, sans-serif"><font size="3">Всеки Ползвател на платформата има право да получи достъп до пълните ѝ функционалности след заплащане на един от видовете абонаменти &ndash; индивидуален за дете, групов за&nbsp;семейство, групов за за клас, групов за библиотека. Фондация &bdquo;Гутенберг 3.0&ldquo; </font></font><font face="Calibri, sans-serif"><font size="3"><span lang="bg-BG">(оттук насетне &bdquo;Фондацията&ldquo;)</span></font></font><font face="Calibri, sans-serif"><font size="3"><span lang="en-US"> </span></font></font><font face="Calibri, sans-serif"><font size="3">си запазва правото да създава допълнителни видове абонаменти.</font></font></p>
                    </li>
                    <li>
                        <p lang="bg-BG" style="line-height: 0.23in"><font face="Calibri, sans-serif"><font size="3">Начини на плащане:</font></font></p>
                    </li>
                </ol>

                <ul>
                    <li>
                        <ul>
                            <li>
                                <p style="line-height: 0.23in"><font face="Calibri, sans-serif"><font size="3">По електронен път чрез Виртуален ПОС терминал посредством дебитна или кредитна карта през платежна система, осигурена от банката, с която Търговецът има сключен договор.</font></font></p>
                            </li>
                            <li>
                                <p style="line-height: 0.23in"><font face="Calibri, sans-serif"><font size="3">С банков превод по банкова сметка на Търговеца. При потвърждане на поръчката, Ползвателят получава на своя имейл адрес специално генериран уникален номер на поръчката, който Ползвателят, наред с друго, следва да посочи като основание при извършване на превода на сумата по банковата сметка</font></font></p>
                            </li>
                        </ul>
                    </li>
                </ul>

                <ol start="3">
                    <li>
                        <p><font face="Calibri, sans-serif"><font size="3">От 24. 5. 2019 г. Цените на абонаментите се определят в следните размери:</font></font></p>
                    </li>
                </ol>

                <ul>
                    <li>
                        <p style="margin-bottom: 0in"><font face="Calibri, sans-serif"><font size="3">Индивидуален абонамент за дете за 12 месеца (от 15. септември до 14. септември на следващата година) за достъп до пълните функционалности на платформата = 25,00 лв. с ДДС. </font></font></p>
                    </li>
                    <li>
                        <p style="margin-bottom: 0in"><font face="Calibri, sans-serif"><font size="3">Групов абонамент за семейство 12 месеца (от 15. септември до 14. септември на следващата година) за достъп до пълните функционалности на платформата, включващ 4 профила на деца и 1 родителски профил, свързани в група = 40,00 лв. с ДДС. </font></font></p>
                    </li>
                    <li>
                        <p style="margin-bottom: 0in"><font face="Calibri, sans-serif"><font size="3">Групов абонамент за 1 училищен клас за 12 месеца (от 15. септември до 14. септември на следващата година) за достъп до пълните функционалности на платформата, включващ 30 профила на деца и&nbsp;1 учителски профил, свързани в група = 120,00 лв. с ДДС. </font></font></p>
                    </li>
                    <li>
                        <p style="margin-bottom: 0in"><font face="Calibri, sans-serif"><font size="3">Абонамент за 24 месеца (</font></font> <font face="Calibri, sans-serif"><font size="3">от 15. септември до 14. септември след 2 години</font></font><font face="Calibri, sans-serif"><font size="3">) &ndash; индивидуален, групов за семейство&nbsp;или групов за&nbsp;клас&nbsp;= 20% отстъпка върху цената за съответния абонамент за 1 + 1 година </font></font></p>
                    </li>
                </ul>

                <p style="margin-left: 0.98in; margin-bottom: 0in">&nbsp;</p>

                <p style="margin-bottom: 0in"><font face="Calibri, sans-serif"><font size="3">Фондация &bdquo;Гутенберг&ldquo; си запазва правото да предлага допълнителни отстъпки върху стойността на посочените абонаментни планове при закупуване на абонаменти за всички класове в едно училище, за няколко училища едновременно, за всички училища в една община и др. </font></font></p>

                <p style="margin-left: 0.98in; margin-bottom: 0in">&nbsp;</p>

                <p style="margin-left: 0.52in; text-indent: -0.2in; widows: 0; orphans: 0"><font face="Calibri, sans-serif"><font size="3">4. Сроковете за ползване по т. 2 по-горе започват да текат от 15 септември на съответната година, за която се закупува абонамента. Ползвателят получава съобщение на попълнения от Ползвателя имейл, с което бива известен за полученото плащане. В случай че Ползвателят е заплатил абонамента си с&nbsp;кредитната или дебитната карта или самостоятелно е активирал автоматично подновяване в Платформата, фондация &bdquo;Гутенберг&ldquo; си запазва правото автоматично да предостави абонамент за Книговище да нов период със същата продължителност и да таксува сумата за него от предоставената кредитната или дебитната карта на Ползвателя. Ако Ползвателят не желае автоматично подновяване на заявения от него абонамент, той може да се откаже от това право по всяко време преди новото плащане, без да губи правата по абонамента, за който вече е платил.</font></font></p>

                <p style="margin-left: 0.54in; text-indent: -0.21in; widows: 0; orphans: 0"><font face="Calibri, sans-serif"><font size="3">5. Ползвателят се съгласява, че след заплащане на избрания от него абонамент, няма право да се откаже за срока на сключения абонамент от тяхното ползване и да претендира връщане на платеното възнаграждение. Независимо от предходното, страните се съгласяват, че в случай на отказ от страна на Ползвателя преди изтичане на срока на ползването, платеното от него възнаграждение се задържа от </font></font><font face="Calibri, sans-serif"><font size="3"><span lang="bg-BG">Фондацията </span></font></font><font face="Calibri, sans-serif"><font size="3">и служи като неустойка за упражнен отказ от настоящите условия.</font></font></p>

                <p style="margin-left: 0.5in; text-indent: -0.16in; widows: 0; orphans: 0"><font face="Calibri, sans-serif"><font size="3">6. Ползвателят се съгласява, че при констатирано от </font></font><font face="Calibri, sans-serif"><font size="3"><span lang="bg-BG">Фондацията </span></font></font><font face="Calibri, sans-serif"><font size="3">нарушение на Общите условия и последвало санкциониране от страна на </font></font><font face="Calibri, sans-serif"><font size="3"><span lang="bg-BG">Фондацията </span></font></font><font face="Calibri, sans-serif"><font size="3">чрез изтриване на профила на Ползвателя, </font></font><font face="Calibri, sans-serif"><font size="3"><span lang="bg-BG">Фондацията </span></font></font><font face="Calibri, sans-serif"><font size="3">не дължи връщане на платено от страна на Ползвателя Възнаграждение или части от него. Последното служи като неустойка за обезщетяване на вредите, причинени на </font></font><font face="Calibri, sans-serif"><font size="3"><span lang="bg-BG">Фондацията </span></font></font><font face="Calibri, sans-serif"><font size="3"> като последният има право да претендира обезщетение и за вреди, надхвърлящи размера на платеното Възнаграждение.</font></font></p>

                <p style="margin-left: 0.51in; text-indent: -0.18in; widows: 0; orphans: 0"><font face="Calibri, sans-serif"><font size="3">7. </font></font><font face="Calibri, sans-serif"><font size="3"><span lang="bg-BG">Фондацията </span></font></font><font face="Calibri, sans-serif"><font size="3">не носи отговорност и не дължи връщане на получено Възнаграждение, в случаите на измама при извършване на плащанията /ползване на чужд мобилен телефон, чужда карта и други/ от страна на Ползвател. При наличието на акт на компетентен орган, установяващ измамата или злоупотребата, </font></font><font face="Calibri, sans-serif"><font size="3"><span lang="bg-BG">Фондацията </span></font></font><font face="Calibri, sans-serif"><font size="3">има право да изтрие профила на съответния Ползвател, без да дължи обезщетение на същия.</font></font></p>

                <h5 class="western"><font face="Calibri, sans-serif"><font size="3"><span lang="en-US">II. </span></font></font><font face="Calibri, sans-serif"><font size="3">Достъп без регистрация</font></font></h5>

                <p style="margin-left: 0.52in; text-indent: -0.16in; widows: 0; orphans: 0"><font face="Calibri, sans-serif"><font size="3">1. Всеки потребител има право да разглежда съдържанието в продължение на 3 седмици или да попълни 3 въпросника в платформата (което изтече първо) без да е сключил абонамент (&bdquo;Право на Достъп без регистрация&ldquo;).</font></font></p>

                <p style="margin-left: 0.54in; text-indent: -0.18in; widows: 0; orphans: 0"><font face="Calibri, sans-serif"><font size="3">2. Правото на Достъп без регистрация може да бъде отменено, ограничено или променено във всеки един момент от фондация &bdquo;Гутенберг&ldquo;, като отмяната, ограничаването или промяната влизат в сила от деня на тяхното извършване, без да е необходимо предварителното уведомяване, волеизявление или каквото и да било съгласие от страна или към потребителите.</font></font></p>

                <p lang="bg-BG" style="margin-left: 0.54in; text-indent: -0.18in; line-height: 0.23in; widows: 0; orphans: 0"><font face="Calibri, sans-serif"><font size="3">3. При упражняване на Правото на достъп без регистрация за потребителите важат всички клаузи, предвидени в настоящия Договор, като се счита, че същите са приети от момента на зареждане на първия видео запис за възприятие от съответния потребител. </font></font></p>

                <h4 class="western" style="line-height: 0.23in"><font face="Calibri, sans-serif"><font size="3"><span lang="en-US">III. </span></font></font><font face="Calibri, sans-serif"><font size="3"><span lang="bg-BG">Срок и прекратяване</span></font></font></h4>

                <p><strong><font face="Calibri, sans-serif"><span style="font-weight: normal">1.</span></font></strong><strong><font face="Calibri, sans-serif"> </font></strong><font face="Calibri, sans-serif">Правата по това </font><font face="Calibri, sans-serif"><span lang="bg-BG">споразумение</span></font><font face="Calibri, sans-serif"> влизат в сила считано от датата на приемане на настоящите Общи условия. Правата, предоставени по силата на това споразумение, ще продължат до:</font></p>

                <ul>
                    <li>
                        <ul>
                            <li>
                                <p style="margin-bottom: 0in"><font face="Calibri, sans-serif">момента, в който Ползвателят избере да преустанови използването на Платформата, Софтуера и Документацията и заличи профила си </font></p>
                            </li>
                            <li>
                                <p style="margin-bottom: 0in"><font face="Calibri, sans-serif">момента, в който </font><font face="Calibri, sans-serif"><font size="3"><span lang="bg-BG">Фондацията</span></font></font><font face="Calibri, sans-serif"> по своя преценка прекрати съществуването или функционирането на Платформата</font></p>
                            </li>
                            <li>
                                <p><font face="Calibri, sans-serif">прекратяване на ползването от някоя от страните по Общите условия поради нарушение, което не е отстранено в едномесечен срок, считано от писменото уведомление на другата страна, освен когато прекратяването е незабавно, защото природата на същественото нарушение не позволява то да бъде отстранено. </font></p>
                            </li>
                        </ul>
                    </li>
                </ul>

                <p><font face="Calibri, sans-serif">При прекратяване Ползвателят е длъжен да:</font></p>

                <ul>
                    <li>
                        <ul>
                            <li>
                                <p><font face="Calibri, sans-serif">преустанови достъпа и използването на съдържанието на Платформата, Софтуера и Документацията</font></p>
                            </li>
                            <li>
                                <p><font face="Calibri, sans-serif">да деинсталира, отстрани и унищожи целия Софтуер и Документация и всички цели или частични копия, модификации или слети части под всякаква форма.</font></p>
                            </li>
                        </ul>
                    </li>
                </ul>

                <p><strong><font face="Calibri, sans-serif"><span style="font-weight: normal">2.</span></font></strong><strong><font face="Calibri, sans-serif"> </font></strong><font face="Calibri, sans-serif">При преустановяване на използване на услугата от Ползвателя чрез изтриване на профила му, </font><font face="Calibri, sans-serif"><font size="3"><span lang="bg-BG">Фондацията </span></font></font><font face="Calibri, sans-serif">изтрива информацията, получена директно от Ползвателя или в резултат на използването на Платформата, Софтуера и Документацията от Ползвателя в срок не по-дълъг от две седмици.</font></p>

                <p><strong><font face="Calibri, sans-serif"><span style="font-weight: normal">3.</span></font></strong><strong><font face="Calibri, sans-serif"> </font></strong><font face="Calibri, sans-serif">Независимо от причината за прекратяване, </font><font face="Calibri, sans-serif"><font size="3"><span lang="bg-BG">Фондацията </span></font></font><font face="Calibri, sans-serif">не носи каквато и да било отговорност </font><font face="Calibri, sans-serif"><span style="font-weight: normal">към Ползвателя или трети лица, включително за преки или косвени вреди, причинени неудобства, закупуването на допълнителни продукти на трети лица и други.</span></font></p>

                <p><strong><font face="Calibri, sans-serif"><span style="font-weight: normal">4. </span></font></strong><strong><font face="Calibri, sans-serif"><font size="3"><span lang="bg-BG"><span style="font-weight: normal">Фондацията </span></span></font></font></strong><font face="Calibri, sans-serif"><span style="font-weight: normal">си запазва правото да прекрати поддържането на Платформата и Софтуера по всяко време, като обяви това на Платформата, в случаите на настъпване на форсмажорни обстоятелства или по разпореждане на компетентен орган на власт, или когато има опасност </span></font><font face="Calibri, sans-serif"><font size="3"><span lang="bg-BG"><span style="font-weight: normal">Фондацията </span></span></font></font><font face="Calibri, sans-serif"><span style="font-weight: normal">да претърпи вреди във връзка с организирането и поддържането на Платформата. В тези случаи на Ползвателите не се дължи компенсация.</span></font></p>

                <p><strong><font face="Calibri, sans-serif"><span style="font-weight: normal">5. </span></font></strong><strong><font face="Calibri, sans-serif"><font size="3"><span lang="bg-BG"><span style="font-weight: normal">Фондацията </span></span></font></font></strong><font face="Calibri, sans-serif"><span style="font-weight: normal">има право да санкционира участници, намерили и злоупотребяващи с технически дефект в системата на Платформата. Санкционирането може да стане по начините, предвидени в Раздел 4.5., б.&bdquo;ж&ldquo; по-горе, по преценка на </span></font><font face="Calibri, sans-serif"><font size="3"><span lang="bg-BG"><span style="font-weight: normal">Фондацията.</span></span></font></font></p>

                <p lang="bg-BG" style="line-height: 0.23in"><font face="Calibri, sans-serif"><font size="3">Настоящите Общи условия представляват правно съглашение между Вас лично и Фондация &bdquo;Гутенберг 3.0&ldquo;.</font></font></p>

                <p style="line-height: 0.23in"><font face="Calibri, sans-serif"><font size="3"><span lang="bg-BG">За допълнителни въпроси: </span></font></font><font face="Calibri, sans-serif"><font size="3"><span lang="en-US">info</span></font></font><font face="Calibri, sans-serif"><font size="3"><span lang="bg-BG"></span></font></font><font face="Calibri, sans-serif"><font size="3"><span lang="en-US">knigovishete.bg</span></font></font></p>
            </div>

        </div>
    </div>
</div>
