
@{
    ViewData["Title"] = "Условия пользования";

}

    <div id="content">
        <div class="container">
            <div class="legend">
                <div class="page_content" style="font-family: Calibri, sans-serif;">
                    <h4><strong>Условия использования онлайн-платформы Книговище.ру</strong></h4>

                    <p>
                        Платформа для продвижения осмысленного чтения Книговище.ру (www.knigovishe.ru)
                        является собственностью Фонда «Gutenberg 3.0», UIC 205143716, зарегистрированного по адресу: Болгария, София, ул. Русалка, 25.
                    </p>

                    <p>
                        Содержимое Платформы, Программного обеспечения и Документации являются предметом лицензии, а не продажи. За разрешение на использование Контента Платформы, Программного обеспечения или Документации взимается соответствующая плата
                        (&ldquo;абонамент&ldquo;)
                    </p>

                    <p>Фонд Гутенберг 3.0 является владельцем всех прав на Платформу, Контент и Программное обеспечение, а также на все копии, защищенные законом и применимым международным правом, конвенциями и конвенциями о правах на интеллектуальную собственность, включая коммерческую тайну.</p>

                    <p>Вы принимаете Условия и положения, регистрируясь на Платформе, что означает, что вы соглашаетесь соблюдать Условия и положения. Любая другая форма установки, активации или использования Платформы или ее содержимого или частей ее содержимого также будет считаться принятием Условий, в этом случае "Gutenberg 3.0" оставляет за собой право требовать прекращения использования Платформы, соответственно соответствующей части ее Контента соответствующим пользователем.</font></p>

                    <p>Для несовершеннолетних (в возрасте до 14 лет) действия по принятию Общих условий, регистрации и выплате надлежащего вознаграждения осуществляются вместо них и от их имени их законными представителями, а для несовершеннолетних (от 14 до 18 лет) - с согласия их законных представителей.</p>

                    <h5>I. Абонемент</h5>
                    <ol>
                        <li>
                            <p>
                                Каждый Пользователь Платформы имеет право доступа к его полной функциональности после оплаты одного из типов подписки: индивидуум для ребенка, группа для семьи, группа для класса, группа для библиотеки. Фонд "Гутенберг 3.0"
                                (в дальнейшем, "Фонд") оставляет за собой право создавать дополнительные типы подписок.
                            </p>
                        </li>
                        <li>
                            <p style="text-align: left"> Способы оплаты:</p>
                            <ul>
                                <li>
                                    <p style="text-align: left">Электронными средствами через виртуальный POS-терминал с помощью дебетовой или кредитной карты через платежную систему, предоставленную банком, с которым у Продавца заключен договор.</p>
                                </li>
                                <li>
                                    <p style="text-align: left">
                                        Банковским переводом на банковский счет продавца. После подтверждения заказа Пользователь получает на свой адрес электронной почты специально сгенерированный уникальный номер заказа, который Пользователь, помимо прочего, должен указать в качестве причины для перевода суммы на банковский счет.
                                    </p>
                                </li>
                            </ul>
                        </li>
                    </ol>

                    <ol start="3">
                        <li>
                            <p style="text-align: left">
                                По состоянию на 24 мая 2019 года цены подписки установлены в следующих размерах:
                            </p>
                            <ul>
                                <li>
                                    <p style="text-align: left">
                                        Индивидуальная подписка для ребенка на 12 месяцев (с 15 сентября по 14 сентября следующего года) для доступа ко всем функциям платформы = 650 руб. c НДС.
                                    </p>
                                </li>
                                <li>
                                    <p style="text-align: left">Групповая подписка для семьи на 12 месяцев (с 15 по 14 сентября следующего года) для доступа ко всем функциям платформы, включая 4 дочерних профиля и 1 родительский профиль, связанный в группе = 1000 руб. c НДС.</p>
                                </li>
                                <li>
                                    <p style="text-align: left">Групповая подписка на 1 школьный класс на 12 месяцев (с 15 сентября по 14 сентября следующего года) для доступа ко всем функциональным возможностям платформы, включая 30 дочерних профилей и 1 профиль учителя, связанный в группе, = 3000 руб. с НДС.</font></p>
                                </li>
                                <li>
                                    <p style="text-align: left">Абонамент за 24 месеца (с 15 сентября по 14 сентября через 2 года ) - индивид, группа для семьи или группа для класса = скидка 20% от цены соответствующей подписки на 1 + 1 год.</p>
                                </li>
                            </ul>
                        </li>
                    </ol>

                    <p style="margin-left: 0.98in; margin-bottom: 0in">&nbsp;</p>

                    <p style="margin-bottom: 0in">
                        Фонд оставляет за собой право предлагать дополнительные скидки при покупке
                        подписок на все классы в одной школе, для нескольких школ одновременно, для всех школ в одном муниципалитете и т. д.
                    </p>

                    <p style="margin-left: 0.98in; margin-bottom: 0in">&nbsp;</p>

                    <p style="margin-left: 0.52in; text-indent: -0.2in; widows: 0; orphans: 0">
                        4. Условия использования, указанные в пункте 2 выше,
                        начинают действовать с 15 сентября соответствующего года, на который приобретена подписка. Пользователь получает сообщение о
                        заполненном пользователем электронном письме, в котором будет известна полученная оплата.Если Пользователь оплатил свою подписку
                        с помощью кредитной или дебетовой карты или автоматически активировал автоматическое продление на Платформе, то Фонд оставляет
                        за собой право автоматически предоставлять подписку на новый период той же продолжительности и взимать сумму за нее с кредитной
                        или дебетовой карты, предоставленной Пользователю. Если Пользователь не хочет автоматически продлевать подписку, которую он/она запросил,
                        он/она может отказаться от этого права в любое время до новой оплаты, не теряя прав на подписку, за которые он/она уже
                        заплатил(а).
                    </p>

                    <p style="margin-left: 0.54in; text-indent: -0.21in; widows: 0; orphans: 0">
                        5. Пользователь соглашается с тем, что после оплаты выбранной им подписки он не вправе отказаться от срока использования подписанной подписки и потребовать возврата уплаченного вознаграждения. Несмотря на вышесказанное, стороны соглашаются, что в случае отказа Пользователя до истечения срока использования, выплачиваемое Пользователем вознаграждение аннулируется Фондом и служит в качестве штрафа за осуществление отказа от этих условий.
                    </p>

                    <p style="margin-left: 0.5in; text-indent: -0.16in; widows: 0; orphans: 0">
                        6. Пользователь соглашается, что, как определено Фондом, нарушение Условий обслуживания и последующая санкция со стороны Фонда
                        удалив профиль пользователя, Фонд не должен возмещать возмещение, уплаченное Пользователем или его частями.
                        Последнее служит штрафом за возмещение ущерба, причиненного</font>Фонд</font>
                        последний имеет право требовать компенсацию за ущерб, превышающий сумму выплаченного вознаграждения.
                    </p>

                    <p style="margin-left: 0.51in; text-indent: -0.18in; widows: 0; orphans: 0">
                        7. Фонд не несет ответственности и не должен вернуть полученное Вознаграждение в случаях мошенничества при совершении платежей / использовании чужого мобильного телефона, иностранной карты и других / Пользователем.
                        При наличии действия компетентного органа, устанавливающего мошенничество или злоупотребления, Фонд
                        имеет право удалить профиль соответствующего Пользователя без выплаты компенсации тому же Пользователю.
                    </p>

                    <h5>II. Доступ без регистрации</h5>
                    <p style="margin-left: 0.52in; text-indent: -0.16in; widows: 0; orphans: 0">1. Каждый пользователь имеет право просматривать контент в течение 3 недель или заполнить 3 анкеты на платформе (срок действия которых истек первым) без подписки («Право доступа без регистрации»).</p>
                    <p style="margin-left: 0.54in; text-indent: -0.18in; widows: 0; orphans: 0">2. Право на доступ без регистрации может быть в любое время аннулировано, ограничено или изменено Фондом Гутенберга с отменой, ограничением или изменением, вступившим в силу со дня их осуществления, без необходимости предварительного уведомления или согласия пользователей.</p>
                    <p style="margin-left: 0.54in; text-indent: -0.18in; line-height: 0.23in; widows: 0; orphans: 0">
                        3. При осуществлении права доступа без регистрации все условия, изложенные в настоящем Соглашении, распространяются на пользователей, и они считаются принятыми с момента, когда соответствующий пользователь записал первую запись.
                    </p>
                    <h5>III. Срок и прекращение действия Соглашения</h5>
                    <p style="margin-left: 0.52in; text-indent: -0.16in; widows: 0; orphans: 0">
                        1. Соглашение вступает в силу с даты принятия настоящих Общих положений и условий.Права, предоставляемые по настоящему Соглашению, будут действовать дo
                    </p>
                    <ul>
                        <li>
                            <p style="text-align: left">
                                момента, когда Пользователь решает приостановить использование Платформы,
                                Программного обеспечения и Документации и удалить свою учетную запись
                        </li>
                        <li>
                            <p style="text-align: left">
                                момента, когда Фонд прекращает существование или работу Платформы по своему усмотрению
                            </p>
                        </li>
                        <li>
                            <p style="text-align: left">
                                прекращения выполнения одной из сторон Общих условий за нарушение, не устраненное в течение одного месяца после письменного
                                уведомления другой стороны, за исключением случаев, когда прекращение является немедленным, поскольку характер существенного нарушения
                                не позволяет устранить его.
                            </p>
                        </li>
                    </ul>
                    <p style="margin-left: 0.52in; text-indent: -0.16in; widows: 0; orphans: 0">
                        2. После расторжения Пользователь обязан:
                    </p>
                    <ul>
                        <li>
                            <p style="text-align: left">
                                прекратить доступ и использование содержимого Платформы, Программного обеспечения и Документации
                            </p>
                        </li>
                        <li>
                            <p style="text-align: left">удалить и уничтожить все Программное обеспечение и Документацию, а также любые полные или частичные копии, модификации или слияния любой формы.</p>
                        </li>
                    </ul>
                    <p style="margin-left: 0.52in; text-indent: -0.16in; widows: 0; orphans: 0">
                        3. Если вы прекратите использование Сервиса Пользователем, удалив его учетную запись, Фонд удаляет информацию, полученную непосредственно от Пользователя или в результате использования Платформы, Программного обеспечения и Документации Пользователем в течение периода, не превышающего две недели.
                    </p>
                    <p style="margin-left: 0.52in; text-indent: -0.16in; widows: 0; orphans: 0">
                        4. Независимо от причины прекращения,Фонд не несет никакой ответственности перед Пользователеи или третьим лицом, в том числе за прямой или косвенный ущерб, неудобства, приобретение дополнительных продуктов и др.
                    </p>
                    <p style="margin-left: 0.52in; text-indent: -0.16in; widows: 0; orphans: 0">
                        5. Фонд оставляет за собой право прекратить техническое обслуживание Платформы и Программного обеспечения в любое время, объявив об этом Платформе, в случае форс-мажорных обстоятельств или по распоряжению компетентного органа или в случае возникновения опасности, что Фонду был нанесен ущерб в связи с организацией и обслуживанием Платформы. В таких случаях компенсация Пользователям не производится.
                    </p>
                    <p style="margin-left: 0.52in; text-indent: -0.16in; widows: 0; orphans: 0">
                        6. Фонд имеет право налагать санкции на участников, которые обнаружили и злоупотребили техническим дефектом в системе Платформы. Санкция может быть осуществлена в порядке, предусмотренном в Разделах 4. и 5. выше, по усмотрению Фонда.
                    </p>
                    <p>
                        Настоящие Условия предоставления услуг представляют собой юридическое соглашение между вами лично и Фондом Gutenberg 3.0.
                    </p>
                    <p>Для дополнительных вопросов: info@knigovishe.ru</p>
                </div>
            </div>
        </div>
    </div>
