
@{
    ViewData["Title"] = "Использовать профиль класса";
}

<div id="content">
    <div class="container">
        <div class="legend">
            <h1 style="text-align:center;margin-bottom:50px;line-height:40px;">Как се ползва група КЛАС от учител</h1>
            <div class="page_content">
                <p><strong>Група КЛАС&nbsp;</strong>носи допълнително положително преживяване на учениците, които са свързани в него, дори и без участието на учителя. Той увлича децата в &bdquo;състезание по четене&ldquo; в свободното време.</p>

                <p><strong>Група КЛАС</strong>&nbsp;предлага и опции, които учителят може да реши да използва в образователния процес, за да стимулира допълнително развиването на четивната грамотност на учениците си.</p>

                <hr />
                <p>
                    <br />
                    <u><strong>Функции&nbsp;на&nbsp;група КЛАС&nbsp;от гледна точка на&nbsp;учителя​​​​​</strong></u><br />
                    &nbsp;
                </p>

                <p>
                    <span style="color:#FFA500;"><strong>В меню &bdquo;Моят клас&ldquo;&nbsp;</strong></span>се виждат обобщените постижения на учениците във Вашия&nbsp;клас за&nbsp;период, който можете да дефинирате и сами:<br />
                    &nbsp;
                </p>

                <ul>
                    <li>Колко ученици има в груповия профил</li>
                    <li>Колко въпросника са попълнили общо за периода</li>
                    <li>Каква е средната успеваемост (% верни отговори) на учениците, които са в груповия профил, за определения период</li>
                    <li>Колко точки общо са натрупали учениците за зададения период</li>
                    <li>Място в класацията на всички класове в този випуск в страната</li>
                </ul>

                <p>
                    <br />
                    Всяка от тези статистики&nbsp;може да се прегледа и по-подробно, като се избере съответният резултат. Така може да се стигне до информация&nbsp;какви книги четат децата в класа, колко деца са прочели едно заглавие и каква е средната успеваемост по даден въпросник сред децата от класа. Може да изведете заключение коя книга са разбрали по-добре и коя ги е затруднила.<br />
                    <br />
                    <br />
                    <em>* Наличието на подобна информация&nbsp;може да Ви помогне да изведете обсъждането на дадена книга в клас. Ако видите, че тя е в интереса на повече деца, може да препоръчате на другите и те да&nbsp;я прочетат, да&nbsp;решат въпросника&nbsp;през профилите&nbsp;си и после заедно през учителския&nbsp;профил да минете още веднъж през въпросите и да си направите занимание по книга, която децата са прочели с удоволствие.</em><br />
                    &nbsp;
                </p>

                <p>Може да видите и&nbsp;<strong>индивидуалните общи резултати</strong>&nbsp;на всеки от учениците в групата на КЛАСА чрез графиката. Сивото стълбче е средната успеваемост на класа/випуск в училището/випуск в града/випуск в страната.</p>

                <p>
                    <br />
                    Избирането на едно стълбче води до обобщените индивидуални резултати на детето &ndash; на кое читателско ниво е, колко точки има, колко книги е прочел и каква е неговата успеваемост.<br />
                    <br />
                    <br />
                    По-надолу в меню &bdquo;Моят клас&ldquo; има възможност да видите представянето на децата като група в общата класация на класовете от випуска &ndash; в училището, в града или в цялата страна, както&nbsp;&nbsp;и информация за това в коя част от класацията се намира класът &ndash; например в топ 10 %, топ 20 % и т. н.<br />
                    Класацията е по няколко различни параметъра: по брой точки, по успеваемост и по обем на четене &ndash; брой решени въпросници.<br />
                    <br />
                    <br />
                    <em>* Понеже децата в профила си нямат информация за груповото постижение, чрез тези данни може да им поставяте групови цели, така че да увлечете и децата, на които четенето не им е свойско, да се постараят повече и да допринесат за общия напредък в класацията. По който и да е от параметрите.</em><br />
                    <br />
                    <br />
                    Последният раздел на това меню от груповия профил КЛАС показва наскоро прочетените книги от децата в класа Ви. А това винаги може да е тема за споделяне на пресни и въодушевени впечатления.<br />
                    &nbsp;
                </p>

                <hr />
                <p>
                    <br />
                    <span style="color:#FFA500;"><strong>През меню &bdquo;Моят профил&ldquo;&nbsp;</strong></span>можете във всеки един момент да промените някои от данните за ръководителя на класа. Оттам може да качите и снимка на класа или друга&nbsp;картинка за илюстрация на груповия профил.<br />
                    <br />
                    Обръщаме внимание на полето <strong>&quot;Име на групата&quot;</strong>. Чрез нея деца, които участват и в други групи, ще могат да поискат да се присъединят към Вашата.&nbsp;<br />
                    <br />
                    <em><strong>Важно! </strong>Деца, чиито абонаменти не са активирани в други групи, трябва&nbsp;да използват ключа, който Вие ще им дадете за включване в групата, за да може да се активира годишният им абонамент. Това е описано в следващата секция.</em><br />
                    &nbsp;
                </p>

                <hr />&nbsp;
                <p><span style="color:#FFA500;"><strong>В меню &bdquo;Моите ученици&ldquo;</strong></span>&nbsp;се съдържа&nbsp;много важна информация, която позволява да се&nbsp;добавят&nbsp;ученици към групата КЛАС.&nbsp;За повече подробности вижте <a href="https://www.knigovishte.bg/page?id=28"><span style="color:#FFA500;"><strong>ТУК</strong></span></a>.</p>

                <p>В това меню&nbsp;виждате всички ученици, които сте присъединили или на които сте дали достъп до групата КЛАС. Виждате и всички свободни абонаментни ключове за ученици, чрез които може да добавяте още деца в групата.</p>

                <p>Избирайки някой от учениците, отивате до обобщената информация на неговите личните постижения.</p>

                <p>
                    И от двете места може да изпращате лични съобщения&nbsp;до децата, които пък се появяват в техните&nbsp;лични&nbsp;профили.<br />
                    &nbsp;
                </p>

                <hr /><br />
                <span style="color:#FFA500;"><strong>В меню &quot;Заявки за приемане&quot;</strong></span> се появяват искания за включване в групата на КЛАСА от деца, които са регистрирани в системата. Вие може да ги разпознаете като свои и да им дадете или откажете достъп до групата.<br />
                &nbsp;
                <hr />
                <p>
                    <br />
                    <span style="color:#FFA500;"><strong>В меню &bdquo;Прочетени книги&ldquo;</strong></span>&nbsp;се виждат книгите, които са прочели децата в групата на&nbsp;класа. Най-отгоре са книгите, чиито въпросници са решени от най-много деца в класа.<br />
                    &nbsp;
                </p>

                <hr />&nbsp;
                <p><span style="color:#FFA500;"><strong>Меню &bdquo;ЗАЕДНО&ldquo;&nbsp;</strong></span>е инструмент, който създадохме в резултат на&nbsp;обратната връзка, получена в първите месеци от учители, ползващи Книговище. Той Ви дава достъп до всички въпросници в платформата, така че да можете да ги&nbsp;решавате заедно&nbsp;с децата в клас. Резултатите от решените през Вашия учителски&nbsp;профил въпросници не се включват в общата класация, за да не изкривяват статистиката на индивидуалните постижения. Все пак и през този профил един въпросник може да бъде решен само веднъж.</p>

                <p>
                    За да стартирате въпросник, не е необходимо да влизате специално в това меню. Достатъчно е да намерите заглавието, което търсите, през общата търсачка на сайта. В това меню се показват въпросниците, които сте решили заедно с децата.<br />
                    &nbsp;
                </p>

                <hr />&nbsp;
                <p>
                    <strong><span style="color:#FFA500;">Чрез меню &bdquo;Генерирай грамоти&ldquo;&nbsp;</span></strong>ще може с един бутон да зададете&nbsp;системното генериране на грамоти за децата, участващи в груповия профил КЛАС. Индивидуална грамота с личните постижения ще се появи в електронен вариант в личния профил на детето. Ще се появи и в груповия профил, така че ако решите да придадете допълнителна стойност на четенето, можете да разпечатате всички грамоти и да направите специална церемония по връчването им в клас.<br />
                    &nbsp;
                </p>

                <hr />&nbsp;
                <p>
                    <span style="color:#FFA500;"><strong>В меню &bdquo;Помощни материали&ldquo;&nbsp;</strong></span>ще качваме инструкции, подобна на тази,&nbsp;както и идеи за услужливо приложение на Книговище от учителите. Ако желаете и Вашият опит да бъде споделен, не се колебайте да ни пишете, за да го качим и за останалите групи в платформата.<br />
                    &nbsp;
                </p>

                <hr />&nbsp;
                <p>
                    <span style="color:#FFA500;"><strong>Чрез меню &bdquo;Съобщения&ldquo;&nbsp;</strong></span>може да изпращате лични съобщения до децата, участващи&nbsp;в групата на КЛАСА. Може да четете и съобщения, които те Ви изпращат. Бихме препоръчали този канал да се използва специфично за задачи и общуване по теми, свързани с Книговище и четенето.<br />
                    &nbsp;
                </p>

                <hr />
                <p>
                    <br />
                    <strong><span style="color:#FFA500;">В меню &bdquo;Рестарт на въпросник&ldquo;</span></strong>&nbsp;излизат искания на децата за&nbsp;рестартиране на въпросник. Това се налага, тъй като щом бъде започнат един въпросник, той се отчита от системата за решен, дори и да не е завършен от детето. Децата имат право&nbsp;при достатъчно извиними причини&nbsp;да помолят въпросникът да бъде рестартиран. Препоръчваме да сте внимателни в употребата на този инструмент, за да се запази справедливостта в платформата.&nbsp;<br />
                    &nbsp;
                </p>

                <hr />&nbsp;
                <p>
                    <span style="color:#FFA500;"><strong>В меню &bdquo;Създай въпросник</strong>&ldquo;</span>&nbsp;са посочени правилата и инструкциите, по&nbsp;които се създават въпросници. Съвместното мислене и творчество по кратки или дълги текстове, както и съчиняването на подходящи дистрактори е едновременно и полезно, и забавно занимание. Пробвайте го! Има и награди. За повече информация прочетете и изгледайте материалите от посочените линкове.<br />
                    &nbsp;
                </p>

                <hr /><br />
                <span style="color:#FFA500;"><strong>В меню &bdquo;Създадени въпросници</strong>&ldquo;</span>&nbsp;се появяват &nbsp;въпросниците, създадени от членовете на групата. Може да видите и колко точки е получило детето за това усилие. Обръщаме внимание, че преди да бъде публикуван един въпросник за ползване от всички, той преминава процес на редакция, в който детето се научава как да подобри уменията си по съставяне на въпроси, за ползване на синоними, за отношение към маловажната от същностната информация. Въпросниците минават и през коректор.<br />
                &nbsp;
                <hr /><br />
                <span style="color:#FFA500;"><strong>Чрез меню &quot;Купи абонамент&quot;</strong></span> може да се заяви и закупи както групов абонамент за съответната група КЛАС, така и за други съществуващи профили или като подаръчни абонаменти. В случай че закупите абонамент от съответния учителски профил, модериращ групата на КЛАСА, той ще се активира автоматично след като системата регистрира плащането му. Статусът му ще е видим и в <span style="color:#FFA500;"><strong>меню &quot;Моите абонаменти&quot;.</strong></span>&nbsp;В случай че през профила си купувате абонамент за друг потребител (като подарък или поради друга причина), статусът и абонаментният ключ също ще е видим в <span style="color:#FFA500;"><strong>меню &quot;Моите абонаменти&quot;</strong></span>, но тогава трябва да предадете ключа на съответния потребител, за когото е предназначен.&nbsp;<br />
                &nbsp;
                <hr /><br />
                <span style="color:#FFA500;"><strong>В меню &quot;Моите абонаменти</strong></span>&quot; се появяват абонаментните ключове на абонаментите, които сте закупили през съответния профил.<br />
                &nbsp;
                <hr /><br />
                <span style="color:#FFA500;"><strong>В меню &quot;Активирай абонамента си&quot;</strong></span> се въвежда абонаментният ключ, ако абонаментът е закупен не със заявка от съответния профил, а по друг начин.
            </div>

        </div>
    </div>
</div>

