
@{
    ViewData["Title"] = "Использовать профиль класса";
}

<div id="content">
    <div class="container">
        <div class="legend">
            <h1 style="text-align:center;margin-bottom:50px;line-height:40px;">Как се ползва група КЛАС от учител</h1>
            <div class="page_content">
                <p>
                    <strong>Группа КЛАСС</strong>
                    приносит дополнительный положительный опыт ученикам и вовлекает детей в «конкурс чтения» в свободное время.
                </p>

                <p>
                    <strong>Группа КЛАСС</strong>
                    также предлагает варианты, которые учитель может использовать в учебном процессе, чтобы
                    дополнительно стимулировать развитие грамотности чтения.
                </p>

                <hr />
                <p>
                    <br />
                    <u>
                        <strong>
                            Классные функции с точки зрения учителя
                        </strong>
                    </u><br />
                </p>
                <p>
                    <span style="color:#FFA500;"><strong>В меню "Мой класс" </strong></span>Вы можете увидеть общие достижения
                    учеников в Вашем классе на период, который Вы можете определить сами:<br />
                </p>

                <ul>
                    <li>Сколько учеников в профиле группы</li>
                    <li>Сколько анкет они заполнили в общей сложности за период</li>
                    <li>Каков средний показатель успешности (% правильных ответов) учащихся в профиле группы за указанный период</li>
                    <li>
                        Сколько очков набрали ученики за данный период
                    </li>
                    <li>Место в рейтинге всех классов в стране</li>
                </ul>

                <p>
                    <br />
                    Каждые из этих статистических данных можно просмотреть дополнительно. Так можно добраться до
                    информации о том, какие книги читают дети в классе, сколько детей читает, и каков средний балл в викторине
                    среди детей в классе. Вы можете определить, какую книгу они поняли лучше, а какую хуже.
                    <br />
                    <br />
                    <br />
                    <em>

                        * Если Вы видите, что книга интересна большему количеству детей, Вы
                        можете рекомендовать другим прочитать ее, решить викторину через свои профили и затем вместе обсудить вопросы и ответы.
                    </em>
                    <br />
                </p>

                <p>
                    Последний раздел этого меню в групповом профиле КЛАСС показывает недавно прочитанные книги детей из Вашего класса.<br />
                </p>
                <hr />
                <p>
                    <br />
                    <span style="color:#FFA500;">
                        <strong>
                            В меню "Мой профиль"
                        </strong>
                    </span>
                    Вы можете в любое время изменить некоторые данные Класса. Вы также можете загрузить фотографию класса или другое изображение, чтобы проиллюстрировать профиль группы.<br />
                    <br />

                    Мы обращаем внимание на поле <strong>"Название группы"</strong>. Благодаря нему дети, которые участвуют в других группах, смогут сделать запрос.<br />
                    <br />
                    <em>
                        <strong>Важно! </strong>Дети, чьи абонементы не активированы в других группах, должны использовать ключ, который Вы им дадите.
                        Это описано в следующем разделе.
                    </em><br />

                </p>

                <hr />
                <p>
                    <span style="color:#FFA500;"><strong>Меню "Мои ученики"</strong></span> одержит очень важную информацию, которая
                    позволяет студентам быть добавленными в группу КЛАСС. Для более подробной информации читайте <a href="https://www.knigovishte.bg/page?id=28">
                        <span style="color: #FFA500;"><strong>ЗДЕСЬ</strong></span>
                    </a>.
                </p>

                <p>
                    В этом меню Вы видите всех студентов, к которым Вы присоединились или которым предоставлен доступ в группу КЛАСС. Вы также видите всех свободные
                    ключи подписки, с помощью которых Вы можете добавить больше детей в группу.
                </p>

                <p>Выбирая одного из учеников, Вы переходите к краткому описанию его личных достижений.</p>

                <p>
                    Вы можете отправлять личные сообщения детям, которые будут появляться в их личных профилях.<br />
                </p>

                <hr />
                <span style="color:#FFA500;"><strong>В меню «Заявки на прием»</strong></span> появляются запросы на включение в группу КЛАСС
                от детей, которые вошли в систему.<br />

                <hr />
                <p>
                
                    <span style="color:#FFA500;">
                        <strong>
                            В меню «Прочтённые книги»
                        </strong>
                    </span> Вы можете увидеть книги, которые прочитали дети в классе. Вверху находятся книги, викторины по которым решает большинство детей в классе.<br />

                </p>

                <hr />
                <p>
                    <span style="color:#FFA500;">
                        <strong>
                            Меню "ВМЕСТЕ""
                        </strong>
                    </span>дает Вам доступ ко всем викторинам на платформе, чтобы Вы могли
                    решить их с детьми в классе. Результаты викторин, решенных через Ваш профиль учителя, не включены в общий
                    рейтинг, чтобы не искажать статистику отдельных показателей. Тем не менее, одна викторина может быть решена через этот аккаунт
                    только один раз.
                </p>

                <p>
                    Вам не нужно входить в это меню специально для запуска анкеты. Просто найдите название, которое вы ищете через
                    поисковую систему сайта.<br />

                </p>

                <hr />
                <p>
                    <span style="color:#FFA500;"><strong>В меню «Справочные материалы» </strong></span>мы будем загружать инструкции, похожие на
                    эту, а также идеи дляиспользования платформы учителями. Если вы хотите поделиться своим опытом, не стесняйтесь и
                    напишите нам. <br />

                </p>

                <hr />
                <p>
                    <span style="color:#FFA500;"><strong>Через меню "Сообщения" </strong></span>Вы можете отправлять личные сообщения детям в группе КЛАСС.
                    Вы также можете читать сообщения, которые они вам отправляют. Мы рекомендуем использовать этот канал специально
                    для заданий и общения по темам, связанным с чтением книг.<br />

                </p>

                <hr />
                <p>
                    <br />
                    <strong>
                        <span style="color:#FFA500;">
                            В меню "Перезапуск викторины""
                        </span>
                    </strong> находятся запросы на перезагрузки викторин. Это необходимо, потому что после запуска викторины система сообщает о нем, даже если он не заполнен полнрстью.
                    У детей есть возможность попросить перезапустить викторину по достаточно веским причинам. Мы рекомендуем быть осторожными в
                    использование этого инструмента для поддержания справедливости на платформе.<br />

                </p>

                <hr />
                <p>
                    <span style="color:#FFA500;">
                        <strong>
                            В меню "Создать анкету""
                        </strong>"
                    </span> изложены правила и инструкции как создать викторину.<br />

                </p>

                <hr /><br />
                <span style="color:#FFA500;">
                    <strong>
                        В меню «Созданные викторины»
                    </strong>"
                </span> находятся викторины, созданные
                членами группы. Вы также можете увидеть, сколько очков ребенок получил за это.<br />

                <hr /><br />
                <span style="color:#FFA500;"><strong>В меню «Купить подписку»</strong></span> можно приобрести как групповой ,
                так и индивидуальный абонемент в подарок. Если вы покупаете абонемент, он будет активирован автоматически после того, как система зарегистрирует платеж.
                Его статус также будет виден в
                <span style="color:#FFA500;"><strong>меню "Мои абонементы"</strong></span> Если вы покупаете абонемент в качестве подарка или по другой причине, статус
                и ключ подписки также будут видны в <span style="color:#FFA500;">
                    <strong>
                        меню
                        "Мои абонаменты"
                    </strong>
                </span>,
                но тогда вы должны передать ключ соответствующему пользователю, для которого он предназначен
                . <br />

                <hr /><br />
                <span style="color:#FFA500;"><strong>В меню "Мои абонаменты"</strong></span>
                появляются ключи абонаментов,
                что Вы приобрели через этот аккаунт.<br />

                <hr /><br />
                <span style="color:#FFA500;">
                    <strong>
                        В меню "Активировать абонамент";
                    </strong>
                </span> нужно ввести ключ абонамента.
            </div>

        </div>
    </div>
</div>

