
@{
    ViewData["Title"] = "Использовать профиль семьи";
}
<div id="content">
        <div class="container">
            <div class="legend">
                <h1 style="text-align:center;margin-bottom:50px;line-height:40px;">
                    Как использовать группу СЕМЬЯ в качестве родителя</h1>
                <div class="page_content">
                    <p>
                        Участие в группе СЕМЬЯ это дополнительный положительный опыт как для родителей, так и для их детей: это может стать дополнительным
                        поводом для родителей и их детей пообщаться о книгах, которые они прочитали. Кроме того, дети в семье могут соревноваться как в чтении и решении викторин.
                        Система учитывает разный возраст детей в семье, чтобы обеспечить максимальную справедливость в игре.
                    </p>
                    <hr />
                    <p>
                        <br />
                        <u>Функции группы СЕМЬЯ в Книговиште с точки зрения родителя</u><br />
                    </p>

                    <p>
                        <span style="color:#FFA500;">В меню «Моя семья» </span>
                        Вы можете увидеть общие достижения своих детей в чтении за период, который Вы можете определить сами: <br />             
                    </p>

                    <ul>
                        <li> Сколько детей присоединено к групповому профилю</li>
                        <li> Сколько анкет они заполнили за период </li>
                        <li> Каков средний показатель успешности (% правильных ответов) детей за определенный период </li>
                        <li> Сколько очков они накопили за данный период </li>
                        <li> Какое место в рейтинге всех семейных профилей в этой стране занимает Ваша семья </li>
                    </ul>

                    <p>
                        <br />
                        Каждые из этих статистических данных можно изучить дополнительно. Так можно узнать, какие книги дети читают в семье, сколько детей читает и каков средний балл.
                        Вы можете определить, какую книгу они поняли лучше, а какую хуже. И это, соответственно, послужит поводом для разговоров дома. <br />

                    </p>
                    <p>
                        <br />
                        <em>
                            * Поскольку в индивидуальном профиле у детей нет информации о достижениях в группе, Вы можете использовать эти данные для определения групповых
                            целей, чтобы стимулировать детей, которые читают меньше внести вклад в общий прогресс.
                        </em> <br />
                        <br />
                        <br />
                        Последний раздел этого меню в групповом профиле СЕМЬЯ показывает недавно прочитанные книги. <br />
                    </p>

                    <hr />
                    <p>
                        
                        <span style="color:#FFA500;">
                            В меню «Мой профиль»
                        </span> Вы можете изменить некоторые данные в любое время. Обратите особое внимание на то, правильно ли написана Ваша электронная почта. Здесь Вы также можете 
                        загрузить фотографию семьи или другую фотографию, чтобы проиллюстрировать группу. <br />
                        
                    </p>
                    <hr />
                    <p>
                        <span style="color:#FFA500;">
                            Меню «Мои дети» 
                        </span>содержит важную информацию, которая позволяет Вам добавлять профили в группу СЕМЬЯ. Для получения более подробной информации читайте 
                        <a href="https://www.knigovishte.bg/page?id=29">
                            <span style="color: #FFA500;"> ЗДЕСЬ</span>
                        </a>.
                    </p>
                    <p> В этом меню Вы видите детей, которые присоединились к группе. Вы также видите все бесплатные ключи, которые могут добавить больше детей (всего до 4). </p>
                    <p> Выбрав один из детских профилей, Вы переходите к сводке его личных достижений. </p>
                    <p>Вы можете отправлять личные сообщения детям, которые будут появляться в их личных профилях. <br /></p>
                    <hr />
                    <p>
                        <span style="color:#FFA500;">
                            
                                В меню «Прочтённые книги»
                            
                        </span> Вы можете увидеть книги, которые прочитали дети в семье. Вверху находятся книги, викторины по которым решает большинство детей.<br />
                    </p>
                    <hr />
                    <p>
                        <span style="color:#FFA500;">

                            Меню «ВМЕСТЕ»

                        </span>дает Вам доступ ко всем викторинам на платформе, чтобы Вы могли
                        решить их с детьми дома. Результаты викторин, решенных через Ваш родительский профиль, не включены в общий
                        рейтинг, чтобы не искажать статистику отдельных показателей. Тем не менее, одна викторина может быть решена через этот аккаунт
                        только один раз.
                    </p>
                    <p>
                        Вам не нужно входить в это меню специально для запуска викторины. Просто найдите книгу, которую Вы ищете через
                        поисковую систему сайта.<br />
                    </p>
                    <hr />
                    <p>
                        <span style="color:#FFA500;"> В меню «Справка» </span>мы будем загружать инструкции, похожие на
                        эту, а также идеи для использования платформы родителями. Если Вы хотите поделиться своим опытом, не стесняйтесь и
                        напишите нам. <br />
                    </p>
                    <hr />
                    <p>
                        <span style="color: #FFA500;"> В меню «Сообщения» </span> Вы можете отправлять личные сообщения детям в группе. Вы также можете читать сообщения,
                        которые они отправляют Вам. <br />
                    </p>
                    <hr />
                    <p>
                        
                        <span style="color:#FFA500;">
                            В меню «Перезапуск викторины»
                        </span>
                        находятся запросы на перезагрузки викторин. Это необходимо, потому что после запуска викторины система регистрирует её, даже если она не заполнен полнрстью.
                        У детей есть возможность попросить перезапустить викторину по достаточно веским причинам. Мы рекомендуем быть осторожными в
                        использование этого инструмента для поддержания справедливости на платформе.<br />

                    </p>
                    <hr />
                    <p>
                        <span style="color:#FFA500;">
                            В меню «Создать викторину»
                        </span> изложены правила и инструкции как создать викторину.<br />

                    </p>
                    <hr />
                    <span style="color:#FFA500;">В меню «Созданные викторины»
                    </span> находятся викторины, созданные
                    членами группы. Вы также можете увидеть, сколько очков ребенок получил за это.<br />
                    
                    <hr />
                          <span style="color:#FFA500;">В меню «Мои абонаменты»</span> появляются ключи абонементов,
                    которые Вы приобрели через этот аккаунт.<br />

                    <hr />
                          <span style="color:#FFA500;">В меню «Активировать абонамент»</span> нужно ввести ключ абонемента.
                </div>

            </div>
        </div>
    </div>
