
@{
    ViewData["Title"] = "Использовать профиль семьи";
}

    <div id="content">
        <div class="container">
            <div class="legend">
                <h1 style="text-align:center;margin-bottom:50px;line-height:40px;">Как се ползва група СЕМЕЙСТВО от родител</h1>
                <div class="page_content">
                    <p><strong>Група СЕМЕЙСТВО в Книговище&nbsp;</strong>носи допълнително положително преживяване и на родителите, и на техните деца. Семейното Книговище може да стане допълнителен повод родителите и техните деца да си говорат за книгите, които четат. Отделно пък децата в семейството могат&nbsp;да се състезават както по разбиране на книга,&nbsp;така и по брой прочетени книги. Системата на Книговище отчита различната възраст на децата в семейството, така че да се поддържа максимална справедливост в играта.</p>

                    <p><strong>Група СЕМЕЙСТВО</strong>&nbsp;предлага и опции, които родителят може да реши да използва във възпитателния процес, за да стимулира развиването на четивна&nbsp;грамотност на децата си (основно умение за изграждане на функционална грамотност), по-широката им култура, а и съвсем ежедневни здравословни навици.</p>

                    <hr />
                    <p>
                        <br />
                        <u><strong>Функции&nbsp;на група СЕМЕЙСТВО в Книговище от гледна точка на&nbsp;родителя​​​​​</strong></u><br />
                        &nbsp;
                    </p>

                    <p>
                        <strong><span style="color:#FFA500;">В меню &bdquo;Моето&nbsp;семейство&ldquo;</span>&nbsp;</strong>се виждат обобщените читателски&nbsp;постижения на Вашите деца&nbsp;за&nbsp;период, който можете да дефинирате и сами:<br />
                        &nbsp;
                    </p>

                    <ul>
                        <li>Колко деца са присъединени към груповия профил</li>
                        <li>Колко въпросника са попълнили общо за периода</li>
                        <li>Каква е средната успеваемост (% верни отговори) на децата за определения период</li>
                        <li>Колко точки общо са натрупали за зададения период</li>
                        <li>Място в класацията на всички семейни профили в този в страната</li>
                    </ul>

                    <p>
                        <br />
                        Всяка от тези статистики&nbsp;може да се прегледа и по-подробно, като се избере съответният резултат. Така може да се стигне до информация&nbsp;какви книги четат децата в семейството, колко деца са прочели едно заглавие и каква е средната им успеваемост по даден въпросник. Може да изведете заключение коя книга са разбрали по-добре и коя ги е затруднила. И това съответно да стане повод за разговори у дома.<br />
                        &nbsp;
                    </p>

                    <p>Може да видите и&nbsp;<strong>индивидуалните общи резултати</strong>&nbsp;на всяко&nbsp;от децата в групата на СЕМЕЙСТВОТО&nbsp;чрез графиката. Сивото стълбче е средната успеваемост на семейството/семействата&nbsp;в града/семействата в страната.</p>

                    <p>
                        <br />
                        Избирането на едно стълбче води до обобщените индивидуални резултати на детето &ndash; на кое читателско ниво е, колко точки има, колко книги е прочел и каква е неговата успеваемост.<br />
                        <br />
                        <br />
                        По-надолу в меню &bdquo;Моето&nbsp;семейство&ldquo; има възможност да видите представянето на децата като група в общата класация на другите семейни профили &nbsp;&ndash; &nbsp;в града или в цялата страна, както&nbsp;&nbsp;и информация за това в коя част от класацията се намира семейството &ndash; например в топ 10 %, топ 20 % и т. н.<br />
                        Класацията е по няколко различни параметъра: по брой точки, по успеваемост и по обем на четене &ndash; брой решени въпросници.<br />
                        <br />
                        <br />
                        <em>* Понеже в индивидуалния си профил&nbsp;децата &nbsp;нямат информация за груповото постижение, чрез тези данни може да им поставяте групови цели, така че да увлечете и децата, на които четенето не им е свойско, да се постараят повече и да допринесат за общия напредък в класацията. По който и да е от параметрите.</em><br />
                        <br />
                        <br />
                        Последният раздел на това меню от групата СЕМЕЙСТВО показва наскоро прочетените книги от децата в семейството. А това винаги може да е тема за споделяне на пресни и въодушевени впечатления.<br />
                        &nbsp;
                    </p>

                    <hr />
                    <p>
                        <br />
                        <strong><span style="color:#FFA500;">През меню &bdquo;Моят профил&ldquo;</span>&nbsp;</strong>можете във всеки един момент да промените някои от данните си. Обърнете специално внимание дали имейлът Ви е изписан правилно.&nbsp;Оттам може да качите и снимка на семейството&nbsp;или друга&nbsp;картинка за илюстрация на групата.<br />
                        &nbsp;
                    </p>

                    <hr />&nbsp;
                    <p><span style="color:#FFA500;"><strong>В меню &bdquo;Моите деца&ldquo;</strong></span>&nbsp;се съдържа&nbsp;много важна информация, която позволява да се&nbsp;добавят&nbsp;ученически профили към групата СЕМЕЙСТВО.&nbsp;За повече подробности вижте<span style="color:#FFA500;">&nbsp;</span><a href="https://www.knigovishte.bg/page?id=29"><span style="color:#FFA500;"><strong>ТУК</strong></span></a><span style="color:#FFA500;">.</span></p>

                    <p>В това меню&nbsp;виждате децата, които сте присъединили или на които сте дали достъп до групата СЕМЕЙСТВО. Виждате и всички свободни ключове, чрез които може да добавяте още деца (общо до 4).</p>

                    <p>Избирайки някой от профилите на децата, отивате до обобщената информация на неговите личните постижения.</p>

                    <p>
                        И от двете места може да изпращате лични съобщения&nbsp;до децата, които пък се появяват в техните&nbsp;лични&nbsp;профили.<br />
                        &nbsp;
                    </p>

                    <hr />
                    <p>
                        <br />
                        <span style="color:#FFA500;"><strong>В меню &bdquo;Прочетени книги&ldquo;</strong></span>&nbsp;се виждат книгите, които са прочели децата в семейството. Най-отгоре са книгите, чиито въпросници са решени от най-много деца в групата СЕМЕЙСТВО.<br />
                        &nbsp;
                    </p>

                    <hr />&nbsp;
                    <p><strong><span style="color:#FFA500;">Меню &bdquo;ЗАЕДНО&ldquo;</span>&nbsp;</strong>е инструмент, който създадохме в резултат на&nbsp;обратната връзка, получена в първите месеци от учители, ползващи Книговище. Той дава достъп и на родителя до всички въпросници в платформата, така че да можете да ги&nbsp;решавате заедно&nbsp;с децата у дома или Вие да се пробвате. Резултатите от решените през този профил въпросници не се включват в общата класация, за да не изкривяват статистиката на индивидуалните постижения. Все пак и през този профил един въпросник може да бъде решен само веднъж.</p>

                    <p>
                        За да стартирате въпросник, не е необходимо да влизате специално в това меню. Достатъчно е да намерите заглавието, което търсите, през общата търсачка на сайта. В това меню се показват въпросниците, които сте решили заедно с децата.<br />
                        &nbsp;
                    </p>

                    <hr />&nbsp;
                    <p>
                        <strong><span style="color:#FFA500;">Чрез меню &bdquo;Генерирай грамоти&ldquo;</span>&nbsp;</strong>ще може с един бутон да зададете&nbsp;системното генериране на грамоти за децата, участващи в групата СЕМЕЙСТВО. Индивидуална грамота с личните постижения ще се появи в електронен вариант в личния профил на детето. Ще се появи и в груповия профил, така че ако решите да придадете допълнителна стойност на четенето, можете да разпечатате всички грамоти и да направите специална церемония по връчването им у дома.<br />
                        &nbsp;
                    </p>

                    <hr />&nbsp;
                    <p>
                        <strong><span style="color:#FFA500;">В меню &bdquo;Помощни материали&ldquo;</span>&nbsp;</strong>ще качваме инструкции, подобна на тази,&nbsp;както и идеи за услужливо приложение на Книговище от родителите. Ако желаете и Вашият опит да бъде споделен, не се колебайте да ни пишете, за да го качим и за останалите потребители&nbsp;в платформата.<br />
                        &nbsp;
                    </p>

                    <hr />&nbsp;
                    <p>
                        <strong><span style="color:#FFA500;">Чрез меню &bdquo;Съобщения&ldquo;</span>&nbsp;</strong>може да изпращате лични съобщения до децата, участващи&nbsp;в групата. Може да четете и съобщения, които те Ви изпращат.<br />
                        &nbsp;
                    </p>

                    <hr />
                    <p>
                        <br />
                        <span style="color:#FFA500;"><strong>В меню &bdquo;Рестарт на въпросник&ldquo;</strong></span>&nbsp;излизат искания на децата за&nbsp;рестартиране на въпросник. Това се налага, тъй като щом бъде започнат един въпросник, той се отчита от системата за решен, дори и да не е завършен от детето. Децата имат право&nbsp;при достатъчно извиними причини&nbsp;да помолят въпросникът да бъде рестартиран. Препоръчваме да сте внимателни в употребата на този инструмент, за да се запази справедливостта в платформата.&nbsp;<br />
                        &nbsp;
                    </p>

                    <hr />&nbsp;
                    <p>
                        <span style="color:#FFA500;"><strong>В меню &bdquo;Създай въпросник</strong>&ldquo;&nbsp;</span>са посочени правилата и инструкциите, по&nbsp;които се създават въпросници. Съвместното мислене и творчество по кратки или дълги текстове, както и съчиняването на подходящи дистрактори е едновременно и полезно, и забавно занимание. Пробвайте го! Има и награди. За повече информация прочетете и изгледайте материалите от посочените линкове.<br />
                        &nbsp;
                    </p>

                    <hr /><br />
                    <span style="color:#FFA500;"><strong>В меню &bdquo;Създадени въпросници</strong>&ldquo;</span>&nbsp;се появяват &nbsp;въпросниците, създадени от членовете на групата. Може да видите и колко точки е получило детето за това усилие. Обръщаме внимание, че преди да бъде публикуван един въпросник за ползване от всички, той преминава процес на редакция, в който детето се научава как да подобри уменията си по съставяне на въпроси, за ползване на синоними, за отношение към маловажната от същностната информация. Въпросниците минават и през коректор.<br />
                    &nbsp;
                    <hr /><br />
                    <span style="color:#FFA500;"><strong>Чрез меню &quot;Купи абонамент&quot;</strong></span>&nbsp;може да се заяви и закупи абонамент както за съответната група СЕМЕЙСТВО, така и за други съществуващи профили или като подаръчни абонаменти. В случай че закупите абонамент от съответния родителски профил, той ще се активира автоматично, като статусът му ще е видим и в&nbsp;<strong>меню &quot;Моите абонаменти&quot;.&nbsp;</strong>&nbsp;В случай че през профила си купувате абонамент за друг потребител (като подарък или поради друга причина), статусът и абонаментният ключ също ще е видим <strong>в меню &quot;Моите абонаменти</strong>&quot;, но тогава трябва да предадете ключа на съответния потребител, за когото е предназначен.<br />
                    &nbsp;
                    <hr /><br />
                    <span style="color:#FFA500;"><strong>В меню &quot;Моите абонаменти</strong>&quot;</span> се появяват абонаментните ключове на абонаментите, които сте закупили през съответния профил.<br />
                    &nbsp;
                    <hr /><br />
                    <span style="color:#FFA500;"><strong>В меню &quot;Активирай абонамента си&quot;</strong></span>&nbsp;се въвежда абонаментният ключ, ако абонаментът е закупен не със заявка от съответния профил, а по друг начин.
                </div>

            </div>
        </div>
    </div>
