@using Knigosha.Core.Models.Enums
@model Knigosha.Core.ViewModels.TextViewModels.CreateTextVewModel

@{
    ViewData["Title"] = "Новый текст";
}
<div class="container">
    <partial name="_DashboardPartial" />
    <div>
        <div class="header">
            <h4>Новый текст</h4>
            <a asp-action="IndexAdmin" class="btn btn btn-light ">Назад к текстам</a>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Create" class="adminForm" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Title"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <textarea rows="5" asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TextType"></label>
                        <select asp-for="TextType" asp-items="Html.GetEnumSelectList<TextTypes>()" , class="form-control">
                            <option value=""> - Выберите тип - </option>
                        </select>
                        <span asp-validation-for="TextType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Photo"></label>
                        <input asp-for="Photo" accept="image/*" />
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Сохранить текст" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
