/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */

@media (min-width: 768px) {
  html {
    font-size: 17px !important;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem #000000;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

body {
    font-family: 'Kurale', sans-serif !important;
    font-size: 17px !important;
}

/* Registration form */
#registration div.form-group {
    margin-top: 10px;
}

#registration .form-group {
    margin-bottom: 0;
}

#registration, #forgot {
    background-color: #f5f4f2;
    display: inline-block;
    text-align: left;
    border: white;
    font-size: 17px;
    margin-top: 30px;
    padding: 23px;
    max-width: 400px;
    -ms-border-radius: 20px;
    border-radius: 15px;
}

.green-flat-button {
    margin: 0 auto;
    display: block;
    position: relative;
    vertical-align: top;
    width: 60%;
    height: 40px;
    padding: 0;
    font-size: 20px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px #000000;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #009400;
    /*border: 0;*/
    -ms-border-radius: 25px;
    border-radius: 25px;
    border-bottom: 2px solid #009400;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #009400;
    box-shadow: inset 0 -2px #009400;
}



.green-flat-button:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}



#forgotButton {
    margin-top: 20px;
    width: 45%
}
#registrationButton {
    width: 50%;
    margin-top: 10px;
}
#registration .form-control, #forgot .form-control {
    display: block;
    width: 100%;
    height: 35px;
    padding: 2px;
    padding-left: 10px;
    font-size: 1rem;
    font-weight: 400;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    margin-bottom: 0;
    border: white;
    border-radius: 25px;
}

    #registration .form-control:focus, #forgot .form-control:focus {
        border-color: #009400;
        box-shadow: 0 1px 1px #000000 inset, 0 0 8px #008000;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 128, 0, 0.5);
    }

#cityDiv {
    display: none;
}

#schoolDiv {
    display: none;
} 

.addedCitySelect {
    margin-top: 20px !important;
}

.addedSchoolSelect {
    margin-top: 20px !important;
}


.select2-container {
    width: 100% !important;
}

.select2-results__options{
    font-size:18px !important;
}

.text-danger {
    color: #009400 !important;
}

#registration label {
    margin-bottom: 3px;
    padding-left: 3px;
}

#registration input + label {
    padding-left: 0;
}


#registration p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

#text {
    font-weight: bold;
}

p:nth-child(1) {
    text-align: center;
}

form > h5 {
    text-align: center;
}

#registration select, #registration div > input {
    -ms-border-radius: 25px !important;
    border-radius: 25px !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 14px !important;
}

#registerPassword .btn {
    border-top-right-radius: 45%;
    border-bottom-right-radius: 45%;
    line-height: 1em !important;
    color: darkgray;
    border-color: darkgray;
}

/* dropdown ligon form */
.dropdown-menu {
    width: 320px;
    position: absolute;
    z-index: 1000;
    display: none;
    left: -75px;
    top: 51px;
    min-width: 10rem;
    padding: 1.5em;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -ms-background-clip: padding-box;
    background-clip: padding-box;
    -ms-border-bottom-left-radius: 20px;
    border-bottom-left-radius: 20px;
    -ms-border-bottom-right-radius: 20px;
    border-bottom-right-radius: 20px;
    -ms-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -ms-border-top-left-radius: 0;
    border-top-left-radius: 0;
    border-top: none;
    box-shadow: 0 6px 8px -1px #000000;
    box-shadow: 0 6px 8px -1px rgba(0,0,0,.2);
    background: #ffffff;
    background: rgba(255,255,255,0.9);
    padding: 15px;
    padding-bottom: 5px;
}
#loginButton {
    width: 40%
}
#parent {
    position: relative;
}

.form_label {
    padding-left: 10px;
    padding-bottom: 5px;
}
#loginForm label {
    padding-left: 12px;
    margin-bottom: 0.1rem;
}
#remembermeDiv label {
    padding-left: 0
}
#forgotPass {
    display: block;
    text-align: center;
    text-decoration: underline;
    font-size: 15px;
    padding-top: 0;
    color: black;
}
#registerLink {
    font-size: 19px;
    display: block;
    text-align: center;
    color: #009400;
    text-decoration: underline;
    margin-top: 8px;
}

#remembermeDiv {
    text-align: center;
}
#loginEmail, #loginPassword {
    background-color: #f5f4f2;
    border: white;
    border-radius: 25px; 
}

#loginEmail:focus, #loginPassword:focus{
    border-color: #009400;
    box-shadow: 0 1px 1px #000000 inset, 0 0 8px #008000;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 128, 0, 0.5);
}

#registration #registerPassword input {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    width: fit-content !important;
}

#loginForm .form-group {
    margin-bottom: 5px;
}
#dropdownDiv .form-control {
    height: 35px;
}


/* nav link */
nav a:-webkit-any-link:hover {
    color: #009400 !important;
}

/*dashboard*/

#dashboard {
    background-color: #dc3545 !important;
}
#dashboard a{
    color: white;
}


/*Admin pages headers */

.header {
    margin-top: 10px;
}
.adminButton {
    margin-bottom: 15px;
    margin-top: 15px;
}

/* Create book form*/

.adminForm .form-control:focus{
    border-color: #009400;
    box-shadow: 0 1px 1px #000000 inset, 0 0 8px #008000;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 128, 0, 0.5);
}

#questionDetail {
    margin-top: 15px
}

/* tables */

.table {
    table-layout: fixed;
    word-wrap: break-word;
}
img#coverPhoto {
    width: 120px;
}

img#detailsCoverPhoto, img#deleteCoverPhoto {
    width: 200px;
    margin-top: 15px;
}

td, th {
    text-align: center;
}

#deleteIcon {
    color: #dc3545;
    margin-left: 10px;
    font-weight: bold;
}

dt {
    margin-bottom: 7px; 
}

.questionNumberColumn {
    width: 5%
}

.deleteEditColumn {
    width: 17%
}

.mainContentColumn{
    text-align: left
}

.toQuestionsColumn {
    width: 13%
}
.forColumn {
    width: 7%
}

.bookCoverColumn {
    width: 14%
}
.addedDateColumn {
    width: 13%
}
.break-word {
    word-break: break-word
}